// Default settings
//
// Copy settings from this file into the provided `_custom.scss` to override the defaults.
// This allows for customization without changing core files.

@mixin _assert-ascending($map, $map-type, $map-name) {
    $prev-key: null;
    $prev-num: null;
    @each $key, $num in $map {
        // Handle %-based container max-width by using the breakpoint dimension
        // to generate a rem-based size to compare with.
        @if $map-type == "container" and unit($num) == "%" {
            $bp-num: map-get($grid-breakpoints, $key);
            $num: strip-unit(($num / 100%) * $bp-num) * 1rem;
        }

        @if $prev-num == null {
            // Do nothing
        } @else if not comparable($prev-num, $num) {
            @warn "Potentially invalid value for #{$map-name}: This map must be in ascending order, but key '#{$key}' has value #{$num} whose unit makes it incomparable to #{$prev-num}, the value of the previous key '#{$prev-key}' !";
        } @else if $prev-num >= $num {
            @warn "Invalid value for #{$map-name}: This map must be in ascending order, but key '#{$key}' has value #{$num} which isn't greater than #{$prev-num}, the value of the previous key '#{$prev-key}' !";
        }
        $prev-key: $key;
        $prev-num: $num;
    }
}

@mixin _assert-starts-at-zero($map) {
    $values: map-values($map);
    $first-value: nth($values, 1);
    @if $first-value != 0 {
        @warn "First breakpoint in `$grid-breakpoints` must start at 0, but starts at #{$first-value}.";
    }
}

// Root font size
// =====
// Pixel value used to responsively scale all typography. Applied to the `<html>` element.
$font-size-root:    100% !default;


// Options
// =====
// Quickly modify global styling by enabling or disabling optional features.
$enable-rounded:        true !default;      // true
$enable-shadows:        false !default;     // false
$enable-transitions:    true !default;      // true
$enable-grid-classes:   true !default;      // true
$enable-print-styles:   true !default;      // true
$enable-palette:        true !default;      // true
$enable-sizing:         true !default;      // true
$enable-bp-smallest:    false !default;     // false
$enable-flex-full:      false !default;     // false -- all-in flex mode
$enable-flex-opt:       true !default;      // true -- opt-in via class mode

// If both flex modes selected -- disable the opt-in mode
@if $enable-flex-full and $enable-flex-opt {
    $enable-flex-opt: false;
    @warn "Both flex modes cannot be enabled at the same time.  Opt-in mode CSS generation is being disabled.";
}


// Grayscale
// =====
$white:     #fff !default;
$black:     #000 !default;
$uibase:    #666 !default;

$uibase-50:  palette($uibase, 50);
$uibase-75:  palette($uibase, 75);
$uibase-100:  palette($uibase, 100);
$uibase-200:  palette($uibase, 200);
$uibase-300:  palette($uibase, 300);
$uibase-400:  palette($uibase, 400);
$uibase-500:  palette($uibase, 500);
$uibase-600:  palette($uibase, 600);
$uibase-700:  palette($uibase, 700);
$uibase-800:  palette($uibase, 800);
$uibase-900:  palette($uibase, 900);


// Base Palette Colors
// =====
$red:       #c81d0e !default;
$green:     #108918 !default;
$blue:      #1242ba !default;
$cyan:      #117cba !default;
$mustard:   #c98800 !default;
$gray:      #666 !default;

// List of levels to build CSS out for each of the palette themes
$palette-levels: 50 100 200 300 400 500 600 700 800 900 !default;

$palette-themes: (
    "red":      $red,
    "green":    $green,
    "blue":     $blue,
    "cyan":     $cyan,
    "mustard":  $mustard,
    "gray":     $gray
) !default;


// Contextual Colors
// =====
$context-themes: () !default;
$context-colors: (
    "primary":   $blue,
    "secondary": palette($gray, 450), // bring down a bit
    "info":      $cyan,
    "success":   $green,
    "warning":   $mustard,
    "danger":    $red
) !default;

// Process brand colors
$brand-themes: _mix-context-colors($context-colors);
// Merge into master themes map
$context-themes: map-merge($context-themes, $brand-themes);


// Inverse Color
// =====
$inverse-color: (
    color:  $uibase-50,
    bg:     $uibase-700,
    border: $uibase-500
) !default;


// Spacing
// =====
// Control the default spacing of most elements by modifying these variables.
$spacer:   1rem !default;
$spacer-x: $spacer !default;
$spacer-y: $spacer !default;
$spacers: (
    0: (
        x: 0,
        y: 0
    ),
    0_25: (
        x: ($spacer-x * .25),
        y: ($spacer-y * .25)
    ),
    0_5: (
        x: ($spacer-x * .5),
        y: ($spacer-y * .5)
    ),
    1: (
        x: $spacer-x,
        y: $spacer-y
    ),
    1_5: (
        x: ($spacer-x * 1.5),
        y: ($spacer-y * 1.5)
    ),
    2: (
        x: ($spacer-x * 2),
        y: ($spacer-y * 2)
    )
) !default;


// Grid breakpoints
// =====
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.
$grid-breakpoints: (
    xs: 0,
    sm: bp-to-em(576px),
    md: bp-to-em(768px),
    lg: bp-to-em(992px),
    xl: bp-to-em(1200px)
) !default;
@include _assert-ascending($grid-breakpoints, "breakpoint", "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints);


// Grid containers
// =====
// Define the maximum width of `.container` for different screen sizes.
$container-max-widths: (
    sm: rem-calc(544px),
    md: rem-calc(720px),
    lg: rem-calc(960px),
    xl: rem-calc(1152px)
) !default;
@include _assert-ascending($container-max-widths, "container", "$container-max-widths");


// Grid columns
// =====
// Set the number of columns.
$grid-columns:      12 !default;

// Grid gutters
// =====
// Specify the width of the gutters for each breakpoint.
// These settings affect container, row, and col components.
// If modifying, you will also have to adjust the `$container-max-widths`
// values also to prevent horizontal scrolling.
$grid-gutter-width: 2rem !default;
$grid-gutter-widths: (
    xs: $grid-gutter-width,
    sm: $grid-gutter-width,
    md: $grid-gutter-width,
    lg: $grid-gutter-width,
    xl: $grid-gutter-width
) !default;


// Body
// =====
$body-bg:       $white !default;
$body-color:    $uibase-900 !default;

$faded-bg:      $uibase-50 !default;

// Border dimension in pixels to get proper visual layout
$border-width: 1px !default;

// Links
// =====
// Style anchor elements
$link-color:            map-get($context-colors, "primary") !default;
$link-decoration:       underline !default;
$link-hover-color:      darken($link-color, 25%) !default;
$link-hover-decoration: underline !default;


// Cursors
// =====
$cursor-disabled:                not-allowed !default;

// Typography
// =====
// Font, line-height, and color for body text, headings, and more.
$font-family-sans-serif:    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$font-family-serif:         Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace:     Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:          $font-family-sans-serif !default;

$font-size-base:    1rem !default;
$line-height-base:  1.5 !default;

$font-weight-normal:    normal !default;
$font-weight-bold:      bold !default;
$font-weight-base:      $font-weight-normal !default;

$font-size-h1:  2.5rem !default;
$font-size-h2:  2rem !default;
$font-size-h3:  1.75rem !default;
$font-size-h4:  1.5rem !default;
$font-size-h5:  1.25rem !default;
$font-size-h6:  1rem !default;

$headings-margin-bottom:    ($spacer / 2) !default;
$headings-font-family:      inherit !default;
$headings-font-weight:      600 !default;
$headings-line-height:      1.1 !default;
$headings-color:            inherit !default;

$lead-font-size:    1.25rem !default;
$lead-font-weight:  600 !default;
$lead-line-height:  $line-height-base !default;

$small-font-size:   80% !default;

$text-muted:        $uibase-500 !default;
$text-light-color:  rgba(255,255,255,.875) !default;
$text-light-hover:  rgba(255,255,255,1) !default;
$text-dark-color:   rgba(0,0,0,.875) !default;
$text-dark-hover:   rgba(0,0,0,1) !default;

$abbr-border-color: $uibase-400 !default;

$mark-bg:           #ff0 !default;

$hr-border-color:   rgba(0,0,0,.1) !default;
$hr-border-width:   $border-width !default;

$blockquote-font-size:          ($font-size-base * 1.15) !default;
$blockquote-border-color:       $uibase-300 !default;
$blockquote-border-width:       .1875rem !default;
$blockquote-footer-font-size:   $font-size-base !default;
$blockquote-footer-color:       $uibase-400 !default;

$list-inline-padding: .3em !default;

$dt-font-weight:    $font-weight-bold !default;

// Component pieces
// =====
$border-radius:          .25rem !default;

$active-color:      $white !default;
$active-bg:         map-get($context-colors, "primary") !default;
$active-border:     map-get($context-colors, "primary") !default;
$active-hover-bg:   darken($active-bg, 10) !default;

$caret-width:           .325rem !default;

$close-font-size:       ($font-size-base * 1.5) !default;
$close-font-weight:     $font-weight-bold !default;
$close-color:           #000 !default;
$close-text-shadow:     0 .0625rem 0 #fff !default;

$drag-font-size:        ($font-size-base * 1.5) !default;
$drag-font-weight:      $font-weight-bold !default;
$drag-color:            #000 !default;
$drag-text-shadow:      0 .0625rem 0 #fff !default;


// Component sizes
// =====
// Used for button, button groups, pagination, form-control, and input-group
// 'md' is considered to be the default size, so no classes for this size designator are generated, as in *no* `.btn-md`.
$component-sizes: (
    xs: (
        font-size:      .75rem,
        padding-y:      .1875rem,
        padding-x:      .375rem,
        border-radius:  .1875rem
    ),
    sm: (
        font-size:      .875rem,
        padding-y:      .25rem,
        padding-x:      .5rem,
        border-radius:  .1875rem
    ),
    lg: (
        font-size:      1.125rem,
        padding-y:      .5rem,
        padding-x:      1.125rem,
        border-radius:  .3125rem
    ),
    xl: (
        font-size:      1.25rem,
        padding-y:      .625rem,
        padding-x:      1.25rem,
        border-radius:  .3125rem
    )
) !default;

// Radius utility
// =====
$radius-border-radius: $border-radius !default;


// Image thumbnails
// =====
$thumbnail-padding:             .25rem !default;
$thumbnail-bg:                  $body-bg !default;
$thumbnail-border-width:        $border-width !default;
$thumbnail-border-color:        $uibase-300 !default;
$thumbnail-border-radius:       $border-radius !default;
$thumbnail-box-shadow:          0 .0625rem .125rem rgba(0,0,0,.075) !default;


// Code
// =====
$code-font-size:            87.5% !default;
$code-padding-x:            .4rem !default;
$code-padding-y:            .2rem !default;
$code-color:                map-get($context-colors, "danger") !default;
$code-bg:                   $uibase-75 !default;

$kbd-color:                 $uibase-50 !default;
$kbd-bg:                    $uibase-900 !default;
$kbd-box-shadow:            inset 0 -.1rem 0 rgba(0,0,0,.25) !default;
$kbd-nested-font-weight:    $font-weight-bold !default;
$kbd-border-radius:         .2rem !default;

$pre-bg:                    $uibase-50 !default;
$pre-color:                 $uibase-700 !default;
$pre-border-color:          $uibase-300 !default;
$pre-padding:               .25rem .5rem !default;


// Figures
// =====
$figure-caption-font-size:  87.5% !default;
$figure-caption-color:      $uibase-500 !default;


// Tables
// =====
$table-cell-padding:            .75rem !default;
$table-condensed-cell-padding:  .3125rem .5rem !default;

$table-bg:                  transparent !default;
$table-bg-accent:           rgba(0,0,0,.04) !default;
$table-bg-hover:            rgba(0,0,0,.075) !default;
$table-bg-active:           $table-bg-hover !default;

$table-head-color:          $uibase-900 !default;
$table-head-bg:             $uibase-300 !default;

$table-inverse-color:       map-get($inverse-color, "color") !default;
$table-inverse-bg:          map-get($inverse-color, "bg") !default;
$table-inverse-border:      map-get($inverse-color, "border") !default;
$table-inverse-bg-accent:   rgba(255,255,255,.075) !default;
$table-inverse-bg-hover:    rgba(255,255,255,.1) !default;

$table-border-width:        $border-width !default;
$table-border-color:        $uibase-300 !default;


// Buttons
// =====
// For each button variant, define text, background and border color.
$btn-padding-y:                 .375rem !default;
$btn-padding-x:                 .75rem !default;
$btn-line-height:               1.25 !default;
$btn-font-weight:               $font-weight-normal !default;
$btn-box-shadow:                inset 0 .0625rem 0 rgba(255,255,255,.15);
$btn-active-box-shadow:         inset 0 .2rem .3rem rgba(0,0,0,.125) !default;

$btn-default-color:             $uibase-500 !default;
$btn-default-bg:                $white !default;
$btn-default-border:            $uibase-500 !default;

$btn-link-disabled-color:       $uibase-400 !default;

$btn-block-spacing-y:           .3rem !default;
$btn-toolbar-margin:            .3rem !default;

// Allows for customizing button radius independently from global border radius
$btn-border-radius:             $border-radius !default;


// Forms
// =====
// Padding and line-height should add up to buttons for inputs and selects
// An included line-height-delta routine is included to make this easier
// Implemented horizontal padding will be 1/2 of stated `padding-x`
$input-line-height:             1.5 !default;
$input-line-height-delta:      ($input-line-height - $btn-line-height) !default;

$input-padding-y:               $btn-padding-y - ($input-line-height-delta / 2) !default;
$input-padding-x:               $btn-padding-x !default;

$input-bg:                      $white !default;
$input-bg-disabled:             $uibase-50 !default;

$input-color:                   $uibase-700 !default;
$input-border-color:            rgba(0,0,0,.25) !default;
$input-border-width:            $border-width !default;
$input-box-shadow:              inset 0 .0625rem .0625rem rgba(0,0,0,.075) !default;

$input-border-radius:           $border-radius !default;

$input-border-focus:            #66afe9 !default;
$input-box-shadow-focus:        rgba(102,175,233,.6) !default;

$input-color-placeholder:       #999 !default;

$form-group-margin-bottom:       1rem !default;

$input-group-addon-bg:           $uibase-50 !default;
$input-group-addon-border-color: $input-border-color !default;

$form-inline-breakpoint:         sm !default;

// Base input/select height calculation
// Additional ones for each size are done during size processing generation
$input-height:      (($font-size-base * $input-line-height) + ($input-padding-y * 2)) !default;
$select-height:     calc(#{$input-height} + #{($border-width * 2)}) !default;


// Form icons
// =====
// Use some functions to recolor icons to match context colors
$icon-success: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='#{palette-context-nohash('success', 500)}' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3E%3C/svg%3E") !default;
$icon-warning: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='#{palette-context-nohash('warning', 500)}' d='M4.4 5.324h-.8v-2.46h.8zm0 1.42h-.8V5.89h.8zM3.76.63L.04 7.075c-.115.2.016.425.26.426h7.397c.242 0 .372-.226.258-.426C6.726 4.924 5.47 2.79 4.253.63c-.113-.174-.39-.174-.494 0z'/%3E%3C/svg%3E") !default;
$icon-danger: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#{palette-context-nohash('danger', 500)}' viewBox='-2 -2 7 7'%3E%3Cpath stroke='#{palette-context-nohash('danger', 500)}' d='M0 0l3 3m0-3L0 3'/%3E%3Ccircle r='.5'/%3E%3Ccircle cx='3' r='.5'/%3E%3Ccircle cy='3' r='.5'/%3E%3Ccircle cx='3' cy='3' r='.5'/%3E%3C/svg%3E") !default;


// Custom form controls
// =====
$custom-control-gutter:                 1.5rem !default;
$custom-control-spacer-x:               1rem !default;
$custom-control-spacer-y:               .5rem !default;

$custom-control-indicator-size:         1rem !default;
$custom-control-indicator-bg:           $uibase-50 !default;
$custom-control-indicator-bg-size:      50% 50% !default;
$custom-control-indicator-box-shadow:   inset 0 .25rem .25rem rgba(0,0,0,.1) !default;
$custom-control-indicator-border-width: $border-width !default;
$custom-control-indicator-border-color: $input-border-color !default;

$custom-control-disabled-cursor:             $cursor-disabled !default;
$custom-control-disabled-indicator-bg:       $uibase-200 !default;
$custom-control-disabled-description-color:  $uibase-400 !default;

$custom-control-checked-indicator-color:      $white !default;
$custom-control-checked-indicator-bg:         map-get($context-colors, "primary") !default;
$custom-control-checked-indicator-box-shadow: none !default;

$custom-control-focus-indicator-box-shadow:  0 0 0 .0625rem #fff, 0 0 0 .1875rem $input-border-focus !default;

$custom-control-active-indicator-color:      $white !default;
$custom-control-active-indicator-bg:         palette-context("primary", 300) !default;
$custom-control-active-indicator-box-shadow: none !default;

$custom-checkbox-radius:                    $border-radius !default;
$custom-checkbox-checked-icon:              url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E") !default;
$custom-checkbox-indeterminate-bg:          map-get($context-colors, "primary") !default;
$custom-checkbox-indeterminate-icon:        url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 4'%3E%3Cpath stroke='%23fff' d='M0 2h4'/%3E%3C/svg%3E") !default;
$custom-checkbox-indeterminate-box-shadow:  none !default;

$custom-radio-radius:               50% !default;
$custom-radio-checked-icon:         url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%23fff'/%3E%3C/svg%3E") !default;

$custom-select-indicator-padding:   .75rem !default; // Extra padding to account for the presence of the background-image based indicator
$custom-select-color:               $input-color !default;
$custom-select-disabled-color:      $text-muted !default;
$custom-select-bg:                  $white !default;
$custom-select-disabled-bg:         $input-bg-disabled !default;
$custom-select-bg-size:             8px 10px !default; // In pixels because image dimensions
$custom-select-indicator:           url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23333' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") !default;
$custom-select-border-width:        $input-border-width !default;
$custom-select-border-color:        $input-border-color !default;
$custom-select-border-radius:       $border-radius !default;

$custom-select-focus-border-color:  $input-border-focus !default;
$custom-select-focus-box-shadow:    inset 0 .0625rem .125rem rgba(0,0,0,.075), 0 0 .3125rem rgba(81,167,232,.5) !default;

$custom-select-sm-padding-y:        .2rem !default;
$custom-select-sm-font-size:        75% !default;

$custom-file-width:                 14rem !default;
$custom-file-focus-box-shadow:      0 0 0 .075rem #fff, 0 0 0 .2rem map-get($context-colors, "primary") !default;

$custom-file-color:                 $uibase-600 !default;
$custom-file-bg:                    $white !default;
$custom-file-border-width:          $border-width !default;
$custom-file-border-color:          rgba(0,0,0,.25) !default;
$custom-file-border-radius:         $border-radius !default;
$custom-file-box-shadow:            inset 0 .2rem .4rem rgba(0,0,0,.05) !default;
$custom-file-button-color:          $custom-file-color !default;
$custom-file-button-bg:             $uibase-50 !default;
$custom-file-text: (
    placeholder: (
        en: "Choose file..."
    ),
    button-label: (
        en: "Browse"
    )
) !default;


// Progress bars
// =====
$progress-height:           $spacer-y !default;
$progress-bg:               $uibase-50 !default;
$progress-border-radius:    $border-radius !default;
$progress-box-shadow:       inset 0 .1rem .1rem rgba(0,0,0,.1) !default;

$progress-bar-bg:           $uibase-400 !default;


// List group
// =====
$list-group-bg:                     $white !default;
$list-group-border-color:           $uibase-300 !default;
$list-group-border-width:           $border-width !default;
$list-group-border-radius:          $border-radius !default;

$list-group-hover-bg:               $uibase-50 !default;
$list-group-active-color:           $active-color !default;
$list-group-active-bg:              $active-bg !default;
$list-group-active-hover-color:     $active-color !default;
$list-group-active-hover-bg:        $active-hover-bg !default;
$list-group-active-border:          $list-group-active-bg !default;
$list-group-active-text-color:      lighten($list-group-active-bg, 40%) !default;

$list-group-disabled-color:         $uibase-400 !default;
$list-group-disabled-bg:            darken($uibase-50, 5) !default;
$list-group-disabled-text-color:    $list-group-disabled-color !default;

$list-group-link-color:             $uibase-700 !default;
$list-group-link-hover-color:       $list-group-link-color !default;
$list-group-link-heading-color:     $uibase-900 !default;

$list-group-item-padding-y:             .75rem !default;
$list-group-item-padding-x:             1rem !default;
$list-group-item-heading-margin-bottom: .3em !default;


// Breadcrumbs
// =====
$breadcrumb-padding-y:          .75rem !default;
$breadcrumb-padding-x:          1rem !default;
$breadcrumb-item-padding:       .5rem !default;
$breadcrumb-border-radius:      $border-radius !default;

$breadcrumb-bg:                 $uibase-50 !default;
$breadcrumb-divider-color:      $uibase-400 !default;
$breadcrumb-active-color:       $uibase-500 !default;
$breadcrumb-divider:            "/" !default;


// Pagination
// =====
$pagination-line-height:        $btn-line-height !default;
$pagination-padding-x:          $btn-padding-x !default;
$pagination-padding-y:          $btn-padding-y !default;

$pagination-color:              $link-color !default;
$pagination-bg:                 $white !default;
$pagination-border-width:       $border-width !default;
$pagination-border-color:       $uibase-300 !default;
$pagination-border-radius:      $border-radius !default;

$pagination-hover-color:        $link-hover-color !default;
$pagination-hover-bg:           $uibase-50 !default;
$pagination-hover-border:       $uibase-300 !default;

$pagination-active-color:       $active-color !default;
$pagination-active-bg:          $active-bg !default;
$pagination-active-hover-color: $active-color !default;
$pagination-active-hover-bg:    $active-hover-bg !default;

$pagination-disabled-color:     $uibase-500 !default;
$pagination-disabled-bg:        darken($uibase-50, 10) !default;


// Dropdowns
// =====
$dropdown-min-width:             160px !default;
$dropdown-padding-y:             .3rem !default;
$dropdown-margin-top:            .125rem !default;
$dropdown-bg:                    $white !default;
$dropdown-border-color:          $uibase-300 !default;
$dropdown-border-width:          $border-width !default;
$dropdown-divider-color:         $uibase-300 !default;
$dropdown-box-shadow:            0 .2rem .3rem rgba(0,0,0,.175) !default;

$dropdown-link-color:            $uibase-900 !default;
$dropdown-link-hover-color:      $uibase-900 !default;
$dropdown-link-hover-bg:         $uibase-50 !default;

$dropdown-link-active-color:     $active-color !default;
$dropdown-link-active-bg:        $active-bg !default;
$dropdown-link-active-hover-bg:  $active-hover-bg !default;

$dropdown-link-disabled-color:   $uibase-400 !default;

$dropdown-item-padding-x:        1.25rem !default;
$dropdown-item-padding-y:        .2rem !default;

$dropdown-header-font-size:      .875rem !default;
$dropdown-header-font-weight:    $font-weight-normal !default;
$dropdown-header-color:          $uibase-400 !default;

$dropdown-caret-color:          $uibase-400 !default;
$dropdown-caret-width:          .45rem !default;


// Navs
// =====
$nav-item-margin:               .2rem !default;
$nav-item-inline-spacer:        1rem !default;
$nav-link-padding:              .5rem 1rem !default;
$nav-link-hover-bg:             $uibase-300 !default;
$nav-disabled-link-color:       $uibase-300 !default;
$nav-disabled-link-hover-color: $uibase-300 !default;
$nav-disabled-link-hover-bg:    transparent !default;

$nav-divider-color:             $uibase-50 !default;

$nav-tabs-border-color:                       $uibase-400 !default;
$nav-tabs-border-width:                       $border-width !default;
$nav-tabs-link-hover-border-color:            $uibase-50 !default;
$nav-tabs-link-hover-bg:                      $uibase-50 !default;
$nav-tabs-active-link-hover-color:            $uibase-500 !default;
$nav-tabs-active-link-hover-bg:               $body-bg !default;
$nav-tabs-active-link-hover-border-color:     $uibase-400 !default;

$nav-pills-border-radius:       $border-radius !default;
$nav-pills-hover-bg:            $uibase-50 !default;
$nav-pills-active-link-color:   $active-color !default;
$nav-pills-active-link-bg:      $active-bg !default;
$nav-pills-active-hover-bg:     $active-hover-bg !default;


// Navbar
// =====
$navbar-border-radius:              $border-radius !default;
$navbar-padding-x:                  $spacer !default;
$navbar-padding-y:                  ($spacer / 2) !default;
$navbar-margin-bottom:              1rem !default;
$navbar-breakpoint:                 sm !default;

$navbar-item-padding-y:             .425rem !default;

$navbar-brand-padding-y:            .25rem !default;
$navbar-brand-margin-x:             1rem !default;
$navbar-brand-font-size:            1.25rem !default;
$navbar-brand-font-weight:          $font-weight-bold !default;

$navbar-divider-padding-y:          .425rem !default;

$navbar-toggler-font-size:          1.25rem !default;
$navbar-toggler-padding-y:          .5rem !default;
$navbar-toggler-padding-x:          .75rem !default;

$navbar-dark-color:                 rgba(255,255,255,.65) !default;
$navbar-dark-hover-color:           rgba(255,255,255,.9) !default;
$navbar-dark-active-color:          rgba(255,255,255,.95) !default;
$navbar-dark-disabled-color:        rgba(255,255,255,.25) !default;
$navbar-dark-divider-color:         rgba(255,255,255,.70) !default;

$navbar-light-color:                rgba(0,0,0,.60) !default;
$navbar-light-hover-color:          rgba(0,0,0,.85) !default;
$navbar-light-active-color:         rgba(0,0,0,.95) !default;
$navbar-light-disabled-color:       rgba(0,0,0,.25) !default;
$navbar-light-divider-color:        rgba(0,0,0,.65) !default;


// Jumbotron
// =====
$jumbotron-padding-y:       3rem !default;
$jumbotron-padding-x:       1.5rem !default;
$jumbotron-padding-xs-y:    1.5rem !default;
$jumbotron-padding-xs-x:    .75rem !default;
$jumbotron-bg:              $uibase-50 !default;
$jumbotron-border-radius:   .3rem !default;
$jumbotron-breakpoint:      sm !default;


// Badges
// =====
$badge-color:               $white !default;
$badge-bg:                  $uibase-400 !default;
$badge-link-hover-color:    $white !default;
$badge-font-size:           75% !default;
$badge-font-weight:         $font-weight-bold !default;
$badge-padding-x:           .375em !default;
$badge-padding-y:           .25em !default;
$badge-border-radius:       .25em !default;
$badge-border-width:        $border-width !default;

$badge-pill-padding-x:      .5em !default;
// Use a higher than normal value to ensure completely rounded edges when
// customizing padding or font-size on badges.
$badge-pill-border-radius:  10rem !default;

$badge-outline-background:       transparent !default;
$badge-outline-link-hover-color: $white !default;


// Alerts
// =====
$alert-padding-x:           1rem !default;
$alert-padding-y:           1rem !default;
$alert-margin-bottom:       $spacer-y !default;
$alert-border-radius:       $border-radius !default;
$alert-link-font-weight:    $font-weight-bold !default;
$alert-border-width:        $border-width !default;


// Media objects
// =====
$media-margin-y:                1rem !default;
$media-heading-margin-bottom:   ($headings-margin-bottom * .75) !default;
$media-alignment-padding-x:     .75rem !default;


// Cards
// =====
$card-spacer-x:            1.25rem !default;
$card-spacer-y:            1rem !default;
$card-border-width:        $border-width !default;
$card-border-radius:       $border-radius !default;
$card-border-radius-inner: calc(#{$border-radius} - #{$card-border-width}) !default;
$card-border-color:        $uibase-300 !default;
$card-cap-color:           $uibase-900 !default;
$card-cap-bg:              $uibase-50 !default;
$card-bg:                  $white !default;

$card-link-hover-color:    $white !default;

$card-padding-y:           1rem !default;
$card-padding-x:           1rem !default;
$card-img-overlay-padding: $card-padding-y $card-padding-x !default;

$card-deck-breakpoint:      sm !default;
// `xs` gutter is not defined since is it below the `$card-deck-breakpoint` setting
$card-deck-gutter-widths: (
    sm: map-get($grid-gutter-widths, sm),
    md: map-get($grid-gutter-widths, md),
    lg: map-get($grid-gutter-widths, lg),
    xl: map-get($grid-gutter-widths, xl),
) !default;


$card-group-breakpoint:     sm !default;

$card-columns-breakpoint:   sm !default;
$card-columns-column-gap:   1.25rem !default;


// Tooltips
// =====
$tooltip-max-width:     200px !default;
$tooltip-padding-y:     .25rem !default;
$tooltip-padding-x:     .5rem !default;
$tooltip-margin:        .2rem !default;

$tooltip-font-size:     .875rem !default;
$tooltip-color:         $white !default;
$tooltip-bg:            $black !default;
$tooltip-opacity:       .9 !default;
$tooltip-border-radius: .25rem !default;

// Arrow dimension in pixels to get proper visual layout
$tooltip-arrow-width:   4px !default;
$tooltip-arrow-color:   $tooltip-bg !default;


// Popovers
// =====
$popover-bg:                          $white !default;
$popover-max-width:                   276px !default;
$popover-border-width:                $border-width !default;
$popover-border-color:                rgba(0,0,0,.2) !default;
$popover-border-radius:               .3rem !default;
$popover-box-shadow:                  0 .2rem .3rem rgba(0,0,0,.175) !default;

$popover-title-bg:                    $uibase-50 !default;
$popover-title-padding-x:             .75rem !default;
$popover-title-padding-y:             .5rem !default;

$popover-content-padding-x:           .75rem !default;
$popover-content-padding-y:           .5rem !default;

// Arrow dimension in pixels to get proper visual layout
$popover-arrow-width:                 10px !default;
$popover-arrow-color:                 $popover-bg !default;
$popover-arrow-border-width:          $border-width !default;
$popover-arrow-outer-width:           ($popover-arrow-width + $popover-arrow-border-width) !default;
$popover-arrow-outer-color:           fade-in($popover-border-color, .05) !default;


// Modals
// =====
// Padding applied to the modal body
$modal-dialog-margin:           .625rem !default;
$modal-dialog-sm-up-margin-y:   1.875rem !default;

$modal-header-padding-y:        .75rem !default;
$modal-header-padding-x:        1rem !default;
$modal-title-line-height:       $line-height-base !default;

$modal-inner-padding-y:         .75rem !default;
$modal-inner-padding-x:         1rem !default;

$modal-content-bg:               $white !default;
$modal-content-border-color:     rgba(0,0,0,.2) !default;
$modal-content-border-width:     $border-width !default;
$modal-content-xs-box-shadow:    0 .2rem .6rem rgba(0,0,0,.5) !default;
$modal-content-sm-up-box-shadow: 0 .3rem 1rem rgba(0,0,0,.5) !default;

$modal-footer-padding-y:        .75rem !default;
$modal-footer-padding-x:        1rem !default;

$modal-backdrop-bg:             $black !default;
$modal-backdrop-opacity:        .5 !default;
$modal-header-border-color:     rgba(0,0,0,.1) !default;
$modal-footer-border-color:     $modal-header-border-color !default;
$modal-header-border-width:     $modal-content-border-width !default;
$modal-footer-border-width:     $modal-header-border-width !default;
$modal-border-radius:           .3rem !default;

$modal-sm:                      rem-calc(304px) !default; // 304px=>19rem
$modal-md:                      rem-calc(528px) !default; // 528px=>33rem
$modal-lg:                      rem-calc(896px) !default; // 896px=>56rem

$modal-breakpoint:              sm !default; // When to start scaling up modal width
$modal-lg-breakpoint:           lg !default; // The minimum breakpoint to allow `.modal-lg`


// Grid lines
// =====
$gridline-padding-y:        1rem !default;
$gridline-margin-y:         1rem !default;
$gridline-border-width:     $border-width !default;
$gridline-border-color:     $uibase-400 !default;
$gridline-border-radius:    $border-radius !default;


// Slider
// =====
//$slider-horizontal-width:         200px !default;
$slider-horizontal-height:          1.25rem !default;
$slider-horizontal-margin:          .75rem !default;
$slider-horizontal-track-height:    ($slider-horizontal-height / 2) !default;
$slider-horizontal-track-margin:    (($slider-horizontal-height - $slider-horizontal-track-height) / 2) !default;

$slider-vertical-width:             1.25rem !default;
$slider-vertical-height:            200px !default;
$slider-vertical-margin:            .75rem !default;
$slider-vertical-track-width:       ($slider-vertical-width / 2) !default;
$slider-vertical-track-margin:      (($slider-vertical-width - $slider-vertical-track-width) / 2) !default;

$slider-thumb-width:                1.25rem !default;
$slider-thumb-height:               1.25rem !default;
$slider-thumb-border-radius:        50% !default;

$slider-thumb-min-bg:               map-get($context-colors, "primary") !default;
$slider-thumb-min-hover-bg:         darken($slider-thumb-min-bg, 10%) !default;
$slider-thumb-max-bg:               map-get($context-colors, "danger") !default;
$slider-thumb-max-hover-bg:         darken($slider-thumb-max-bg, 10%) !default;

$slider-track-bg:                   $uibase-100 !default;
$slider-track-border-radius:        $border-radius !default;

$slider-selection-bg:               $uibase-300  !default;

$slider-thumb-shadow:               inset .125rem .125rem .125rem rgba(255, 255, 255, .4), inset -.125rem -.125rem .125rem rgba(0, 0, 0, .15) !default;
$slider-track-shadow:               inset 0 .0625rem .125rem rgba(0, 0, 0, .1) !default;

$slider-disabled-track-opacity:     .75 !default;
$slider-disabled-thumb-opacity:     .9 !default;


// Player
// =====
//$player-placeholder:    none !default;

// Z-index master list
// =====
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.

// Figuration alters Bootstrap defaults to put modals above popover/tooltip items that are held open.
// Tooltips/popovers should also be able to appear over navbars.
// (older BS 3.2 refrerence: bugs #13216, #13217)
$zindex-dropdown-backdrop:  990 !default;
$zindex-navbar:            1000 !default;
$zindex-dropdown:          1000 !default;
$zindex-popover:           1025 !default; //1060 !default;
$zindex-tooltip:           1030 !default; //1070 !default;
$zindex-navbar-fixed:      1020 !default; //1030 !default;
$zindex-navbar-sticky:     1020 !default; //1030 !default;
$zindex-modal-backdrop:    1040 !default;
$zindex-modal:             1050 !default;
