// Options
// =====
// Quickly modify global styling by enabling or disabling optional features.
$enable-rounded:            true !default;      // true
$enable-shadows:            false !default;     // false
$enable-transitions:        true !default;      // true
$enable-grid-classes:       true !default;      // true
$enable-print-styles:       true !default;      // true
$enable-palette:            true !default;      // true
$enable-sizing:             true !default;      // true
$enable-bp-smallest:        false !default;     // false
$enable-rfs-fluid:          false !default;     // false
$enable-rfs-scale:          false !default;     // false
$enable-color-warnings:     false !default;     // false
$enable-validation-icons:   true !default;      // true

// Palette
// =====
// List of levels to build CSS out for each of the palette themes
// Valid levels 0-1000
$palette-levels: 50 100 200 300 400 500 600 700 800 900 !default;

// Percentage value per level to mix against white or black
// Darker levels (>500) get narrower step interval than lighter
// Values must be <= .2%
$palette-interval-light:    .2% !default;
$palette-interval-dark:     .15% !default;

// Palette levels for use in _mix-context-colors() to determine
// standardized contextual color mapping.
// Special values:
//  level < 0 = #fff
//  level > 1000 = #000
$level-control: (
    "bg":                   500,
    "color":                -1,
    "border-color":         600,
    "hover-bg":             600,
    "hover-color":          -1,
    "hover-border-color":   700,
    "active-bg":            700,
    "active-color":         -1,
    "active-border-color":  700
) !default;

$level-context: (
    "bg":                   100,
    "color":                800,
    "border-color":         200,
    "hover-bg":             200,
    "hover-color":          900,
    "hover-border-color":   300,
    "active-bg":            300,
    "active-color":         900,
    "active-border-color":  300
) !default;


// Increase (or decrease with negative number) to alter color for the hover state of
//`.text-{color}-(palette-level} and `.bg-{color}-(palette-level} utilities
$level-delta-hover-color:           100 !default;
$level-delta-hover-bg:              100 !default;


// Colors
// =====
// Base Colors
$uibase:    #5e7182 !default;
$white:     #fff !default;
$gray:      #666 !default;
$black:     #000 !default;
$red:       #d42314 !default;
$green:     #0e8a16 !default;
$blue:      #0055e9 !default;
$cyan:      #1680a4 !default;
$yellow:    #f8c223 !default;

// Base UI Scale
$uibase-50:   palette($uibase, 50) !default;
$uibase-100:  palette($uibase, 100) !default;
$uibase-200:  palette($uibase, 200) !default;
$uibase-300:  palette($uibase, 300) !default;
$uibase-400:  palette($uibase, 400) !default;
$uibase-500:  palette($uibase, 500) !default;
$uibase-600:  palette($uibase, 600) !default;
$uibase-700:  palette($uibase, 700) !default;
$uibase-800:  palette($uibase, 800) !default;
$uibase-900:  palette($uibase, 900) !default;

// Color Variables
$primary:   $blue !default;
$secondary: $uibase !default;
$info:      $cyan !default;
$success:   $green !default;
$warning:   $yellow !default;
$danger:    $red !default;
$light:     palette($uibase, 50) !default;
$dark:      palette($uibase, 800) !default;

// Base Color Map - used for generating contextual variants
// stylelint-disable
$base-colors: () !default;
$base-colors: map-merge((
    "primary":   $primary,
    "secondary": $secondary,
    "info":      $info,
    "success":   $success,
    "warning":   $warning,
    "danger":    $danger,
    "light":     $light,
    "dark":      $dark
), $base-colors);
// stylelint-enable

// Palette Colors
$palette-colors: () !default;
// stylelint-disable
$palette-colors: map-merge((
    "uibase":    $uibase,
    "primary":   $primary,
    "secondary": $secondary,
    "info":      $info,
    "success":   $success,
    "warning":   $warning,
    "danger":    $danger,
    "gray":      $gray
), $palette-colors);
// stylelint-enable

// Color Contrast
// =====
// Minimum contrast ratio - WCAG 2.1 level AA spec
$color-contrast-min-ratio:  4.5 !default;
$color-contrast-base-light: $white !default;
$color-contrast-base-dark:  $uibase-900 !default;


// Component Color Variants and Levels
// =====
$root-colors:           map-merge($base-colors, $palette-colors) !default;
$alert-colors:          $base-colors !default;
$badge-colors:          $base-colors !default;
$badge-outline-colors:  $base-colors !default;
$btn-colors:            $base-colors !default;
$btn-outline-colors:    $base-colors !default;
$list-colors:           $base-colors !default;
$switch-colors:         $base-colors !default;
$table-colors:          $base-colors !default;
$utility-bg-colors:     $base-colors !default;
$utility-border-colors: $base-colors !default;
$utility-text-colors:   $base-colors !default;

$alert-levels:          $level-context !default;
$badge-levels:          $level-control !default;
$badge-outline-levels:  $level-control !default;
$btn-levels:            $level-control !default;
$btn-outline-levels:    $level-control !default;
$list-levels:           $level-context !default;
$switch-levels:         $level-control !default;
$table-levels:          $level-context !default;


// Component Theme Initialization
// =====
// Themes are mixed, using `$*-colors` and `$*-levels`, and merged
// inside each of their component sources.  They are included here
// for including additional color themes.
$alert-themes:          () !default;
$badge-themes:          () !default;
$badge-outline-themes:  () !default;
$btn-themes:            () !default;
$btn-outline-themes:    () !default;
$list-themes:           () !default;
$switch-themes:         () !default;
$table-themes:          () !default;


// Spacing
// =====
// Control the default spacing of most elements by modifying these variables.
$spacer:   1rem !default;
$spacers: () !default;
// stylelint-disable
$spacers: map-merge((
    "0":    0,
    "0_25": ($spacer * .25),
    "0_5":  ($spacer * .5),
    "1":    $spacer,
    "1_5":  ($spacer * 1.5),
    "2":    ($spacer * 2)
), $spacers);
// stylelint-enable

$spacer-negative-prepend: n !default;


// Grid breakpoints
// =====
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.
$grid-breakpoints: (
    xs: 0,
    sm: bp-to-em(576px),
    md: bp-to-em(768px),
    lg: bp-to-em(992px),
    xl: bp-to-em(1200px)
) !default;
@include _assert-ascending($grid-breakpoints, "breakpoint", "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints);

// Component and utility breakpoints
// =====
// Each component and utility that uses breakpoints gets its own list
// of breakpoint keys based upon the master `$grid-breakpoints` map.
// This way each the CSS for each of the items can be controlled and reduced as needed.
// The items in the following lists *must* be in the keys for the `$grid-breakpoints` map.
$card-deck-breakpoints:             map-keys($grid-breakpoints) !default;
$card-group-breakpoints:            map-keys($grid-breakpoints) !default;
$card-columns-breakpoints:          map-keys($grid-breakpoints) !default;
$navbar-expand-breakpoints:         map-keys($grid-breakpoints) !default;
$table-scroll-breakpoints:          map-keys($grid-breakpoints) !default;
$utility-border-breakpoints:        map-keys($grid-breakpoints) !default;
$utility-display-breakpoints:       map-keys($grid-breakpoints) !default;
$utility-flex-breakpoints:          map-keys($grid-breakpoints) !default;
$utility-float-breakpoints:         map-keys($grid-breakpoints) !default;
$utility-position-breakpoints:      map-keys($grid-breakpoints) !default;
$utility-screen-reader-breakpoints: map-keys($grid-breakpoints) !default;
$utility-spacing-breakpoints:       map-keys($grid-breakpoints) !default;
$utility-text-align-breakpoints:    map-keys($grid-breakpoints) !default;
$utility-valign-breakpoints:        map-keys($grid-breakpoints) !default;

// Grid containers
// =====
// Define the maximum width of `.container` for different screen sizes.
$container-max-widths: (
    sm: rem(544px),
    md: rem(720px),
    lg: rem(960px),
    xl: rem(1152px)
) !default;
@include _assert-ascending($container-max-widths, "container", "$container-max-widths");


// Grid columns
// =====
// Set the number of columns.
$grid-columns:      12 !default;


// Grid gutters
// =====
// Specify the width of the gutters for each breakpoint.
// These settings affect container, row, and col components.
// If modifying, you will also have to adjust the `$container-max-widths`
// values also to prevent horizontal scrolling.
$grid-gutter-width: 2rem !default;
$grid-gutter-widths: (
    xs: $grid-gutter-width,
    sm: $grid-gutter-width,
    md: $grid-gutter-width,
    lg: $grid-gutter-width,
    xl: $grid-gutter-width
) !default;


// Borders
// =====
// Border dimension in pixels to get proper visual layout
$border-width:      1px !default;
$border-color:      $uibase-200 !default;
$border-radius:     .25rem !default;


// Body
// =====
$body-bg:               $white !default;
$body-color:            $uibase-900 !default;


// Links
// =====
// Style anchor elements
$link-color:            palette($primary, 500) !default;
$link-decoration:       underline !default;
$link-hover-color:      palette($primary, 700) !default;
$link-hover-decoration: underline !default;


// Paragraph
// =====
$paragraph-spacer-y:    1rem !default;


// Typography
// =====
// Font, line-height, and color for body text, headings, and more.
// stylelint-disable value-keyword-case
$font-family-sans-serif:    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-serif:         Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace:     SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:          $font-family-sans-serif !default;
// stylelint-enable value-keyword-case

$font-size-base:    1rem !default;
$line-height-base:  1.5 !default;

$font-weight-lighter:   lighter !default;
$font-weight-light:     300 !default;
$font-weight-normal:    400 !default;
$font-weight-bold:      700 !default;
$font-weight-bolder:    bolder !default;
$font-weight-base:      $font-weight-normal !default;

$font-size-h1:  ($font-size-base * 2.5) !default;
$font-size-h2:  ($font-size-base * 2) !default;
$font-size-h3:  ($font-size-base * 1.75) !default;
$font-size-h4:  ($font-size-base * 1.5) !default;
$font-size-h5:  ($font-size-base * 1.25) !default;
$font-size-h6:  ($font-size-base * 1) !default;

$headings-margin-bottom:    ($spacer / 2) !default;
$headings-font-family:      inherit !default;
$headings-font-weight:      600 !default;
$headings-line-height:      1.25 !default;
$headings-color:            inherit !default;

$lead-font-size:    ($font-size-base * 1.25) !default;
$lead-font-weight:  600 !default;
$lead-line-height:  $line-height-base !default;

$small-font-size:   80% !default;

$text-muted:        $uibase-500 !default;

$mark-padding-x:    .25rem !default;
$mark-bg:           #ff0 !default;

$hr-spacer-y:       1rem !default;
$hr-border-color:   rgba($black, .1) !default;
$hr-border-width:   $border-width !default;

$blockquote-font-size:          ($font-size-base * 1.1875) !default;
$blockquote-color:              $body-color !default;
$blockquote-footer-font-size:   $font-size-base !default;
$blockquote-footer-color:       $uibase-500 !default;
$blockquote-footer-content:     "\2014\A0" !default; // em dash, nbsp

$dt-font-weight:    $font-weight-bold !default;


// Responsive Typography
// =====
// **Only one responsive typography method can be enabled.**
// By default, these are off, resulting in a static font size across all viewport sizes.

// Common settings
// Only used when one of Responsive Typography methods is enabled.
$responsive-font-size-minimum-size:     1rem !default;
$responsive-font-size-generate-static:  true !default;

// Ratioed Responsive Typography
// Fluidly scales font size ratio by viewport dimension.
$responsive-font-size-fluid-breakpoint:        bp-to-em(1200px) !default;
$responsive-font-size-fluid-factor:            5 !default;
$responsive-font-size-fluid-two-dimensional:   false !default;

// Scaled Responsive Typography
// Steps font size by breakpoint.
$responsive-font-size-scale-factor: (
    xs: .625,
    sm: .71875,
    md: .8125,
    lg: .90625,
    xl: 1
) !default;


// Component base colors
// =====
$component-bg:                  $white !default;
$component-border-color:        $border-color !default;

$component-hover-bg:            $uibase-50 !default;

$component-action-color:        $uibase-700 !default;
$component-action-hover-color:  $uibase-800 !default;

$component-active-bg:           $primary !default;
$component-active-color:        color-if-contrast($white, $primary) !default;
$component-active-border-color: palette($primary, 600) !default;

$component-disabled-color:      $uibase-300 !default;
$component-disabled-bg:         transparent !default;

$component-overlay-border-color:    rgba($uibase-900, .4) !default;
$component-section-bg:              rgba($uibase-900, .0875) !default;
$component-section-border-color:    rgba($uibase-900, .3) !default;


// Component sizes
// =====
// Used for button, button groups, pagination, form-control, and input-group
// 'md' is considered to be the default size, so no classes for this size designator are generated, as in *no* `.btn-md`.
$component-sizes: () !default;
// stylelint-disable
$component-sizes: map-merge((
    "xsmall": (
        "padding-y":     .125rem,
        "padding-x":     .375rem,
        "font-size":     ($font-size-base * .75),
        "line-height":   1.5,
        "border-radius": .1875rem
    ),
    "small": (
        "padding-y":     .1875rem,
        "padding-x":     .5rem,
        "font-size":     ($font-size-base * .875),
        "line-height":   1.5,
        "border-radius": .1875rem
    ),
    "large": (
        "padding-y":     .3125rem,
        "padding-x":     1.125rem,
        "font-size":     ($font-size-base * 1.125),
        "line-height":    1.5,
        "border-radius": .3125rem
    ),
    "xlarge": (
        "padding-y":     .375rem,
        "padding-x":     1.25rem,
        "font-size":     ($font-size-base * 1.25),
        "line-height":    1.5,
        "border-radius": .3125rem
    )
), $component-sizes);
// stylelint-enable

// Per component/utility sizing
$btn-sizes:             $component-sizes !default;
$input-sizes:           $component-sizes !default;
$pagination-sizes:      $component-sizes !default;
$utility-radius-sizes:  $component-sizes !default;


// Shadows
// =====
// Control the `box-shadow` depth.
$shadows: () !default;
// stylelint-disable
$shadows: map-merge((
    "0":  none,
    "d1": 0 .125rem .25rem rgba($black, .15),
    "d2": 0 .125rem .5rem rgba($black, .15),
    "d3": 0 .125rem .75rem rgba($black, .15),
    "d4": 0 .125rem 1rem rgba($black, .15),
    "d5": 0 .125rem 1.25rem rgba($black, .15),
    "i1": inset 0 .125rem .25rem rgba($black, .15),
    "i2": inset 0 .125rem .5rem rgba($black, .15),
    "i3": inset 0 .125rem .75rem rgba($black, .15),
    "i4": inset 0 .125rem 1rem rgba($black, .15),
    "i5": inset 0 .125rem 1.25rem rgba($black, .15)
), $shadows);
// stylelint-enable


// Component pieces
// =====
$caret-width:           1rem !default;
$caret-border-width:    .3125rem !default;

$close-font-size:       ($font-size-base * 1.5) !default;
$close-font-weight:     $font-weight-bold !default;
$close-opacity:         .65 !default;
$close-hover-opacity:   .85 !default;

$drag-font-size:        ($font-size-base * 1.5) !default;
$drag-font-weight:      $font-weight-bold !default;
$drag-opacity:          .65 !default;
$drag-hover-opacity:    .85 !default;


// Transitions
// =====
// Widget animations
$transition-fade:       opacity .15s linear !default;
$transition-lazy-fade:  opacity .3s linear !default;
$transition-collapse-y: height .3s ease !default;
$transition-collapse-x: width .3s ease !default;

// Component transitions
$btn-transition:            color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out !default;
$input-transition:          background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out !default;
$modal-transition:          transform .3s ease-out !default;
$progress-bar-transition:   width .3s ease !default;
$switch-transition:         all .15s ease !default;
$switch-control-transition: background-color .3s ease !default;
$switch-indicator-transition: left .3s ease, transform .3s ease, background-color .3s ease !default;


// Radius utility
// =====
$radius-border-radius: $border-radius !default;


// Image thumbnails
// =====
$thumbnail-padding:             .25rem !default;
$thumbnail-bg:                  $body-bg !default;
$thumbnail-border-width:        $border-width !default;
$thumbnail-border-color:        $uibase-300 !default;
$thumbnail-border-radius:       $border-radius !default;
$thumbnail-box-shadow:          0 .0625rem .125rem rgba($black, .075) !default;


// Fluid embed
// =====
$embed-fluid-default-ratio: percentage(9 / 16) !default;
$embed-fluid-aspect-ratios: (
    (21, 9),
    (16, 9),
    (4, 3),
    (1, 1)
) !default;

// Code
// =====
$code-font-size:            87.5% !default;
$code-padding-x:            .4375rem !default;
$code-padding-y:            .125rem !default;
$code-color:                palette($red, 550) !default;
$code-bg:                   $uibase-50 !default;

$kbd-color:                 $uibase-50 !default;
$kbd-bg:                    $uibase-900 !default;
$kbd-box-shadow:            inset 0 -.1rem 0 rgba($black, .25) !default;
$kbd-nested-font-weight:    $font-weight-bold !default;
$kbd-border-radius:         .1875rem !default;

$pre-color:                 $uibase-700 !default;


// Figures
// =====
$figure-spacer-y:           .5rem !default;
$figure-caption-font-size:  87.5% !default;
$figure-caption-color:      $uibase-500 !default;


// Lists
// =====
$list-margin-left:              1.25rem !default;
$list-margin-bottom:            1rem !default;

$list-item-bg:                  transparent !default;
$list-item-disabled-bg:         $list-item-bg !default;
$list-item-disabled-color:      $component-disabled-color !default;
$list-item-active-bg:           $component-active-bg !default;
$list-item-active-color:        $component-active-color !default;
$list-item-active-border:       $component-active-border-color !default;
$list-item-action-color:        $component-action-color !default;
$list-item-action-hover-color:  $list-item-action-color !default;
$list-item-action-hover-bg:     $component-hover-bg !default;

$list-border-width:             $border-width !default;
$list-border-color:             $component-border-color !default;
$list-group-border-radius:      $border-radius !default;

$list-bulleted-content:         "\25cf\a0" !default; // Geomentric shape - black circle and a space
$list-ordered-delimeter:        "\a0" !default; // Space
$list-horizontal-padding:       .5em !default;
$list-spaced-item-padding-y:    .75rem !default;
$list-spaced-item-padding-x:    1rem !default;


// Tables
// =====
$table-margin-bottom:           $spacer !default;
$table-cell-padding:            .75rem !default;
$table-condensed-cell-padding:  .3125rem .5rem !default;
$table-caption-color:           $uibase-500 !default;

$table-bg:                  $component-bg !default;
$table-bg-hover:            $component-hover-bg !default;
$table-bg-active:           $table-bg-hover !default;
$table-bg-active-hover:     $uibase-200 !default;

$table-border-width:        $border-width !default;
$table-border-color:        $component-border-color !default;
$table-head-border-width:   2 * $table-border-width !default;
$table-body-border-width:   2 * $table-border-width !default;
$table-foot-border-width:   2 * $table-border-width !default;

$table-striped-selector:    odd !default;
$table-striped-box-shadow:      inset 0 0 0 999rem rgba($uibase-900, .075) !default;
$table-striped-alt-box-shadow:  inset 0 0 0 999rem rgba($white, .125) !default;

$table-hover-box-shadow:        inset 0 0 0 999rem rgba($uibase-900, .125) !default;
$table-hover-alt-box-shadow:    inset 0 0 0 999rem rgba($white, .2) !default;

// Buttons
// =====
$btn-padding-y:             .25rem !default;
$btn-padding-x:             .75rem !default;
$btn-font-weight:           $font-weight-normal !default;
$btn-line-height:           1.5 !default;
$btn-border-width:          $border-width !default;
$btn-border-radius:         $border-radius !default;
$btn-box-shadow:            inset 0 .125em .25em rgba($white, .25), 0 .125em .125em rgba($black, .075) !default;
$btn-active-box-shadow:     inset 0 .25em .3125em rgba($black, .125) !default;

$btn-focus-box-shadow-size:  0 0 0 .1875rem !default;
$btn-focus-box-shadow-alpha: .35 !default;
$btn-focus-box-shadow:       $btn-focus-box-shadow-size rgba($component-active-bg, $btn-focus-box-shadow-alpha) !default;

$btn-outline-bg:            transparent !default;

$btn-disabled-opacity:      .6 !default;

$btn-block-spacing-y:       .25rem !default;
$btn-icon-multiplier:       .625 !default;

$btn-default-bg:                    $white !default;
$btn-default-color:                 color-if-contrast($uibase-500, $btn-default-bg) !default;
$btn-default-border-color:          $uibase-300 !default;
$btn-default-focus-box-shadow-color: $component-active-bg !default;
$btn-default-hover-bg:              $uibase-100 !default;
$btn-default-hover-color:           color-if-contrast($uibase-600, $btn-default-hover-bg) !default;
$btn-default-hover-border-color:    $uibase-400 !default;
$btn-default-active-bg:             $uibase-200 !default;
$btn-default-active-color:          color-if-contrast($btn-default-hover-color, $btn-default-active-bg) !default;
$btn-default-active-border-color:   $uibase-400 !default;

// Forms
// =====
// Padding and line-height should add up to buttons for inputs and selects
$input-line-height:             $btn-line-height !default;
$input-padding-y:               $btn-padding-y !default;
$input-padding-x:               $btn-padding-x !default;

$input-color:                   $uibase-700 !default;
$input-bg:                      $white !default;
$input-border-color:            $uibase-200 !default;
$input-border-width:            $border-width !default;
$input-border-radius:           $border-radius !default;
$input-box-shadow:              map-get($shadows, "i1") !default;

$input-focus-color:             $input-color !default;
$input-focus-bg:                $input-bg !default;
$input-focus-border-color:      palette($primary, 300) !default;
$input-focus-box-shadow-size:   0 0 0 .1875rem !default;
$input-focus-box-shadow-alpha:  .35 !default;
$input-focus-box-shadow:        $input-focus-box-shadow-size rgba($component-active-bg, $input-focus-box-shadow-alpha) !default;

$input-disabled-color:          $component-disabled-color !default;
$input-disabled-bg:             $uibase-50 !default;

$input-placeholder-color:       #999 !default;

$form-text-margin-top:          .25rem !default;

$form-check-input-gutter:       1.25rem !default;
$form-check-input-margin-y:     .3125rem !default;
$form-check-input-margin-x:     .25rem !default;
$form-check-inline-margin-x:    .75rem !default;
$form-check-disabled-color:     $component-disabled-color !default;
$form-check-inline-input-margin-x: .3125rem !default;

$form-group-margin-bottom:      1rem !default;
$form-row-gutter:               .3125rem !default;

$input-group-addon-color:        $input-color !default;
$input-group-addon-bg:           $uibase-50 !default;
$input-group-addon-border-color: $input-border-color !default;

$form-inline-breakpoint:         sm !default;

// Base input/select height calculation
// Additional ones for each size are done during size processing generation
$input-height-inner:    ($font-size-base * $input-line-height) + ($input-padding-y * 2) !default;
$input-height-outer:    calc(#{$input-height-inner} + #{($border-width * 2)}) !default;


// Custom form controls
// =====
// Custom checkbox/radio
$custom-control-gutter:                 1.5rem !default;
$custom-control-inline-margin-x:        .75rem !default;

$custom-control-indicator-size:         1rem !default;
$custom-control-indicator-bg:           $uibase-50 !default;
$custom-control-indicator-bg-size:      50% 50% !default;
$custom-control-indicator-box-shadow:   map-get($shadows, "i1") !default;
$custom-control-indicator-border-width: $border-width !default;
$custom-control-indicator-border-color: $input-border-color !default;

$custom-control-disabled-indicator-opacity:  .6 !default;
$custom-control-disabled-description-color:  $uibase-400 !default;

$custom-control-checked-indicator-bg:         $primary !default;
$custom-control-checked-indicator-color:      color-if-contrast($white, $custom-control-checked-indicator-bg) !default;
$custom-control-checked-indicator-box-shadow: none !default;
$custom-control-checked-indicator-border-color: $primary !default;

$custom-control-focus-indicator-box-shadow:  $input-focus-box-shadow !default;

$custom-control-active-indicator-bg:         $custom-control-checked-indicator-bg !default;
$custom-control-active-indicator-color:      $custom-control-checked-indicator-color !default;

$custom-checkbox-radius:                    $border-radius !default;
$custom-checkbox-checked-icon:              url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E") !default;
$custom-checkbox-indeterminate-bg:          $primary !default;
$custom-checkbox-indeterminate-icon:        url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 4'%3E%3Cpath stroke='%23fff' d='M0 2h4'/%3E%3C/svg%3E") !default;
$custom-checkbox-indeterminate-box-shadow:  none !default;

$custom-radio-radius:               50% !default;
$custom-radio-checked-icon:         url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%23fff'/%3E%3C/svg%3E") !default;

$custom-switch-gutter:              2.5rem !default;
$custom-switch-width:               2rem !default;
$custom-switch-track-height-ratio:  1 !default;
$custom-switch-track-bg:            $uibase-50 !default;
$custom-switch-track-radius:        1rem !default;
$custom-switch-track-border-width:  $border-width !default;
$custom-switch-track-border-color:  $input-border-color !default;
$custom-switch-track-box-shadow:    map-get($shadows, "i1") !default;

$custom-switch-thumb-width:         1rem !default;
$custom-switch-thumb-height:        1rem !default;
$custom-switch-thumb-bg:            $uibase-300 !default;
$custom-switch-thumb-radius:        10rem !default;
$custom-switch-thumb-border-width:  $border-width !default;
$custom-switch-thumb-border-color:  $custom-switch-thumb-bg !default;
$custom-switch-thumb-box-shadow:    none !default;

$custom-switch-checked-track-bg:            $uibase-50 !default;
$custom-switch-checked-track-border-color:  $uibase-300 !default;
$custom-switch-active-track-bg:             $uibase-50 !default;

$custom-switch-checked-thumb-bg:            $primary !default;
$custom-switch-checked-thumb-border-color:  $primary !default;
$custom-switch-active-thumb-bg:             palette($primary, 400) !default;
$custom-switch-disabled-thumb-bg:           $uibase-200 !default;
$custom-switch-disabled-checked-thumb-bg:   palette($primary, 200) !default;

// Custom select
$custom-select-indicator-offset:    .375rem !default;
$custom-select-indicator-width:     10px !default; // In pixels because image dimensions
$custom-select-indicator-height:    10px !default; // In pixels because image dimensions
$custom-select-indicator-image:     url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23333' d='M3 0l-3 3h6l-3-3zm-3 5l3 3 3-3h-6z'/%3E%3C/svg%3E") !default;
$custom-select-indicator:           $custom-select-indicator-image no-repeat right $custom-select-indicator-offset center / $custom-select-indicator-width $custom-select-indicator-height !default; // Used so we can have multiple background elements (e.g., arrow and feedback icon)

// Custom file
$custom-file-button-color:          $uibase-600 !default;
$custom-file-button-bg:             $uibase-50 !default;
$custom-file-button-disabled-opacity: .6 !default;
$custom-file-text: (
    en: "Browse"
) !default;

// Custom range
$custom-range-track-height:         .5rem !default;
$custom-range-track-cursor:         pointer !default;
$custom-range-track-bg:             $uibase-100 !default;
$custom-range-track-border:         0 !default;
$custom-range-track-border-radius:  $custom-range-track-height !default;
$custom-range-track-box-shadow:     map-get($shadows, "i1") !default;

$custom-range-thumb-width:                  1.125rem !default;
$custom-range-thumb-height:                 $custom-range-thumb-width !default;
$custom-range-thumb-bg:                     $component-active-bg !default;
$custom-range-thumb-border:                 0 !default;
$custom-range-thumb-border-radius:          50% !default;
$custom-range-thumb-box-shadow:             map-get($shadows, "d1") !default;
$custom-range-thumb-focus-box-shadow:       $input-focus-box-shadow !default;
$custom-range-thumb-focus-box-shadow-width: .1875rem !default;
$custom-range-thumb-active-bg:              palette($component-active-bg, 600) !default;
$custom-range-thumb-disabled-bg:            $uibase-300 !default;

$custom-range-height:               $custom-range-thumb-height + ($custom-range-thumb-focus-box-shadow-width * 2) !default;
$custom-range-min-width:            8rem !default;  // Browser default seems to be 129px/~8rem for IE/Chrome/Safari

// Form validation
// =====
// Icons from OpenIconic: https://github.com/iconic/open-iconic
$form-feedback-margin-top:      $form-text-margin-top !default;
$form-feedback-font-size:       $small-font-size !default;
$form-feedback-valid-color:     map-get($base-colors, "success") !default;
$form-feedback-invalid-color:   map-get($base-colors, "danger") !default;

$form-feedback-icon-offset:         .375rem !default;
$form-feedback-icon-width:          16px !default; // In pixels because image dimensions
$form-feedback-icon-height:         16px !default; // In pixels because image dimensions

$form-feedback-icon-valid-color:    $form-feedback-valid-color !default;
$form-feedback-icon-valid-image:    str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='#{$form-feedback-icon-valid-color}' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3E%3C/svg%3E"), "#", "%23") !default;
$form-feedback-icon-invalid-color:  $form-feedback-invalid-color !default;
$form-feedback-icon-invalid-image:  str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#{palette($danger, 500)}' viewBox='-2 -2 7 7'%3E%3Cpath stroke='#{$form-feedback-icon-invalid-color}' d='M0 0l3 3m0-3L0 3'/%3E%3Ccircle r='.5'/%3E%3Ccircle cx='3' r='.5'/%3E%3Ccircle cy='3' r='.5'/%3E%3Ccircle cx='3' cy='3' r='.5'/%3E%3C/svg%3E"), "#", "%23") !default;


// Progress bars
// =====
$progress-height:               1rem !default;
$progress-font-size:            ($font-size-base * .75) !default;
$progress-bg:                   $uibase-100 !default;
$progress-border-radius:        $border-radius !default;
$progress-box-shadow:           map-get($shadows, "i1") !default;
$progress-bar-color:            $white !default;
$progress-bar-bg:               $uibase-300 !default;
$progress-bar-animation-timing: 1s linear infinite !default;
$progress-bar-box-shadow:       inset 0 .125rem .25rem rgba($white, .25) !default;


// Breadcrumbs
// =====
$breadcrumb-margin-bottom:      1rem !default;

$breadcrumb-active-color:       $uibase-700 !default;

$breadcrumb-item-padding-x:     .5rem !default;
$breadcrumb-divider-color:      $uibase-300 !default;
$breadcrumb-divider:            quote("/") !default;


// Pagination
// =====
$pagination-line-height:        $btn-line-height !default;
$pagination-padding-x:          .5em !default;
$pagination-padding-y:          $btn-padding-y !default;
$pagination-margin-bottom:      1rem !default;

$pagination-border-width:       $border-width !default;
$pagination-border-color:       $btn-default-border-color !default;
$pagination-border-radius:      $border-radius !default;

$pagination-bg:                 $btn-default-bg !default;
$pagination-color:              $btn-default-color !default;

$pagination-hover-bg:           $btn-default-hover-bg !default;
$pagination-hover-color:        $btn-default-hover-color !default;
$pagination-hover-border-color: $pagination-border-color !default;

$pagination-active-color:       $component-active-color !default;
$pagination-active-bg:          $component-active-bg !default;

$pagination-disabled-color:     $component-disabled-color !default;
$pagination-disabled-bg:        $component-disabled-bg !default;

$pagination-spaced-margin-end:  .25em !default;

// Divider
// =====
$divider-border-color:  $uibase-100 !default;
$divider-border-width:  $border-width !default;
$divider-spacer:        ($spacer / 2) !default;


// Dropdowns
// =====
$dropdown-min-width:            10rem !default;
$dropdown-padding-y:            .3125rem !default;
$dropdown-spacer:               .125rem !default;
$dropdown-bg:                   $component-bg !default;
$dropdown-border-color:         $component-border-color !default;
$dropdown-border-width:         $border-width !default;
$dropdown-border-radius:        $border-radius !default;
$dropdown-divider-width:        $border-width !default;
$dropdown-divider-color:        $component-section-border-color !default;
$dropdown-divider-spacer:       ($spacer / 2) !default;
$dropdown-box-shadow:           map-get($shadows, "d2") !default;

// Border radius where menu/submenu aligns or 'attaches' to control item.
$dropdown-attach-border-radius: 0 !default;

$dropdown-link-color:           $component-action-color !default;
$dropdown-link-hover-color:     $component-action-hover-color !default;
$dropdown-link-hover-bg:        $component-hover-bg !default;

$dropdown-link-active-color:    $component-active-color !default;
$dropdown-link-active-bg:       $component-active-bg !default;

$dropdown-link-disabled-color:  $component-disabled-color !default;
$dropdown-link-disabled-bg:     $component-disabled-bg !default;

$dropdown-item-padding-x:       1.25rem !default;
$dropdown-item-padding-y:       .1875rem !default;

$dropdown-header-font-size:     ($font-size-base * .875) !default;
$dropdown-header-font-weight:   $font-weight-bold !default;
$dropdown-header-color:         $uibase-500 !default;

$dropdown-text-color:           $body-color !default;

$dropdown-caret-width:          .4375rem !default;
$dropdown-caret-color:          $uibase-400 !default;
$dropdown-caret-active-color:   $component-active-color !default;
$dropdown-caret-spacer-x:       .375rem !default;

$dropdown-back-width:           .4375rem !default;
$dropdown-back-color:           $uibase-400 !default;
$dropdown-back-spacer-x:        .375rem !default;


// Navs
// =====
$nav-link-padding-x:            1rem !default;
$nav-link-padding-y:            .3125rem !default;
$nav-link-disabled-opacity:     .6 !default;
$nav-link-disabled-color:       $component-disabled-color !default;

$nav-tabs-border-color:         $component-border-color !default;
$nav-tabs-border-width:         $border-width !default;
$nav-tabs-hover-border-color:   $component-hover-bg !default;
$nav-tabs-hover-bg:             $component-hover-bg !default;
$nav-tabs-active-color:         $component-action-color !default;
$nav-tabs-active-bg:            $body-bg !default;
$nav-tabs-active-border-color:  $component-border-color !default;

$nav-pills-border-radius:       $border-radius !default;
$nav-pills-hover-bg:            $component-hover-bg !default;
$nav-pills-active-color:        $component-active-color !default;
$nav-pills-active-bg:           $component-active-bg !default;


// Navbar
// =====
$navbar-padding-x:                  $spacer !default;
$navbar-padding-y:                  ($spacer / 2) !default;

$navbar-item-padding-x:             .5rem !default;
$navbar-item-padding-y:             .3125rem !default;

$navbar-brand-padding-y:            .125rem !default;
$navbar-brand-margin-x:             1rem !default;
$navbar-brand-font-size:            ($font-size-base * 1.25) !default;
$navbar-brand-font-weight:          $font-weight-bold !default;

$navbar-divider-width:              $border-width !default;
$navbar-divider-color:              rgba($black, .65) !default;
$navbar-divider-margin-x:           $navbar-item-padding-x !default;
$navbar-divider-margin-y:           $navbar-item-padding-y !default;

$navbar-toggle-font-size:           ($font-size-base * 1.25) !default;
$navbar-toggle-padding-y:           $btn-padding-y !default;
$navbar-toggle-padding-x:           $btn-padding-x !default;
$navbar-toggle-border-radius:       $btn-border-radius !default;

$navbar-dark-color:                 rgba($white, .65) !default;
$navbar-dark-hover-color:           rgba($white, .9) !default;
$navbar-dark-active-color:          rgba($white, .95) !default;
$navbar-dark-disabled-color:        rgba($white, .5) !default;
$navbar-dark-divider-color:         rgba($white, .7) !default;
$navbar-dark-toggle-border:         rgba($white, .35) !default;

$navbar-light-color:                rgba($black, .6) !default;
$navbar-light-hover-color:          rgba($black, .85) !default;
$navbar-light-active-color:         rgba($black, .95) !default;
$navbar-light-disabled-color:       rgba($black, .5) !default;
$navbar-light-divider-color:        rgba($black, .65) !default;
$navbar-light-toggle-border:        rgba($black, .35) !default;


// Jumbotron
// =====
$jumbotron-padding-y:       3rem !default;
$jumbotron-padding-x:       1.5rem !default;
$jumbotron-padding-xs-y:    1.5rem !default;
$jumbotron-padding-xs-x:    .75rem !default;
$jumbotron-bg:              $uibase-50 !default;
$jumbotron-border-radius:   .3rem !default;
$jumbotron-breakpoint:      sm !default;


// Badges
// =====
$badge-font-size:           75% !default;
$badge-font-weight:         $font-weight-bold !default;
$badge-padding-x:           .375em !default;
$badge-padding-y:           0 !default;
$badge-line-height:         $line-height-base !default;
$badge-border-radius:       .25em !default;
$badge-border-width:        $border-width !default;

$badge-close-padding-x:     .375rem !default;
$badge-close-font-size:     1.25em !default;

$badge-pill-padding-x:      .5em !default;
// Use a higher than normal value to ensure completely rounded edges when
// customizing padding or font-size on badges.
$badge-pill-border-radius:  10rem !default;

$badge-outline-bg:          transparent !default;

$badge-default-bg:              $white !default;
$badge-default-color:           color-if-contrast($uibase-500, $badge-default-bg) !default;
$badge-default-border:          $uibase-300 !default;
$badge-default-hover-bg:        $uibase-50 !default;
$badge-default-hover-color:     color-if-contrast($uibase-600, $badge-default-hover-bg) !default;
$badge-default-hover-border:    $uibase-400 !default;


// Alerts
// =====
$alert-padding-x:           1rem !default;
$alert-padding-y:           1rem !default;
$alert-margin-bottom:       $spacer !default;
$alert-border-radius:       $border-radius !default;
$alert-link-font-weight:    $font-weight-bold !default;
$alert-border-width:        $border-width !default;
$alert-close-padding-x:     .75rem !default;
$alert-close-padding-y:     .75rem !default;

// Media objects
// =====
$media-margin-y:                1rem !default;


// Cards
// =====
$card-padding-y:            .75rem !default;
$card-padding-x:            1rem !default;
$card-margin-bottom:        1rem !default;
$card-bg:                   $component-bg !default;
$card-border-color:         $component-overlay-border-color !default;
$card-border-width:         $border-width !default;
$card-border-radius:        $border-radius !default;
$card-inner-border-radius:  calc(#{$card-border-radius} - #{$card-border-width}) !default;

$card-link-margin-left:     1.25rem !default;

$card-cap-padding-y:        .75rem !default;
$card-cap-padding-x:        1rem !default;

$card-title-margin-bottom:  1rem !default;
$card-subtitle-margin-top:  -.5rem !default;

$card-cap-bg:               $component-section-bg !default;
$card-cap-border-color:     $component-section-border-color !default;

$card-img-overlay-padding:  $card-padding-y $card-padding-x !default;

$card-deck-gutter-widths: (
    xs: map-get($grid-gutter-widths, xs),
    sm: map-get($grid-gutter-widths, sm),
    md: map-get($grid-gutter-widths, md),
    lg: map-get($grid-gutter-widths, lg),
    xl: map-get($grid-gutter-widths, xl)
) !default;

$card-columns-count:        3 !default;
$card-columns-column-gap:   1.25rem !default;


// Tooltips
// =====
$tooltip-max-width:             rem(208px) !default;  // 208px=>13rem
$tooltip-padding-y:             .25rem !default;
$tooltip-padding-x:             .5rem !default;
$tooltip-margin:                .125rem !default;

$tooltip-font-size:             ($font-size-base * .875) !default;
$tooltip-bg:                    $uibase-900 !default;
$tooltip-color:                 color-auto-contrast($uibase-900) !default;
$tooltip-opacity:               .9 !default;
$tooltip-border-radius:         $border-radius !default;

$tooltip-close-padding-y:       .125rem !default;
$tooltip-close-padding-x:       .3125rem !default;
$tooltip-close-color:           $tooltip-color !default;
$tooltip-close-opacity:         $close-opacity !default;
$tooltip-close-hover-color:     $tooltip-color !default;
$tooltip-close-hover-opacity:   $close-hover-opacity !default;

// Arrow dimension in pixels to get proper visual layout
$tooltip-arrow-width:           .375rem !default;
$tooltip-arrow-color:           $tooltip-bg !default;


// Popovers
// =====
$popover-font-size:             .9375rem !default;
$popover-bg:                    $component-bg !default;
$popover-max-width:             rem(288px) !default;  // 288px=>18rem
$popover-border-width:          $border-width !default;
$popover-border-color:          $component-overlay-border-color !default;
$popover-border-radius:         .3125rem !default;
$popover-inner-border-radius:   calc(#{$popover-border-radius} - #{$popover-border-width}) !default;
$popover-box-shadow:            map-get($shadows, "d2") !default;

$popover-header-padding-y:      .5rem !default;
$popover-header-padding-x:      .75rem !default;

$popover-header-font-size:      $font-size-base !default;
$popover-header-color:          $headings-color !default;
$popover-header-bg:             $component-section-bg !default;
$popover-header-border-width:   $border-width !default;
$popover-header-border-color:   $component-section-border-color !default;

$popover-control-padding-y:     .125rem !default;
$popover-control-padding-x:     .3125rem !default;

$popover-body-padding-y:        .5rem !default;
$popover-body-padding-x:        .75rem !default;

$popover-body-color:            $body-color !default;

$popover-arrow-width:           .625rem !default;
$popover-arrow-color:           $popover-bg !default;
$popover-arrow-outer-color:     $popover-border-color !default;


// Modals
// =====
// Padding applied to the modal body
$modal-dialog-margin:           .625rem !default;
$modal-dialog-sm-up-margin-y:   1.875rem !default;

$modal-header-padding-y:        .75rem !default;
$modal-header-padding-x:        1rem !default;
$modal-title-line-height:       $line-height-base !default;

$modal-close-padding-y:        .75rem !default;
$modal-close-padding-x:        .75rem !default;

$modal-inner-padding-y:         .75rem !default;
$modal-inner-padding-x:         1rem !default;

$modal-content-bg:               $component-bg !default;
$modal-content-border-color:     $component-overlay-border-color !default;
$modal-content-border-width:     $border-width !default;
$modal-content-xs-box-shadow:    0 .25rem .5rem rgba($black, .5) !default;
$modal-content-sm-up-box-shadow: 0 .25rem 1rem rgba($black, .5) !default;

$modal-footer-padding-y:        .75rem !default;
$modal-footer-padding-x:        1rem !default;

$modal-backdrop-bg:             $dark !default;
$modal-backdrop-opacity:        .5 !default;
$modal-header-border-color:     rgba($uibase-900, .2) !default;
$modal-footer-border-color:     $modal-header-border-color !default;
$modal-header-border-width:     $modal-content-border-width !default;
$modal-footer-border-width:     $modal-header-border-width !default;
$modal-border-radius:           .375rem !default;
$modal-inner-border-radius:     calc(#{$modal-border-radius} - #{$modal-content-border-width}) !default;

$modal-sm:                      rem(304px) !default; // 304px=>19rem
$modal-md:                      rem(528px) !default; // 528px=>33rem
$modal-lg:                      rem(896px) !default; // 896px=>56rem

$modal-breakpoint:              sm !default; // When to start scaling up modal width
$modal-lg-breakpoint:           lg !default; // The minimum breakpoint to allow `.modal-lg`


// Player
// =====
//$player-placeholder:    none !default;

// Z-index master list
// =====
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.

// Figuration puts modals above popover/tooltip items that could be held open.
// Tooltips/popovers should also be able to appear over fixed/sticky navbars.
$zindex-dropdown:          1000 !default;
$zindex-sticky:            1010 !default;
$zindex-fixed:             1020 !default;
$zindex-popover:           1030 !default;
$zindex-tooltip:           1040 !default;
$zindex-modal-backdrop:    1050 !default;
$zindex-modal:             1060 !default;
