body {
    padding-bottom: 2rem;
}
h2 {
    margin-top: 2rem;
}
.row {
    margin-bottom: 1rem;
}
.row .row {
    margin-top: 1rem;
    margin-bottom: 0;
}
[class^="col-"],
.col {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: rgba(34,68,102,.15);
    border: 1px solid rgba(34,68,102,.2);
}
.row-flex > [class^="col-"],
.row-flex > .col {
    background-color: rgba(102,0,102,.15);
}
