// Top of page item
.toplink {
    a {
        display: inline-block;
        padding: .15rem .5rem;
        @include font-size(.875rem);
        color: #c3c3c3;
        text-decoration: none;
        white-space: nowrap;
        background: #424242;
        @include border-radius(.5rem .5rem 0 0);

        @include hover-focus() {
            color: #fff;
        }
    }

    .caret {
        &::after {
            border-top: 0;
            border-bottom: $caret-border-width solid;
        }
    }

    &.affix-top,
    &.affix {
        position: fixed;
        bottom: 0;
        left: 2.5rem;
        backface-visibility: hidden;
    }
    &.affix-top {
        visibility: hidden;
    }
    &.affix-bottom {
        position: absolute;
    }
}
