<!DOCTYPE html>
<html lang="en-us">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

<meta name="description" content="CAST Figuration - A feature rich, responsive, mobile first, accessible, front-end framework based on Bootstrap.">

<title>
  
    Progress &#124; CAST Figuration
  
</title>

<!-- Favicons -->
<link rel="apple-touch-icon" href="/figuration/apple-touch-icon.png">
<link rel="icon" href="/figuration/favicon.ico">

<!-- Core CSS -->

  <link href="/figuration/dist/css/figuration.min.css" rel="stylesheet">


<!-- Docs CSS -->

  <link href="/figuration/assets/css/docs.min.css" rel="stylesheet">


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/figuration/assets/js/vendor/jquery.min.js"><\/script>')</script>

<!-- Core JS -->

  <script src="/figuration/dist/js/figuration.min.js"></script>


<!-- Docs JS -->

  <script src="/figuration/assets/js/docs.min.js"></script>


<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/figuration/assets/js/ie10-viewport-bug-workaround.js"></script>
<script src="/figuration/assets/js/ie-emulation-modes-warning.js"></script>
</head>
<body>
    <a class="skipnav" href="#content">Skip to main content</a>

    <header class="navbar navbar-full navbar-dark cf-header">
    <div class="container">
        <nav>
            <a class="navbar-brand" href="/figuration/">CAST Figuration</a>
            <div class="clearfix hidden-md-up">
                <button class="navbar-toggler btn btn-toggler pull-xs-right" type="button" data-cfw="collapse" data-cfw-collapse-toggle="#cf-topnav" data-cfw-collapse-hidden="false" aria-label="Toggle navigation">
                    <span aria-hidden="true">&#9776;</span>
                </button>
            </div>
            <div class="collapse navbar-toggleable-sm" id="cf-topnav">
                <ul class="nav navbar-nav">
                    <li class="nav-item ">
                        <a href="/figuration/get-started/quick-start/" class="nav-link">Get Started</a>
                    </li>
                    <li class="nav-item ">
                        <a href="/figuration/layout/overview/" class="nav-link">Layout</a>
                    </li>
                    <li class="nav-item ">
                        <a href="/figuration/content/reboot/" class="nav-link">Content</a>
                    </li>
                    <li class="nav-item active">
                        <a href="/figuration/components/alerts/" class="nav-link">Components</a>
                    </li>
                    <li class="nav-item ">
                        <a href="/figuration/widgets/overview" class="nav-link">Widgets</a>
                    </li>
                    <li class="nav-item ">
                        <a href="/figuration/about/overview" class="nav-link">About</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div> <!-- /.container -->
</header>

    <div class="jumbotron jumbotron-full jumbotron-docs">
        <div class="container">
            
    <h1>Components</h1>
    <p class="lead">
        Reusable components built to provide alerts, button groups, cards, input groups, media objects, navigation, and much more.
    </p>


        </div>
    </div>

    <main class="container">
        <div class="row">
            <div class="col-xs-12 col-md-3 cf-sidebar">
                <nav class="cf-links">

  
  

  

  
  

  

  
  

  

  
  

  

    <div class="h4">Components</div>
    <ul class="nav">
      
        
        

        
        

        <li class="nav-item">
          <a href="/figuration/components/alerts" class="nav-link ">
            Alerts
          </a>
        </li>
      
        
        

        
        

        <li class="nav-item">
          <a href="/figuration/components/breadcrumb" class="nav-link ">
            Breadcrumb
          </a>
        </li>
      
        
        

        
        

        <li class="nav-item">
          <a href="/figuration/components/button-group" class="nav-link ">
            Button Group
          </a>
        </li>
      
        
        

        
        

        <li class="nav-item">
          <a href="/figuration/components/cards" class="nav-link ">
            Cards
          </a>
        </li>
      
        
        

        
        

        <li class="nav-item">
          <a href="/figuration/components/grid-lines" class="nav-link ">
            Grid Lines
          </a>
        </li>
      
        
        

        
        

        <li class="nav-item">
          <a href="/figuration/components/input-group" class="nav-link ">
            Input Group
          </a>
        </li>
      
        
        

        
        

        <li class="nav-item">
          <a href="/figuration/components/jumbotron" class="nav-link ">
            Jumbotron
          </a>
        </li>
      
        
        

        
        

        <li class="nav-item">
          <a href="/figuration/components/list-group" class="nav-link ">
            List Group
          </a>
        </li>
      
        
        

        
        

        <li class="nav-item">
          <a href="/figuration/components/media-object" class="nav-link ">
            Media Object
          </a>
        </li>
      
        
        

        
        

        <li class="nav-item">
          <a href="/figuration/components/navbar" class="nav-link ">
            Navbar
          </a>
        </li>
      
        
        

        
        

        <li class="nav-item">
          <a href="/figuration/components/navs" class="nav-link ">
            Navs
          </a>
        </li>
      
        
        

        
        

        <li class="nav-item">
          <a href="/figuration/components/pagination" class="nav-link ">
            Pagination
          </a>
        </li>
      
        
        

        
        

        <li class="nav-item">
          <a href="/figuration/components/progress" class="nav-link active">
            Progress
          </a>
        </li>
      
        
        

        
        

        <li class="nav-item">
          <a href="/figuration/components/tags" class="nav-link ">
            Tags
          </a>
        </li>
      
        
        

        
        

        <li class="nav-item">
          <a href="/figuration/components/utilities" class="nav-link ">
            Utilities
          </a>
        </li>
      
    </ul>
    

  
  

  

  
  

  

</nav>

            </div>
            <div class="col-xs-12 col-md-9 cf-content">
                <h1 class="cf-title" id="content">
                    Progress
                    
                </h1>

                <p>Stylize <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/progress">the HTML5 <code class="highlighter-rouge">&lt;progress&gt;</code> element</a> with a few extra classes and some crafty browser-specific CSS. Be sure to read up on the browser support.</p>

<h2 class="no_toc" id="contents">Contents</h2>

<ul id="markdown-toc">
  <li><a href="#example" id="markdown-toc-example">Example</a></li>
  <li><a href="#contextual-alternatives" id="markdown-toc-contextual-alternatives">Contextual Alternatives</a></li>
  <li><a href="#striped" id="markdown-toc-striped">Striped</a></li>
  <li><a href="#ie9-support" id="markdown-toc-ie9-support">IE9 Support</a></li>
</ul>

<h2 id="example">Example</h2>

<p>To caption a progress bar, simply add a <code class="highlighter-rouge">&lt;div&gt;</code> with your caption text, <a href="/figuration/components/utilities/#text-alignment">align the text using a utility class</a>, and associate the caption with the <code class="highlighter-rouge">&lt;progress&gt;</code> element using the <code class="highlighter-rouge">aria-describedby</code> attribute.</p>

<div class="cf-example" data-example-id="">
<div class="text-xs-center" id="example-caption-1">Reticulating splines&hellip; 0%</div>
<progress class="progress" value="0" max="100" aria-describedby="example-caption-1"></progress>

<div class="text-xs-center" id="example-caption-2">Reticulating splines&hellip; 25%</div>
<progress class="progress" value="25" max="100" aria-describedby="example-caption-2"></progress>

<div class="text-xs-center" id="example-caption-3">Reticulating splines&hellip; 50%</div>
<progress class="progress" value="50" max="100" aria-describedby="example-caption-3"></progress>

<div class="text-xs-center" id="example-caption-4">Reticulating splines&hellip; 75%</div>
<progress class="progress" value="75" max="100" aria-describedby="example-caption-4"></progress>

<div class="text-xs-center" id="example-caption-5">Reticulating splines&hellip; 100%</div>
<progress class="progress" value="100" max="100" aria-describedby="example-caption-5"></progress>
</div>
<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"text-xs-center"</span> <span class="na">id=</span><span class="s">"example-caption-1"</span><span class="nt">&gt;</span>Reticulating splines<span class="ni">&amp;hellip;</span> 0%<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;progress</span> <span class="na">class=</span><span class="s">"progress"</span> <span class="na">value=</span><span class="s">"0"</span> <span class="na">max=</span><span class="s">"100"</span> <span class="na">aria-describedby=</span><span class="s">"example-caption-1"</span><span class="nt">&gt;&lt;/progress&gt;</span>

<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"text-xs-center"</span> <span class="na">id=</span><span class="s">"example-caption-2"</span><span class="nt">&gt;</span>Reticulating splines<span class="ni">&amp;hellip;</span> 25%<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;progress</span> <span class="na">class=</span><span class="s">"progress"</span> <span class="na">value=</span><span class="s">"25"</span> <span class="na">max=</span><span class="s">"100"</span> <span class="na">aria-describedby=</span><span class="s">"example-caption-2"</span><span class="nt">&gt;&lt;/progress&gt;</span>

<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"text-xs-center"</span> <span class="na">id=</span><span class="s">"example-caption-3"</span><span class="nt">&gt;</span>Reticulating splines<span class="ni">&amp;hellip;</span> 50%<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;progress</span> <span class="na">class=</span><span class="s">"progress"</span> <span class="na">value=</span><span class="s">"50"</span> <span class="na">max=</span><span class="s">"100"</span> <span class="na">aria-describedby=</span><span class="s">"example-caption-3"</span><span class="nt">&gt;&lt;/progress&gt;</span>

<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"text-xs-center"</span> <span class="na">id=</span><span class="s">"example-caption-4"</span><span class="nt">&gt;</span>Reticulating splines<span class="ni">&amp;hellip;</span> 75%<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;progress</span> <span class="na">class=</span><span class="s">"progress"</span> <span class="na">value=</span><span class="s">"75"</span> <span class="na">max=</span><span class="s">"100"</span> <span class="na">aria-describedby=</span><span class="s">"example-caption-4"</span><span class="nt">&gt;&lt;/progress&gt;</span>

<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"text-xs-center"</span> <span class="na">id=</span><span class="s">"example-caption-5"</span><span class="nt">&gt;</span>Reticulating splines<span class="ni">&amp;hellip;</span> 100%<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;progress</span> <span class="na">class=</span><span class="s">"progress"</span> <span class="na">value=</span><span class="s">"100"</span> <span class="na">max=</span><span class="s">"100"</span> <span class="na">aria-describedby=</span><span class="s">"example-caption-5"</span><span class="nt">&gt;&lt;/progress&gt;</span></code></pre></div>

<h2 id="contextual-alternatives">Contextual Alternatives</h2>

<p>Progress bars use some of the same button and alert classes for consistent styles.</p>

<div class="cf-example" data-example-id="">
<progress class="progress progress-primary" value="10" max="100"></progress>
<progress class="progress progress-secondary" value="20" max="100"></progress>
<progress class="progress progress-success" value="40" max="100"></progress>
<progress class="progress progress-info" value="60" max="100"></progress>
<progress class="progress progress-warning" value="80" max="100"></progress>
<progress class="progress progress-danger" value="100" max="100"></progress>
</div>
<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;progress</span> <span class="na">class=</span><span class="s">"progress progress-primary"</span> <span class="na">value=</span><span class="s">"10"</span> <span class="na">max=</span><span class="s">"100"</span><span class="nt">&gt;&lt;/progress&gt;</span>
<span class="nt">&lt;progress</span> <span class="na">class=</span><span class="s">"progress progress-secondary"</span> <span class="na">value=</span><span class="s">"20"</span> <span class="na">max=</span><span class="s">"100"</span><span class="nt">&gt;&lt;/progress&gt;</span>
<span class="nt">&lt;progress</span> <span class="na">class=</span><span class="s">"progress progress-success"</span> <span class="na">value=</span><span class="s">"40"</span> <span class="na">max=</span><span class="s">"100"</span><span class="nt">&gt;&lt;/progress&gt;</span>
<span class="nt">&lt;progress</span> <span class="na">class=</span><span class="s">"progress progress-info"</span> <span class="na">value=</span><span class="s">"60"</span> <span class="na">max=</span><span class="s">"100"</span><span class="nt">&gt;&lt;/progress&gt;</span>
<span class="nt">&lt;progress</span> <span class="na">class=</span><span class="s">"progress progress-warning"</span> <span class="na">value=</span><span class="s">"80"</span> <span class="na">max=</span><span class="s">"100"</span><span class="nt">&gt;&lt;/progress&gt;</span>
<span class="nt">&lt;progress</span> <span class="na">class=</span><span class="s">"progress progress-danger"</span> <span class="na">value=</span><span class="s">"100"</span> <span class="na">max=</span><span class="s">"100"</span><span class="nt">&gt;&lt;/progress&gt;</span></code></pre></div>

<h2 id="striped">Striped</h2>

<p>Uses a gradient to create a striped effect.</p>

<div class="cf-example" data-example-id="">
<progress class="progress progress-striped progress-primary" value="10" max="100"></progress>
<progress class="progress progress-striped progress-secondary" value="20" max="100"></progress>
<progress class="progress progress-striped progress-success" value="40" max="100"></progress>
<progress class="progress progress-striped progress-info" value="60" max="100"></progress>
<progress class="progress progress-striped progress-warning" value="80" max="100"></progress>
<progress class="progress progress-striped progress-danger" value="100" max="100"></progress>
</div>
<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;progress</span> <span class="na">class=</span><span class="s">"progress progress-striped progress-primary"</span> <span class="na">value=</span><span class="s">"10"</span> <span class="na">max=</span><span class="s">"100"</span><span class="nt">&gt;&lt;/progress&gt;</span>
<span class="nt">&lt;progress</span> <span class="na">class=</span><span class="s">"progress progress-striped progress-secondary"</span> <span class="na">value=</span><span class="s">"20"</span> <span class="na">max=</span><span class="s">"100"</span><span class="nt">&gt;&lt;/progress&gt;</span>
<span class="nt">&lt;progress</span> <span class="na">class=</span><span class="s">"progress progress-striped progress-success"</span> <span class="na">value=</span><span class="s">"40"</span> <span class="na">max=</span><span class="s">"100"</span><span class="nt">&gt;&lt;/progress&gt;</span>
<span class="nt">&lt;progress</span> <span class="na">class=</span><span class="s">"progress progress-striped progress-info"</span> <span class="na">value=</span><span class="s">"60"</span> <span class="na">max=</span><span class="s">"100"</span><span class="nt">&gt;&lt;/progress&gt;</span>
<span class="nt">&lt;progress</span> <span class="na">class=</span><span class="s">"progress progress-striped progress-warning"</span> <span class="na">value=</span><span class="s">"80"</span> <span class="na">max=</span><span class="s">"100"</span><span class="nt">&gt;&lt;/progress&gt;</span>
<span class="nt">&lt;progress</span> <span class="na">class=</span><span class="s">"progress progress-striped progress-danger"</span> <span class="na">value=</span><span class="s">"100"</span> <span class="na">max=</span><span class="s">"100"</span><span class="nt">&gt;&lt;/progress&gt;</span></code></pre></div>

<h2 id="ie9-support">IE9 Support</h2>

<p>Internet Explorer 9 doesn’t support the HTML5 <code class="highlighter-rouge">&lt;progress&gt;</code> element, but we can work around that.</p>

<div class="cf-example" data-example-id="">
<div class="text-xs-center" id="example-caption-6">Reticulating splines&hellip; 25%</div>
<progress class="progress" value="25" max="100" aria-describedby="example-caption-6">
  <div class="progress">
    <span class="progress-bar" style="width: 25%;"></span>
  </div>
</progress>

<progress max="100" value="50" class="progress progress-primary">
    <div class="progress">
        <span style="width: 50%;" class="progress-bar">50%</span>
    </div>
</progress>

<progress max="100" value="75" class="progress progress-striped progress-success">
  <div class="progress">
    <span style="width: 75%;" class="progress-bar">75%</span>
  </div>
</progress>
</div>
<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"text-xs-center"</span> <span class="na">id=</span><span class="s">"example-caption-6"</span><span class="nt">&gt;</span>Reticulating splines<span class="ni">&amp;hellip;</span> 25%<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;progress</span> <span class="na">class=</span><span class="s">"progress"</span> <span class="na">value=</span><span class="s">"25"</span> <span class="na">max=</span><span class="s">"100"</span> <span class="na">aria-describedby=</span><span class="s">"example-caption-6"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"progress"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"progress-bar"</span> <span class="na">style=</span><span class="s">"width: 25%;"</span><span class="nt">&gt;&lt;/span&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/progress&gt;</span>

<span class="nt">&lt;progress</span> <span class="na">max=</span><span class="s">"100"</span> <span class="na">value=</span><span class="s">"50"</span> <span class="na">class=</span><span class="s">"progress progress-primary"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"progress"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;span</span> <span class="na">style=</span><span class="s">"width: 50%;"</span> <span class="na">class=</span><span class="s">"progress-bar"</span><span class="nt">&gt;</span>50%<span class="nt">&lt;/span&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/progress&gt;</span>

<span class="nt">&lt;progress</span> <span class="na">max=</span><span class="s">"100"</span> <span class="na">value=</span><span class="s">"75"</span> <span class="na">class=</span><span class="s">"progress progress-striped progress-success"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"progress"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;span</span> <span class="na">style=</span><span class="s">"width: 75%;"</span> <span class="na">class=</span><span class="s">"progress-bar"</span><span class="nt">&gt;</span>75%<span class="nt">&lt;/span&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/progress&gt;</span></code></pre></div>


            </div>
        </div>

        <div class="topLink">
            <a href="#content">Top of Page <span class="caret"></span></a>
        </div>
    </main>

    <footer class="cf-footer">
    <div class="container">
        <p>Currently version: 0.1.0</p>
        <p>
            &copy; 2013-2016 <a href="http://www.cast.org">CAST, Inc.</a>
            <br />
            Portions: &copy; 2011-2016 the Bootstrap Authors and Twitter, Inc. Licensed under <a href="https://github.com/twbs/bootstrap/blob/master/LICENSE">the MIT license</a> or <a href="https://github.com/twbs/bootstrap/blob/master/docs/LICENSE">CC BY 3.0</a>.
        <p>
            Code licensed <a rel="license" href="https://github.com/cast-org/figuration/blob/master/LICENSE">MIT</a>,
            docs <a rel="license" href="https://github.com/cast-org/figuration/blob/master/docs/LICENSE">CC BY 4.0</a>.
        </p>

        <hr />

        <strong>Funding generously provided by:</strong>
        <div class="media footer-partners">
            <div class="media-left">
                <img src="/figuration/assets/img/aem-logo.png" class="media-object" width="40" height="40" alt="AEM logo" />
            </div>
            <div class="media-body">
                <span class="h6 partner-title"><a href="http://aem.cast.org">National Center on Accessible Educational Materials at CAST, Inc.</a></span><br />
                <small>Disclaimer: This does not necessarily represent endorsement by or the policies of the National Center on Accessible Educational Materials, the US Department of Education, and the US Federal Government.</small>
            </div>
        </div>

    </div>
</footer>

</body>
</html>
