# https://github.com/browserslist/browserslist#readme

>= 0.5%
last 2 major versions
not dead
Chrome >= 89
Edge >= 89
Firefox >= 89
Firefox ESR
iOS >= 15
Safari >= 15
not Explorer <= 11
not OperaMini all
