{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-recommended-scss",
    "stylelint-config-recess-order",
    "stylelint-stylistic/config"
  ],
  "rules": {
    'alpha-value-notation': null,
    "annotation-no-unknown": [ true, {
      ignoreAnnotations: ["default", "="]
    }],
    "at-rule-empty-line-before": [null, {
      "except": ["first-nested"]
    }],
    "at-rule-no-unknown": null,
    "at-rule-no-vendor-prefix": true,
    "block-closing-brace-empty-line-before": null,
    "block-closing-brace-newline-after": null,
    "block-opening-brace-space-before": null,
    'color-function-notation': null,
    "color-named": "never",
    'custom-property-pattern': null,
    "declaration-block-no-duplicate-properties": true,
    'declaration-block-no-redundant-longhand-properties': null,
    "declaration-empty-line-before": null,
    "declaration-no-important": true,
    "declaration-property-value-disallowed-list": {
      "border": "none",
      "outline": "none"
    },
    "font-family-name-quotes": "always-where-recommended",
    "font-weight-notation": [
      "numeric", {
        "ignore": ["relative"]
    }],
    "function-disallowed-list": [
      "calc"
    ],
    "function-no-unknown": null,
    "function-url-no-scheme-relative": true,
    "function-url-quotes": "always",
    "import-notation": "string",
    "length-zero-no-unit": true,
    "max-line-length": null,
    "media-feature-name-no-unknown": [true, {
      "ignoreMediaFeatureNames": ["prefers-reduced-motion"]
    }],
    "media-feature-name-no-vendor-prefix": true,
    "media-feature-range-notation": null,
    "no-descending-specificity": null,
    "no-duplicate-selectors": true,
    "property-disallowed-list": [
      "border-radius",
      "border-top-left-radius",
      "border-top-right-radius",
      "border-bottom-right-radius",
      "border-bottom-left-radius",
      "font-size",
      "transition"
    ],
    "property-no-vendor-prefix": true,
    "rule-empty-line-before": null,
    'scss/at-extend-no-missing-placeholder': null,
    "scss/at-function-parentheses-space-before": "never",
    'scss/at-if-no-null': null,
    "scss/at-mixin-argumentless-call-parentheses": "always",
    "scss/at-mixin-named-arguments": null,
    "scss/at-mixin-parentheses-space-before": "never",
    "scss/at-rule-no-unknown": true,
    'scss/comment-no-empty': null,
    "scss/dollar-variable-colon-space-after": "at-least-one-space",
    "scss/dollar-variable-colon-space-before": "never",
    "scss/dollar-variable-default": [ true, {
        "ignore": "local"
    }],
    "scss/dollar-variable-no-missing-interpolation": true,
    'scss/function-quote-no-quoted-strings-inside': null,
    "scss/load-no-partial-leading-underscore": true,
    "scss/media-feature-value-dollar-variable": null,
    "scss/no-duplicate-dollar-variables": [ null, {
        "ignoreInsideAtRules": [ "if", "mixin" ]
    }],
    'scss/no-global-function-names': null,
    "scss/operator-no-newline-after": true,
    "scss/operator-no-newline-before": true,
    "scss/operator-no-unspaced": true,
    "selector-attribute-quotes": "always",
    "selector-class-pattern": "^[a-z][a-z0-9\\-]*[a-z0-9]$",
    "selector-max-attribute": 2,
    "selector-max-class": 4,
    "selector-max-combinators": 4,
    "selector-max-compound-selectors": 4,
    "selector-max-id": 0,
    "selector-max-specificity": null,
    "selector-max-type": 2,
    "selector-max-universal": 1,
    "selector-no-qualifying-type": true,
    "selector-no-vendor-prefix": true,
    "selector-not-notation": "simple",
    "shorthand-property-no-redundant-values": true,
    "value-keyword-case": "lower",
    "value-no-vendor-prefix": true,

    "stylistic/at-rule-name-space-after": "always",
    "stylistic/at-rule-semicolon-space-before": "never",
    "stylistic/block-closing-brace-empty-line-before": null,
    "stylistic/block-closing-brace-newline-after": null,
    "stylistic/block-opening-brace-space-before": null,
    "stylistic/declaration-block-semicolon-newline-before": "never-multi-line",
    "stylistic/indentation": 4,
    "stylistic/max-empty-lines": 2,
    "stylistic/max-line-length": null,
    "stylistic/number-leading-zero": "never",
    "stylistic/selector-list-comma-newline-before": "never-multi-line",
    "stylistic/selector-list-comma-space-after": "always-single-line",
    "stylistic/selector-list-comma-space-before": "never-single-line",
    "stylistic/unicode-bom": "never",
    "stylistic/value-list-comma-newline-after": "never-multi-line",
    "stylistic/value-list-comma-newline-before": "never-multi-line",
    "stylistic/value-list-comma-space-after": "always"
  }
}