#sudo: false
dist: trusty
language: node_js

git:
    depth: 3

# For now, only build 'push' items on master or development branches
# http://stackoverflow.com/questions/31882306/
# Most contributions should come through pull requests
# Should help limit overloading on Sauce tests
branches:
    only:
        - master

node_js:
    - "4"
    - "6"

before_install:
    - rvm install 2.2
    - rvm use 2.2 --fuzzy
    - if [[ `npm -v` != 3* ]]; then npm install -g npm@3; fi

install:
    - bundle install --jobs=3
    - npm install

cache:
    directories:
        - node_modules
        - vendor/bundle

env:
    global:
        - NPM_CONFIG_PROGRESS="false"
    matrix:
        - TEST_SAUCE="false"

matrix:
    fast_finish: true
    exclude:
        - node_js: "6"
          env: TEST_SAUCE="false"
    include:
        - node_js: "6"
          env: TEST_SAUCE="true"
