// Container illustrations
.cf-example-container {
    min-width: 16rem;
    max-width: 25rem;
    margin-right: auto;
    margin-left: auto;
}
.cf-example-container-fluid {
    max-width: none;
}
.cf-example-container-header {
    height: 3rem;
    margin-bottom: .5rem;
    background-color: lighten(map-get($base-colors, "primary"), 50%);
    border-radius: .25rem;
}
.cf-example-container-sidebarL {
    float: left;
    width: 4rem;
    height: 8rem;
    background-color: lighten(map-get($base-colors, "warning"), 25%);
    border-radius: .25rem;
}
.cf-example-container-sidebarR {
    float: right;
    width: 8rem;
    height: 8rem;
    background-color: lighten(map-get($base-colors, "danger"), 25%);
    border-radius: .25rem;
}
.cf-example-container-body {
    height: 8rem;
    margin-right: 8.5rem;
    margin-left: 4.5rem;
    background-color: lighten($docs-color, 25%);
    border-radius: .25rem;
}


// Grid
.cf-example-row {
    .row + .row {
        margin-top: 1rem;
    }

    .row {
        > [class^="col-"],
        .col {
            padding-top: .75rem;
            padding-bottom: .75rem;
            background-color: rgba(34, 68, 102, .15);
            border: $border-width solid rgba(34, 68, 102, .2);
        }
    }
}
.cf-example-row-grid {
    .row {
        background-color: rgba(34, 68, 102, .05);
    }
}
.cf-example-row-flex {
    .row {
        border: $border-width solid rgba(34, 68, 102, .5);
    }
}
.cf-example-row-flex-v {
    .row {
        height: 7rem;
        border: $border-width solid rgba(34, 68, 102, .5);
    }
}

// Grid mixins
.example-container {
    width: 800px;
    @include make-container();
}
.example-row {
    @include make-row();
}
.example-content-main {
    @include make-col-ready();
    @include media-breakpoint-up(sm) {
        @include make-col(6);
    }
    @include media-breakpoint-up(lg) {
        @include make-col(8);
    }
}
.example-content-secondary {
    @include make-col-ready();
    @include media-breakpoint-up(sm) {
        @include make-col(6);
    }
    @include media-breakpoint-up(lg) {
        @include make-col(4);
    }
}

// Caret mixins
.btn {
    .example-caret {
        @include caret(start, .5rem, #000);
    }

    @include hover-focus() {
        .example-caret {
            @include caret-end(.5rem, #000);
        }
    }
}

// Form
.cf-example > .form-control + .form-control,
.cf-example > .custom-select + .custom-select {
    margin-top: .5rem;
}

// Custom file language example
// stylelint-disable-next-line scss/dollar-variable-default
$custom-file-text: (
    placeholder: (
        en: "Choose file...",
        es: "Seleccionar archivo..."
    ),
    button-label: (
        en: "Browse",
        es: "Navegar"
    )
);
.custom-file-control {
    @each $lang, $text in map-get($custom-file-text, button-label) {
        &:lang(#{$lang}):empty::before {
            content: $text;
        }
    }
    @each $lang, $text in map-get($custom-file-text, placeholder) {
        &:lang(#{$lang}):empty::after {
            content: $text;
        }
    }
}

// Button groups
.cf-example > .btn-group + .btn-group,
.cf-example > .btn-group + br + .btn-group {
    margin-top: .5rem;
}

// Card deck
.card-deck-col {
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: flex-start;
    margin-right: -1rem;
    margin-bottom: 0;
    margin-left: -1rem;
}
.card-deck-col > .card {
    flex-basis: auto;
    width: calc(100% - 2rem);
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}
@media (min-width: 35em) {
    .card-deck-col > .card {
        width: calc(50% - 2rem);
    }
}
@media (min-width: 62em) {
    .card-deck-col > .card {
        width: calc(25% - 2rem);
    }
}

// Navbar
.cf-example .fixed-top,
.cf-example .sticky-top {
    position: static;
    margin: -1rem -1rem 1rem;

    @include media-breakpoint-up(sm) {
        margin: -1.5rem -1.5rem 1rem;
    }
}
.cf-example .fixed-bottom {
    position: static;
    margin: 1rem -1rem -1rem;

    @include media-breakpoint-up(sm) {
        margin: 1rem -1.5rem -1.5rem;
    }
}

// Pagination
.cf-example .pagination {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

// Progress
.cf-example > .progress {
    + .progress,
    + .btn {
        margin-top: 1rem;
    }
}

// Utilities
.cf-example > .close {
    float: none;
}
.cf-example > .valign-top,
.cf-example > .valign-middle,
.cf-example > .valign-bottom {
    padding: .25em;
    margin-bottom: .5em;
    background-color: #f0f0f0;
}

// Dropdown
.cf-example-dropdown {
    height: 19em;

    > .dropdown {
        @include clearfix();

        > .dropdown-toggle {
            float: left;
        }

        > .dropdown-menu {
            position: static;
            display: block;
            margin-bottom: .25rem;
            clear: left;
        }
    }
}

.cf-example > .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: .25rem;
    clear: left;
}

.cf-example > .dropdown + .dropdown,
.cf-example > .btn-group + .btn-group,
.cf-example > .dropdown + .btn-group,
.cf-example > .btn-group + .dropdown {
    margin-top: .5rem;
}

// Modal
.cf-example > .modal {
    position: static;
    display: block;
}

// Tooltips & Popovers
.cf-example-tooltip,
.cf-example-popover {
    background-color: #f0f0f0;
}
.cf-example-tooltip .tooltip,
.cf-example-popover .popover {
    position: relative;
    display: block;
    float: left;
    width: 16rem;
    margin: 1.25rem;
}
.cf-example-tooltip .tooltip {
    width: auto;
    padding: 4px;
    margin: 1rem;
    opacity: .9;
}

// Viewport Examples
.container-viewport {
    position: relative;
    height: 150px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}
.container-viewport .viewport-text {
    position: absolute;
    top: 65px;
    left: 50px;
    font-weight: $font-weight-bold;
}
.container-viewport .tooltip,
.container-viewport .popover {
    min-width: 250px;
    max-width: 500px;
}
.container-viewport .tooltip .tooltip-body {
    min-width: 250px;
    max-width: 500px;
    min-height: 100px;
    text-align: left;
}
.container-viewport .btn-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
}
.container-viewport .btn-drag {
    position: absolute;
    bottom: 0;
    left: 120px;
}


// Scrollspy
.cf-example-scrollspy {
    position: relative;
    height: 12rem;
    margin-top: .5rem;
    overflow: auto;
}
.cf-example-scrollspy2 {
    position: relative;
    height: 20rem;
    margin-top: .5rem;
    overflow: auto;
}

// Slider
.cf-example > [data-cfw="slider"] .slider {
    width: 12rem;
}
.cf-example > [data-cfw="slider"] .slider-vertical {
    width: auto;
    height: 12rem;
    margin-left: 1rem;
}
.cf-example > [data-cfw="slider"] input {
    width: 3em;
    font-weight: $font-weight-normal;
}
.cf-example > [data-cfw="slider"] select {
    font-weight: $font-weight-normal;
}

// Tab-Responsive
@media (min-width: 62em) {
    .cf-example-tabResponsive h4 {
        display: none;
    }
    .cf-example-tabResponsive .collapse {
        display: block;
        visibility: visible;
    }
}
@media (max-width: 61.9375em) {
    .cf-example-tabResponsive .nav-tabs {
        display: none;
    }
    .cf-example-tabResponsive .tab-pane {
        display: block;
        visibility: visible;
    }
}

// Border utilities
.cf-example-border {
    [class^="border"] {
        display: inline-block;
        width: 4rem;
        height: 4rem;
        margin: .25rem;
        background-color: $uibase-50;
    }
}

// Flex utilities
.cf-example-flex {
    .cf-example {
        overflow: auto;
    }
    > div div {
        background-color: rgba(34, 68, 102, .05);
        border: $border-width solid rgba(34, 68, 102, .2);
    }
}


// Image Replacement
.cf-example {
    > .heading {
        width: 3rem;
        height: 3rem;
        // stylelint-disable-next-line font-family-no-missing-generic-family-keyword
        font: 0/0 a;
        color: transparent;
        text-shadow: none;
        background-color: transparent;
        background-image: url("../brand/figuration-solid.svg");
        border: 0;
    }
}
