// Container illustrations
.cf-example-container {
    min-width: 16rem;
    max-width: 25rem;
    margin-right: auto;
    margin-left: auto;
}
.cf-example-container-fluid {
    max-width: none;
}
.cf-example-container-header {
    height: 3rem;
    margin-bottom: .5rem;
    background-color: lighten(map-get($context-colors, "primary"), 50%);
    border-radius: .25rem;
}
.cf-example-container-sidebarL {
    float: left;
    width: 4rem;
    height: 8rem;
    background-color: lighten(map-get($context-colors, "warning"), 25%);
    border-radius: .25rem;
}
.cf-example-container-sidebarR {
    float: right;
    width: 8rem;
    height: 8rem;
    background-color: lighten(map-get($context-colors, "danger"), 25%);
    border-radius: .25rem;
}
.cf-example-container-body {
    height: 8rem;
    margin-right: 8.5rem;
    margin-left: 4.5rem;
    background-color: lighten($docs-color, 25%);
    border-radius: .25rem;
}


// Grid
.cf-example-row {
    .row + .row {
        margin-top: 1rem;
    }

    .row {
        > [class^="col-"],
          .col {
            padding-top: .75rem;
            padding-bottom: .75rem;
            background-color: rgba(34,68,102,.15);
            border: $gridline-border-width solid rgba(34,68,102,.2);
        }
    }
}
.cf-example-row-flex {
    .row {
        border: $gridline-border-width solid rgba(34,68,102,.5);
    }
}
.cf-example-row-flex-v {
    .row {
        height: 7rem;
        border: $gridline-border-width solid rgba(34,68,102,.5);
    }
}

// Form
.cf-example > .form-control + .form-control,
.cf-example > .custom-select + .custom-select {
    margin-top: .5rem;
}

// Button groups
.cf-example > .btn-group + .btn-group,
.cf-example > .btn-group + br + .btn-group {
    margin-top: .5rem;
}

// Cards
.cf-example > .card {
    max-width: 20rem;
}

// List groups
.cf-example > .list-group {
    max-width: 25rem;
}

// Navbar
.cf-example .navbar-fixed-top {
    position: static;
    margin: -1rem -1rem 1rem;

    @include media-breakpoint-up(sm) {
        margin: -1.5rem -1.5rem 1rem;
    }
}
.cf-example .navbar-fixed-bottom {
    position: static;
    margin: 1rem -1rem -1rem;

    @include media-breakpoint-up(sm) {
        margin: 1rem -1.5rem -1.5rem;
    }
}

// Utilities
.cf-example > [class*="bg-"]:not(.navbar) {
    padding: .5rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
}
.cf-example > .close {
    float: none;
}
.cf-example > .valign-top,
.cf-example > .valign-middle,
.cf-example > .valign-bottom {
    padding: .25em;
    margin-bottom: .5em;
    background-color: #f0f0f0;
}

// Dropdown
.cf-example-dropdown {
    height: 19em;

    > .dropdown {
        @include clearfix();

        > .dropdown-toggle {
            float: left;
        }

        > .dropdown-menu {
            position: static;
            display: block;
            margin-bottom: .25rem;
            clear: left;
        }
    }
}

.cf-example > .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: .25rem;
    clear: left;
}

.cf-example > .dropdown + .dropdown,
.cf-example > .btn-group + .btn-group,
.cf-example > .dropdown + .btn-group,
.cf-example > .btn-group + .dropdown {
    margin-top: .5rem;
}

// Modal
.cf-example > .modal {
    position: static;
    display: block;
}

// Tooltips & Popovers
.cf-example-tooltip,
.cf-example-popover {
    background-color: #f0f0f0;
}
.cf-example-tooltip .tooltip,
.cf-example-popover .popover {
    position: relative;
    display: block;
    float: left;
    width: 16rem;
    margin: 1.25rem;
}
.cf-example-tooltip .tooltip {
    width: auto;
    padding: 4px;
    margin: 1rem;
    opacity: .9;
}

// Viewport Examples
.container-viewport {
    position: relative;
    height: 150px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}
.container-viewport .viewport-text {
    position: absolute;
    top: 65px;
    left: 50px;
    font-weight: bold;
}
.container-viewport .tooltip,
.container-viewport .popover {
    min-width: 250px;
    max-width: 500px;
}
.container-viewport .tooltip .tooltip-inner {
    min-width: 250px;
    max-width: 500px;
    min-height: 100px;
    text-align: left;
}
.container-viewport .btn-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
}
.container-viewport .btn-drag {
    position: absolute;
    bottom: 0;
    left: 120px;
}


// Scrollspy
.cf-example-scrollspy {
    position: relative;
    height: 200px;
    margin-top: 10px;
    overflow: auto;
}


// Slider
.cf-example > [data-cfw="slider"] .slider {
    width: 12rem;
}
.cf-example > [data-cfw="slider"] .slider-vertical {
    width: auto;
    height: 12rem;
    margin-left: 1rem;
}
.cf-example > [data-cfw="slider"] input {
    width: 3em;
    font-weight: normal;
}
.cf-example > [data-cfw="slider"] select {
    font-weight: normal;
}

// Tab-Responsive
@media (min-width: 62em) {
    .cf-example-tabResponsive h4 {
        display: none;
    }
    .cf-example-tabResponsive .collapse {
        display: block;
        visibility: visible;
    }
}
@media (max-width: 61.9375em) {
    .cf-example-tabResponsive .nav-tabs {
        display: none;
    }
    .cf-example-tabResponsive .tab-pane {
        display: block;
        visibility: visible;
    }
}
