// stylelint-disable declaration-no-important

// Responsive tests

// Doc tables
.table .highlight pre {
    white-space: normal;
}

// Utility classes table
.cfw-table th small,
.responsive-utilities th small {
    display: block;
    font-weight: $font-weight-normal;
    color: #999;
}
.responsive-utilities tbody th {
    font-weight: $font-weight-normal;
}
.responsive-utilities td {
    text-align: center;
}
.responsive-utilities .is-visible {
    color: map-deep-get($context-themes, "success", "color");
    background-color: map-deep-get($context-themes, "success", "bg") !important;
}
.responsive-utilities .is-hidden {
    color: $uibase-500;
    background-color: #f8f8f8 !important;
}

// Responsive tests
.responsive-utilities-test {
    margin-top: .25rem;
}
.responsive-utilities-test .col-6 {
    margin-top: .5rem;
    margin-bottom: .5rem;
}
.responsive-utilities-test span {
    display: block;
    padding: 1rem .5rem;
    @include font-size(1rem);
    font-weight: $font-weight-bold;
    line-height: 1.1;
    text-align: center;
    border-radius: .25rem;
}
.visible-on,
.hidden-on {
    .col-6 {
        > .not-visible {
            color: $uibase-500;
            border: 1px solid $uibase-300;
        }

        .visible {
            color: map-deep-get($context-themes, "success", "color");
            background-color: map-deep-get($context-themes, "success", "bg");
            border: 1px solid map-deep-get($context-themes, "success", "border-color");
        }
    }
}

@include media-breakpoint-only(xs) {
    .d-xs-only {
        display: none !important;
    }
}
@include media-breakpoint-only(sm) {
    .d-sm-only {
        display: none !important;
    }
}
@include media-breakpoint-only(md) {
    .d-md-only {
        display: none !important;
    }
}
@include media-breakpoint-only(lg) {
    .d-lg-only {
        display: none !important;
    }
}
@include media-breakpoint-only(xl) {
    .d-xl-only {
        display: none !important;
    }
}
