// stylelint-disable selector-max-id, declaration-no-important, selector-no-qualifying-type, selector-max-type

// Core reusable parts
@import "../../../scss/functions";
@import "../../../scss/settings";
@import "../../../scss/mixins";

$docs-color: #246;

// Skipnav
.skipnav {
    position: absolute;
    top: -100px;
    z-index: 1200;
    display: block;
    width: 12em;
    max-width: 100%;
    font-size: 1rem;
    font-weight: $font-weight-bold;
    color: $black;
    text-align: center;
    background: $uibase-50;
    border: 2px solid $uibase-700;

    &:focus {
        top: .5rem;
        left: 50%;
        margin-left: -6em;
        color: $black;
    }
}

.cf-header {
    color: $white;
    // background-color: $uibase-900;
    background-color: #246;

    .navbar-brand {
        margin-right: .5rem;
    }

    .navbar-brand-logo {
        display: inline-block;
        width: 2rem;
        height: 2rem;
    }

    @include media-breakpoint-down(md) {
        .navbar-collapse {
            .navbar-nav {
                padding-top: .5rem;
            }
            .nav-link {
                padding-left: .5rem;
            }
        }
    }
}

// Do a sticky navigation thing
@include media-breakpoint-up(md) {
    @supports (position: sticky) {
        .cf-header {
            position: sticky;
            top: 0;
            z-index: 1045;
        }

        .cf-content {
            > h1[id],
            > h2[id],
            > h3[id],
            > h4[id],
            > h5[id] {
                &::before {
                    position: relative;
                    z-index: -1;
                    display: block;
                    height: 4.5rem;
                    margin-top: -4.5rem;
                    visibility: hidden;
                    content: "";
                }
            }
        }
    }
}

.cf-header-social {
    flex-direction: row;
    align-items: center;

    .nav-link {
        padding-right: .5rem;
        padding-left: .5rem;
    }

    .dropdown-menu {
        position: absolute !important;
        float: left !important;
    }
}

.cf-header-menu {
    display: inline-block;
    margin-top: -.25rem;
    font-size: 1.5rem;
    font-weight: $font-weight-bold;
    line-height: .75;
}

.cf-header-icon {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    vertical-align: middle;
}


// Home page
.home-icons {
    .far,
    .fas {
        font-size: 3.5rem;
        vertical-align: middle;
    }

    .fa-mobile-alt {
        font-size: 2.5rem;
    }
    .fa-tablet-alt {
        font-size: 3rem;
    }

    .far + .far,
    .fas + .fas,
    .far + .fas,
    .fas + .far {
        margin-left: .5rem;
    }
}
.home-feature {
    > .small {
        margin-top: -.75rem;
    }
    @include media-breakpoint-up(md) {
        margin-top: 2.2rem;
    }
}
.btn-start {
    padding: .75rem 2rem;
    margin-bottom: .25rem;
    font-weight: 600;
    color: #fff;
    background-color: rgba(255, 255, 255, .15);
    border-color: rgba(255, 255, 255, .8);
    border-width: 2px;
    box-shadow: 2px 2px .2rem rgba(0, 0, 0, .35);

    @include hover-focus() {
        color: #222;
        background-color: rgba(255, 255, 255, .9);
    }
}

// Jumbotrons
.jumbotron-home {
    padding: 2rem 1.5rem;
    margin-bottom: 2rem;
    color: rgba(255, 255, 255, .9);
    // text-align: center;
    // background-color: $docs-color;
    background-image: linear-gradient(135deg, #0c5782 0%, #117cba 100%);

    .logo-home {
        display: block;
        width: 100%;
        margin: 0 auto;
        filter: drop-shadow(0 0 7px rgba(255, 255, 255, .15));
    }

    h1,
    h2 {
        font-weight: $font-weight-bold;
        color: $white;
    }

    .lead {
        margin-top: 1rem;
        margin-bottom: 1.5rem;
        font-size: 1.5rem;
    }

    .splash-home {
        border-bottom: 1px solid rgba(255, 255, 255, .5);
    }

    @include media-breakpoint-down(md) {
        .container {
            width: 100%;
        }
    }
}

.container-divider {
    border-top: 1px solid rgba(0, 0, 0, .5);

    @include media-breakpoint-up(md) {
        &.col,
        &[class*="col-"] {
            border-top: 0;
            border-left: 1px solid rgba(0, 0, 0, .5);
        }
    }
}

.jumbotron-docs {
    padding: .5rem .375rem;
    margin-bottom: 0;
    color: rgba(255, 255, 255, .9);
    // background-color: $docs-color;
    background-image: linear-gradient(135deg, #0c5782 0%, #117cba 100%);

    @include media-breakpoint-up(sm) {
        padding: 1rem .5rem;
    }

    .lead {
        margin-bottom: .25rem;
    }
}

// AnchorJS
.anchorjs-link {
    transition: opacity .2s ease-in-out .1s;

    @include hover-focus {
        color: inherit;
        text-decoration: none;
    }
}

// ClipboardJS
.cf-clipboard {
    position: relative;
    z-index: 2;
    display: block;
    float: right #{"/*rtl:ignore*/"};
    line-height: 1;

    + .highlight {
        margin-top: 0;
    }

    .tooltip {
        white-space: nowrap;
    }
}
.btn-clipboard {
    position: absolute;
    top: 0;
    right: 0 #{"/*rtl:ignore*/"};
}

// Sidenav
.cf-sidebar {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: $uibase-25;
    border-bottom: 1px solid $uibase-200;

    @include media-breakpoint-up(md) {
        padding-bottom: 3rem;
        border-right: 1px solid $uibase-200;
        border-bottom: 0;
    }

    .cf-sidebar-header {
        margin-bottom: .75rem;
    }

    .nav {
        // margin-top: -.25rem;
    }

    .nav-link {
        display: block;
        padding: .15rem .5rem;

        &.active {
            color: $white;
            background-color: #0c5782;
        }

        @include media-breakpoint-down(md) {
            display: inline-block;
        }
    }
}

// TOC
#markdown-toc {
    font-size: .9375rem;

    ul {
        padding-left: 2rem;
        margin-top: .25rem;
        margin-bottom: .25rem;
    }
}

@include media-breakpoint-up(xl) {
    #contents,
    #markdown-toc {
        display: none;
    }
}

.cf-toc {
    order: 2;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: .875rem;

    .section-toc {
        @supports (position: sticky) {
            position: sticky;
            top: 4.375rem;
            max-height: calc(100vh - 4.375rem);
            overflow-x: visible;
            overflow-y: auto;
        }

        padding-top: .5rem;
        padding-bottom: .5rem;
        padding-left: 1rem;
        margin-bottom: 0;
        list-style: none;
        border-left: 1px solid #8ac;

        ul {
            padding-left: .875rem;
            list-style: none;
        }

        li {
            position: relative;
            padding: .0625rem 0;
        }

        .active::before {
            position: absolute;
            top: 0;
            bottom: 0;
            left: -1rem;
            display: block;
            width: .1875rem;
            font-size: 5rem;
            line-height: .5rem;
            content: " ";
            background-color: #246;
        }

        .section-toc-h3 {
            padding-left: .875rem;
        }
        .section-toc-h4 {
            padding-left: 1.75rem;
        }
        .section-toc-h5 {
            padding-left: 2.625rem;
        }
    }
}

// Title item
.cf-title {
    font-size: 3rem;

    + p {
        font-size: 1.15rem;
        font-weight: 600;
    }
}

// Content
.cf-content {
    padding-top: 1rem;
    padding-bottom: 2rem;

    @include media-breakpoint-up(md) {
        padding-top: 1.5rem;
        padding-right: 2.5rem;
        padding-left: 2.5rem;
    }

    > h2 {
        margin-top: 2.5rem;
    }

    > h3 {
        margin-top: 1.5rem;
    }
}

h2,
h3,
h4 {
    > code {
        font-weight: 500;
    }
}

// Example container
.cf-example {
    padding: 1rem;
    background-color: #fff;
    border: 1px solid #e1e1e8;
    border-radius: .25rem .25rem 0 0;

    + .cf-clipboard + .highlight {
        border-top: 0;
        @include border-top-radius(0);
    }

    @include media-breakpoint-up(sm) {
        padding: 1.5rem;
    }

    @include clearfix();
}
.cf-example-bottom {
    margin-bottom: 1rem;
    @include border-bottom-radius(.25rem);
}

// Highlight
.highlight {
    position: relative;
    margin-bottom: 1rem;
    color: #393939;
    background-color: #f8f8f8;
    border: 1px solid #e1e1e8;
    border-radius: .25rem;

    // Use SASS interpolation syntax, for passing comment as string
    pre {
        direction: ltr #{"/*rtl:ignore*/"};
        padding: 1.65rem 1rem .5rem;
        margin: 0;
        text-align: left #{"/*rtl:ignore*/"};
        background-color: transparent;
        border: 0;
    }

    pre code {
        font-size: inherit;
        color: #3f3f3f;
    }
}

// Tables - merged .table and .table-bordered styles
.cf-content > table:not(.table) {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    border: $table-border-width solid $table-border-color;

    th,
    td {
        padding: $table-cell-padding;
        vertical-align: top;
        border: $table-border-width solid $table-border-color;
    }

    thead {
        th,
        td {
            vertical-align: bottom;
            border-bottom-width: (2 * $table-border-width);
        }
    }

    tbody + tbody {
        border-top: (2 * $table-border-width) solid $table-border-color;
    }

    .table {
        background-color: $body-bg;
    }
}

.table-grunt {
    tr th:first-child,
    tr td:first-child {
        white-space: nowrap;
    }
}

// Callouts
.cf-callout {
    padding: 1rem;
    margin: 1rem 0;
    border: $border-width solid $uibase-300;
    border-left-width: .5rem;
    border-radius: $border-radius;

    .h3,
    .h4,
    .h5,
    .h6 {
        margin-top: 0;
        margin-bottom: .5rem;
        font-size: 1.25rem;
    }

    p:last-child,
    ul:last-child {
        margin-bottom: 0;
    }

    + .cf-callout {
        margin-top: -.25rem;
    }
}
// Callout Contextual modifiers
@mixin callout-variant($bg, $border, $color) {
    // color: $color;
    background-color: $bg;
    border-color: $border;

    .h3,
    .h4,
    .h5,
    .h6 {
        color: $color;
    }

    //a {
    //    color: darken($color, 5%);
    //
    //    @include hover-focus {
    //        color: darken($color, 15%);
    //    }
    //}
}
@each $theme, $colors in $context-themes {
    $color:     map-get($colors, "context-color");
    $bg:        map-get($colors, "context-bg");
    $border:    map-get($colors, "context-border");

    .cf-callout-#{$theme} {
        @include callout-variant($bg, $border, $color);
    }
}
.cf-callout-dep > p + ul {
    margin-top: -1rem;
}

// Palettes
.palette {
    margin-bottom: 1rem;
}
.palette-base,
.palette-item {
    padding: .5rem 1rem;
    font-size: .875rem;
}
.palette-base {
    margin-bottom: .25rem;
}

// Top of page item
.topLink a {
    display: inline-block;
    padding: .15rem .5rem;
    font-size: .875rem;
    color: #c3c3c3;
    text-decoration: none;
    white-space: nowrap;
    background: #424242;
    border-radius: .5rem .5rem 0 0;
}
.topLink a:hover,
.topLink a:focus {
    color: #fff;
}
.topLink .caret {
    border-top: 0;
    border-bottom: $caret-width solid;
}
.topLink.affix-top,
.topLink.affix {
    position: fixed;
    bottom: 0;
    backface-visibility: hidden;
}
.topLink.affix-top {
    visibility: hidden;
}
.topLink.affix-bottom {
    position: absolute;
}

// Feed
.cf-feed {
    padding: 2rem 0;
    margin-top: 2rem;
    text-align: center;
    background-image: linear-gradient(135deg, #117cba 0%, #0c5782 100%);

    a {
        color: rgba(255, 255, 255, .9);

        @include hover-focus() {
            color: rgba(255, 255, 255, 1);
        }
    }
}

// Footer
.cf-footer {
    padding: .75rem 0;
    font-size: 85%;
    text-align: center;
    background-color: $uibase-50;
    border-top: 2px solid $uibase-700;

    .container > p:last-child {
        margin-bottom: 0;
    }

    @include media-breakpoint-up(sm) {
        text-align: left;
    }
}

.footer-links {
    padding-left: 0;
    margin-bottom: 1rem;
    list-style: none;

    @include clearfix();
}
.footer-links li {
    float: left;
}
.footer-links li + li::before {
    display: inline-block;
    padding-right: .25rem;
    padding-left: .25rem;
    content: "-";
}

.footer-partners {
    text-align: left;

    .partner-title {
        margin-bottom: .125rem;
    }
}

// Keyboard commands
.cf-docs-keys dt {
    float: left;
    width: 4.5rem;
    min-height: 1.75rem;
    overflow: hidden;
    clear: left;
    text-align: center;
    white-space: nowrap;
}
.cf-docs-keys dd {
    min-height: 1.75rem;
    margin-left: 5rem;

    @include clearfix();
}

.cf-team a {
    text-decoration: none;
}
.cf-team .github-btn {
    float: right;
    width: 180px;
    height: 1.25rem;
    margin-top: .25rem;
    border: 0;
}

.cf-textalt {
    text-align: center;
}
.cf-textalt div div {
    padding: .5rem 1rem;
}

@import "search";
@import "examples";
@import "syntax";
@import "responsive-tests";
@import "player";
