@use "../mixins/border";
@use "../mixins/box-shadow";
@use "../mixins/font-size";
@use "../settings";
@use "../settings-options";

@if settings-options.$enable-code {
    // Inline code
    @if settings-options.$enable-code-code {
        code {
            padding: settings.$code-padding-y settings.$code-padding-x;
            @include font-size.font-size(settings.$code-font-size);
            color: settings.$code-color;
            word-wrap: break-word;
            background-color: settings.$code-bg;
            @include border.border-radius(settings.$code-border-radius);

            // Inherit link color when inside anchors to avoid mis-matched underline
            a > & {
                color: inherit;
            }
        }
    }

    // User input typically entered via keyboard
    @if settings-options.$enable-code-kbd {
        kbd {
            padding: settings.$kbd-padding-y settings.$kbd-padding-x;
            @include font-size.font-size(settings.$kbd-font-size);
            color: settings.$kbd-color;
            background-color: settings.$kbd-bg;
            @include border.border-radius(settings.$kbd-border-radius);
            @include box-shadow.box-shadow(settings.$kbd-box-shadow);

            kbd {
                padding: 0;
                @include font-size.font-size(1em);
                font-weight: settings.$kbd-nested-font-weight;
                background-color: settings.$kbd-nested-bg;
                @include box-shadow.box-shadow(none);
            }
        }
    }

    // Blocks of code
    @if settings-options.$enable-code-pre {
        pre {
            display: block;
            @include font-size.font-size(settings.$code-font-size);
            color: settings.$pre-color;

            // Account for some code outputs that place code tags in pre tags
            code {
                padding: 0;
                @include font-size.font-size(inherit);
                color: inherit;
                background-color: transparent;
                @include border.border-radius(0);
            }
        }
    }
}
