@use "../mixins/border";
@use "../mixins/box-shadow";
@use "../mixins/font-size";
@use "../mixins/images";
@use "../settings";
@use "../settings-options";

@if settings-options.$enable-img {
    // Fluid images
    // Keep images from scaling beyond the width of their parents.
    @if settings-options.$enable-img-fluid {
        .img-fluid {
            @include images.img-fluid();
        }
    }

    // Image thumbnails
    @if settings-options.$enable-img-thumbnail {
        .img-thumbnail {
            padding: settings.$thumbnail-padding;
            background-color: settings.$thumbnail-bg;
            border: settings.$thumbnail-border-width solid settings.$thumbnail-border-color;
            @include border.border-radius(settings.$thumbnail-border-radius);
            @include box-shadow.box-shadow(settings.$thumbnail-box-shadow);

            // Keep them at most 100% wide
            @include images.img-fluid();
        }
    }
}

// Figures
@if settings-options.$enable-figure {
    .figure {
        // Ensures the caption's text aligns with the image.
        display: inline-block;
    }
    .figure-img {
        margin-bottom: settings.$figure-spacer-y;
        line-height: 1;
    }
    .figure-caption {
        @include font-size.font-size(settings.$figure-caption-font-size);
        color: settings.$figure-caption-color;
    }
}
