@use "sass:meta";
@use "../settings";
@use "../settings-options";

// Custom variable values only support SassScript inside `#{}`.
@if settings-options.$enable-root {
    :root {
        @if settings-options.$enable-root-colors {
            @each $color, $value in settings.$root-colors {
                --color-#{$color}: #{$value};
            }
        }

        @if settings-options.$enable-root-breakpoints {
            @each $bp, $value in settings.$grid-breakpoints {
                --breakpoint-#{$bp}: #{$value};
            }
        }

        @if settings-options.$enable-root-fonts {
            // Use `inspect` for lists so that quoted items keep the quotes.
            // See https://github.com/sass/sass/issues/2383#issuecomment-336349172
            --font-family-sans-serif: #{meta.inspect(settings.$font-family-sans-serif)};
            --font-family-serif: #{meta.inspect(settings.$font-family-serif)};
            --font-family-monospace: #{meta.inspect(settings.$font-family-monospace)};
        }
    }
}
