@use "sass:list";
@use "sass:map";
@use "sass:meta";
@use "../settings";
@use "../settings-options";
@use "../functions/color-util";
@use "../mixins/breakpoints";
@use "../mixins/tables";

// Targeting th & td with universal selectors
// Using:  `> :not(caption) > * > *`
//
// Advantages:
// - Stops styles from inheriting in nested tables from use of child combinators.
// - Creates less generated CSS - removes need a possible 6 nested selector pairs.
// - Easier to override since the selector is less specific.
// Disadvantages:
// - Possible performance hit?
// - Confusing syntax.

@if settings-options.$enable-table {
  // Basic table
  .table {
    width: 100%;
    margin-bottom: settings.$table-margin-bottom;
    vertical-align: settings.$table-cell-vertical-align;
    background-color: settings.$table-bg;
    border: 0 solid;
    border-color: settings.$table-border-color;

    // stylelint-disable-next-line selector-max-universal
    > :not(caption) > * > * {
      padding: settings.$table-cell-padding;
      box-shadow: none;
    }

    thead {
      th {
        text-align: settings.$table-head-horizontal-align;
        vertical-align: settings.$table-head-vertical-align;
      }
    }

    tbody {
      vertical-align: inherit;
    }
  }

  // Horizontal borders
  @if settings-options.$enable-table-borders {
    .table-bordered,
    .table-celled,
    .table-divided,
    .table-ruled {
      // stylelint-disable-next-line selector-max-universal
      > :not(caption) > * > * {
        border-top-width: settings.$table-border-width;
      }

      // stylelint-disable-next-line selector-max-universal
      > thead > * > * {
        border-bottom-color: settings.$table-head-border-color;
        border-bottom-width: settings.$table-head-border-width;
      }

      > tbody + tbody > :first-child {
        border-top-color: settings.$table-body-border-color;
        border-top-width: settings.$table-body-border-width;
      }

      > tfoot > :first-child > * {
        border-top-color: settings.$table-foot-border-color;
        border-top-width: settings.$table-foot-border-width;
        border-bottom-width: 0;
      }
    }

    .table-celled,
    .table-divided {
      > thead > :first-child > * {
        border-top-width: 0;
      }
    }

    .table-bordered,
    .table-ruled {
      // stylelint-disable-next-line selector-max-universal
      > tfoot > * > * {
        border-bottom-width: settings.$table-border-width;
      }
    }

    .table-bordered,
    .table-wrapped,
    .table-ruled {
      border-top-width: settings.$table-border-width;
      border-bottom-width: settings.$table-border-width;
    }

    // Vertical borders
    .table-bordered,
    .table-celled,
    .table-pillared,
    .table-walled {
      // stylelint-disable selector-max-universal
      > :not(caption) > * > * {
        border-left-width: settings.$table-border-width;

        &:last-child {
          border-right-width: settings.$table-border-width;
        }
      }
      // stylelint-enable selector-max-universal
    }

    .table-pillared,
    .table-celled {
      // stylelint-disable selector-max-universal
      > :not(caption) > * > * {
        &:first-child {
          border-left-width: 0;
        }
        &:last-child {
          border-right-width: 0;
        }
      }
      // stylelint-enable selector-max-universal
    }

    .table-bordered,
    .table-wrapped,
    .table-walled {
      border-right-width: settings.$table-border-width;
      border-left-width: settings.$table-border-width;
    }
  }

  // Striped rows
  @if settings-options.$enable-table-striped {
    .table-striped {
      > tbody > tr:nth-of-type(#{settings.$table-striped-selector}) > * {
        box-shadow: settings.$table-striped-box-shadow;
      }
    }
    .table-striped-alt {
      > tbody > tr:nth-of-type(#{settings.$table-striped-selector}) > * {
        box-shadow: settings.$table-striped-alt-box-shadow;
      }
    }
  }

  // Striped cols
  @if settings-options.$enable-table-striped-cols {
    .table-striped-cols {
      > :not(caption) > tr > :nth-child(#{settings.$table-striped-cols-selector}) {
        box-shadow: settings.$table-striped-box-shadow;
      }
    }
    .table-striped-cols-alt {
      > :not(caption) > tr > :nth-child(#{settings.$table-striped-cols-selector}) {
        box-shadow: settings.$table-striped-alt-box-shadow;
      }
    }
  }

  // Hover effect
  // Needs to be after striped table in order to overrule background.
  @if settings-options.$enable-table-hover {
    .table-hover {
      > tbody > tr:hover > * {
        box-shadow: settings.$table-hover-box-shadow;
      }
    }
    .table-hover-alt {
      > tbody > tr:hover > * {
        box-shadow: settings.$table-hover-alt-box-shadow;
      }
    }
  }

  // Condensed table
  @if settings-options.$enable-table-condensed {
    .table-condensed {
      // stylelint-disable-next-line selector-max-universal
      > :not(caption) > * > * {
        padding: settings.$table-condensed-cell-padding;
      }
    }
  }

  // Table backgrounds
  // Active variant
  @if settings-options.$enable-table-active {
    @include tables.table-row-variant(active, settings.$table-bg-active, settings.$table-bg-active-hover);
  }

  // Theme generation
  @if settings-options.$enable-table-colors {
    $merged-table-themes: null;

    @if (meta.type-of(settings.$table-colors) == "map" and list.length(settings.$table-colors) != 0) {
      $mixed-table-themes: color-util.mix-context-colors(settings.$table-colors, settings.$table-levels);
      $merged-table-themes: map.merge($mixed-table-themes, settings.$table-themes);
    }

    // Contextual variants
    @if (meta.type-of($merged-table-themes) == "map" and list.length($merged-table-themes) != 0) {
      @each $theme, $colors in $merged-table-themes {
        $bg:       map.get($colors, "bg");
        $hover-bg: map.get($colors, "hover-bg");

        @include tables.table-row-variant("#{$theme}", $bg, $hover-bg);
      }
    }
  }

  // Scrolling table
  // Add `.table-scroll` wrapper to a table to enable horizontal scrolling.
  // Tables will scroll when they will no longer fit width-wise in their container.
  @if settings-options.$enable-table-scroll {
    .table-scroll {
      @include tables.table-scroll();
    }

    // Responsive scrolling table
    // Tables will no longer scroll when breakpoint is larger than the one designated.
    @if settings-options.$enable-table-scroll-responsive {
      @each $bp in settings.$table-scroll-breakpoints {

        // Skip largest breakpoint for down (equivalent to `.table-scroll`)
        @if breakpoints.breakpoint-max($bp, settings.$grid-breakpoints) != null {
          .table-scroll-#{$bp} {
            @include breakpoints.media-breakpoint-down($bp) {
              @include tables.table-scroll();
            }
          }
        }
      }
    }
  }

  // Alternate caption placement
  .caption-top {
    caption-side: top;
  }
}
