// Basic table
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: $spacer;

    th,
    td {
        padding: $table-cell-padding;
        vertical-align: top;
        border-top: $table-border-width solid $table-border-color;
    }

    thead th {
        vertical-align: bottom;
        border-bottom: (2 * $table-border-width) solid $table-border-color;
    }

    tbody + tbody {
        border-top: (2 * $table-border-width) solid $table-border-color;
    }

    .table {
        background-color: $body-bg;
    }
}


// Condensed table
.table-condensed {
    th,
    td {
        padding: $table-condensed-cell-padding;
    }
}


// Bordered table
.table-bordered {
    border: $table-border-width solid $table-border-color;

    th,
    td {
        border: $table-border-width solid $table-border-color;
    }

    thead {
        th,
        td {
            border-bottom-width: (2 * $table-border-width);
        }
    }
}


// Striped table
.table-striped {
    tbody tr:nth-of-type(odd) {
        background-color: $table-bg-accent;
    }

    &.table-inverse tbody tr:nth-of-type(odd) {
        background-color: $table-inverse-bg-accent;
    }
}


// Hover effect
// Needs to be after striped table in order to overrule background
.table-hover {
    tbody tr {
        @include hover {
            background-color: $table-bg-hover;
        }
    }

    &.table-inverse tbody tr {
        @include hover {
            background-color: $table-inverse-bg-hover;
        }
    }
}


// Table backgrounds
//
// Exact selectors below required to override `.table-striped` and prevent
// inheritance to nested tables.

// Active variant
@include table-row-variant(active, $table-bg-active);

// Contextual variants
@each $theme, $colors in $context-themes {
    $bg: map-get($colors, "context-bg");

    @include table-row-variant('#{$theme}', $bg);
}


// Responsive tables
//
// Wrap tables in `.table-responsive` to enable horizontal scrolling.
// Tables will scroll when they will no longer fit width-wise in
// their container.
.table-responsive {
    display: block;
    width: 100%;
    min-height: .01%; // Workaround for IE9 bug (see https://github.com/twbs/bootstrap/issues/14837)
    margin-bottom: $spacer;
    overflow-x: auto;

    // Tighten up spacing
    > .table {
        margin-bottom: 0;
    }
}

// Table color variants
.thead-inverse {
    th {
        color: $table-inverse-color;
        background-color: $table-inverse-bg;
    }
}
.thead-default {
    th {
        color: $table-head-color;
        background-color: $table-head-bg;
    }
}
.table-inverse {
    color: $table-inverse-color;
    background-color: $table-inverse-bg;

    &.table-bordered {
        border: 0;
    }

    th,
    td,
    thead th {
        border-color: $table-inverse-border;
    }
}
