@forward "reboot";
@use "../settings";
@use "../settings-options";
@use "../mixins/lists";
@use "../vendor/rfs";

@if settings-options.$enable-typography {
  // Headings
  @if settings-options.$enable-typography-headings {
    .h1 {
      @extend h1;
    }

    .h2 {
      @extend h2;
    }

    .h3 {
      @extend h3;
    }

    .h4 {
      @extend h4;
    }

    .h5 {
      @extend h5;
    }

    .h6 {
      @extend h6;
    }
  }

  // Lead in
  @if settings-options.$enable-typography-lead {
    .lead {
      @include rfs.font-size(settings.$lead-font-size);
      font-weight: settings.$lead-font-weight;
      line-height: settings.$lead-line-height;
    }
  }

  // Emphasis
  @if settings-options.$enable-typography-small {
    .small {
      @extend small;
    }
  }

  @if settings-options.$enable-typography-mark {
    .mark {
      @extend mark;
    }
  }

  // Lists
  @if settings-options.$enable-typography-list-unstyled {
    .list-unstyled {
      @include lists.list-unstyled();
    }
  }

  //  Abbr extension
  @if settings-options.$enable-typography-initialism {
    .initialism {
      @include rfs.font-size(settings.$initialism-font-size);
      text-transform: uppercase;
    }
  }

  // Blockquotes
  @if settings-options.$enable-typography-blockquote {
    .blockquote {
      margin: settings.$blockquote-margin;
      @include rfs.font-size(settings.$blockquote-font-size);
      color: settings.$blockquote-color;

      > :last-child {
        margin-bottom: 0;
      }
    }
    .blockquote-footer {
      margin: settings.$blockquote-footer-margin;
      @include rfs.font-size(settings.$blockquote-footer-font-size);
      color: settings.$blockquote-footer-color;

      &::before {
        content: settings.$blockquote-footer-content;
      }
    }
  }
}
