// Alerts
@mixin alert-variant($bg, $border, $color) {
    background-color: $bg;
    border-color: $border;
    color: $color;

    hr {
        border-top-color: darken($border, 5%);
    }
    .alert-link {
        color: darken($color, 5%);

        @include hover-focus {
            color: darken($color, 15%);
        }
    }
}
