// Alerts
@mixin alert-variant($color, $bg, $border, $hover-color) {
    color: $color;
    background-color: $bg;
    border-color: $border;

    hr {
        border-top-color: $border;
    }
    .alert-link {
        color: $color;

        @include hover-focus {
            color: $hover-color;
        }
    }
}
