// scss-lint:disable ImportantRule

// Contextual backgrounds
@mixin bg-variant($parent, $background, $color:"") {
    #{$parent} {
        @if $color != "" {
            color: $color !important;
        } @else {
            color: $white !important;
        }
        background-color: $background !important;
    }
    a#{$parent} {
        @include hover-focus {
            background-color: darken($background, 10%) !important;
        }
    }
}

// Palette backgrounds
@mixin bg-palette-variant($parent, $background) {
    #{$parent} {
        background-color: $background !important;
    }
    a#{$parent} {
        @include hover-focus {
            background-color: darken($background, 10%) !important;
        }
    }
}
