// stylelint-disable declaration-no-important

// Contextual backgrounds
@mixin bg-variant($parent, $color, $bg, $hover-bg) {
    #{$parent} {
        color: $color !important;
        background-color: $bg !important;
    }
    a#{$parent} {
        @include hover-focus {
            background-color: $hover-bg !important;
        }
    }
}

// Palette backgrounds
@mixin bg-palette-variant($parent, $color, $level, $level-delta) {
    #{$parent} {
        background-color: palette($color, $level) !important;
    }
    a#{$parent} {
        @include hover-focus {
            background-color: palette($color, $level + $level-delta) !important;
        }
    }
}
