// stylelint-disable declaration-no-important

// Contextual backgrounds
@mixin bg-variant($parent, $bg, $level-delta) {
    #{$parent} {
        background-color: $bg !important;
    }
    @if $level-delta != 0 {
        a#{$parent} {
            @include hover-focus() {
                background-color: palette($bg, 500 + $level-delta) !important;
            }
        }
    }
}

// Palette backgrounds
@mixin bg-palette-variant($parent, $color, $level, $level-delta) {
    #{$parent} {
        background-color: palette($color, $level) !important;
    }
    @if $level-delta != 0 {
        a#{$parent} {
            @include hover-focus() {
                background-color: palette($color, $level + $level-delta) !important;
            }
        }
    }
}
