// Badges
@mixin badge-variant($color, $bg, $hover-color, $hover-bg) {
    @if ($color != $badge-color) {
        color: $color;
    }
    background-color: $bg;
    border-color: $bg;

    &[href] {
        @include hover-focus {
            @if ($hover-color != $badge-link-hover-color) {
                color: $hover-color;
            }
            background-color: $hover-bg;
            border-color: $hover-bg;
        }
    }
}

@mixin badge-outline-variant($color) {
    color: $color;
    background-color: $badge-outline-bg;
    border-color: $color;

    &[href] {
        @include hover-focus {
            color: $badge-outline-link-hover-color;
            background-color: $color;
            border-color: $color;
        }
    }
}
