// Badges
@mixin badge-variant($bg, $hover-bg) {
    background-color: $bg;
    border-color: $bg;

    &[href] {
        @include hover-focus {
            background-color: $hover-bg;
            border-color: $hover-bg;
        }
    }
}

@mixin badge-outline-variant($color) {
    color: $color;
    background-color: $badge-outline-bg;
    border-color: $color;

    &[href] {
        @include hover-focus {
            color: $badge-outline-link-hover-color;
            background-color: $color;
            border-color: $color;
        }
    }
}
