// Badges
@mixin badge-variant($color) {
    background-color: $color;
    border: $color solid $badge-border-width;

    &[href] {
        @include hover-focus {
            background-color: darken($color, 10%);
            border-color: darken($color, 10%);
        }
    }
}

@mixin badge-outline-variant($color) {
    color: $color;
    background-color: transparent;
    border: $color solid $badge-border-width;

    &[href] {
        @include hover-focus {
            color: $badge-outline-link-hover-color;
            background-color: $color;
            border-color: $color;
        }
    }
}
