// All
@mixin border-radius($radius: $border-radius) {
    @if $enable-rounded {
        border-radius: $radius;
    }
}

// Sides
@mixin border-top-radius($radius) {
    @if $enable-rounded {
        border-top-left-radius: $radius;
        border-top-right-radius: $radius;
    }
}

@mixin border-end-radius($radius) {
    @if $enable-rounded {
        border-top-right-radius: $radius;
        border-bottom-right-radius: $radius;
    }
}

@mixin border-bottom-radius($radius) {
    @if $enable-rounded {
        border-bottom-right-radius: $radius;
        border-bottom-left-radius: $radius;
    }
}

@mixin border-start-radius($radius) {
    @if $enable-rounded {
        border-top-left-radius: $radius;
        border-bottom-left-radius: $radius;
    }
}

// Corners
@mixin border-top-end-radius($radius) {
    @if $enable-rounded {
        border-top-right-radius: $radius;
    }
}

@mixin border-top-start-radius($radius) {
    @if $enable-rounded {
        border-top-left-radius: $radius;
    }
}

@mixin border-bottom-end-radius($radius) {
    @if $enable-rounded {
        border-bottom-right-radius: $radius;
    }
}

@mixin border-bottom-start-radius($radius) {
    @if $enable-rounded {
        border-bottom-left-radius: $radius;
    }
}

// Radius utility generators
// Build classes to control by side
@mixin radius-sides($radius: $radius-border-radius, $size: null) {
    // Add the dash for rule naming
    $sizerule: if($size, -#{$size}, "");

    .radius#{$sizerule} {
        @include border-radius($radius);
    }
    .radius-t#{$sizerule} {
        @include border-top-radius($radius);
    }
    .radius-e#{$sizerule} {
        @include border-end-radius($radius);
    }
    .radius-b#{$sizerule} {
        @include border-bottom-radius($radius);
    }
    .radius-s#{$sizerule} {
        @include border-start-radius($radius);
    }
}

// Build classes to control by corner
@mixin radius-corners($radius: $radius-border-radius, $size: null) {
    // Add the dash for rule naming
    $sizerule: if($size, -#{$size}, "");

    .radius-te#{$sizerule} {
        @include border-top-end-radius($radius);
    }
    .radius-ts#{$sizerule} {
        @include border-top-start-radius($radius);
    }
    .radius-be#{$sizerule} {
        @include border-bottom-end-radius($radius);
    }
    .radius-bs#{$sizerule} {
        @include border-bottom-start-radius($radius);
    }
}
