// All
@mixin border-radius($radius: $border-radius) {
    @if $enable-rounded {
        border-radius: $radius;
    }
}

// Sides
@mixin border-top-radius($radius) {
    @if $enable-rounded {
        border-top-right-radius: $radius;
        border-top-left-radius: $radius;
    }
}

@mixin border-right-radius($radius) {
    @if $enable-rounded {
        border-top-right-radius: $radius;
        border-bottom-right-radius: $radius;
    }
}

@mixin border-bottom-radius($radius) {
    @if $enable-rounded {
        border-bottom-right-radius: $radius;
        border-bottom-left-radius: $radius;
    }
}

@mixin border-left-radius($radius) {
    @if $enable-rounded {
        border-top-left-radius: $radius;
        border-bottom-left-radius: $radius;
    }
}

// Corners
@mixin border-top-right-radius($radius) {
    @if $enable-rounded {
        border-top-right-radius: $radius;
    }
}

@mixin border-top-left-radius($radius) {
    @if $enable-rounded {
        border-top-left-radius: $radius;
    }
}

@mixin border-bottom-right-radius($radius) {
    @if $enable-rounded {
        border-bottom-right-radius: $radius;
    }
}

@mixin border-bottom-left-radius($radius) {
    @if $enable-rounded {
        border-bottom-left-radius: $radius;
    }
}

// Radius utility generators
// Build classes to control by side
@mixin radius-sides($radius: $radius-border-radius, $size: null) {
    // Add the dash for rule naming
    $sizerule: if($size, -#{$size}, "");

    .radius#{$sizerule} {
        @include border-radius($radius);
    }
    .radius-t#{$sizerule} {
        @include border-top-radius($radius);
    }
    .radius-r#{$sizerule} {
        @include border-right-radius($radius);
    }
    .radius-b#{$sizerule} {
        @include border-bottom-radius($radius);
    }
    .radius-l#{$sizerule} {
        @include border-left-radius($radius);
    }
}

// Build classes to control by corner
@mixin radius-corners($radius: $radius-border-radius, $size: null) {
    // Add the dash for rule naming
    $sizerule: if($size, -#{$size}, "");

    .radius-tr#{$sizerule} {
        @include border-top-right-radius($radius);
    }
    .radius-tl#{$sizerule} {
        @include border-top-left-radius($radius);
    }
    .radius-br#{$sizerule} {
        @include border-bottom-right-radius($radius);
    }
    .radius-bl#{$sizerule} {
        @include border-bottom-left-radius($radius);
    }
}
