// Button variants
//
// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons

@mixin button-variant($color, $background, $border) {
    $active-background: darken($background, 10%);
    $active-border: darken($border, 12%);

    color: $color;
    background-color: $background;
    border-color: $border;
    @include box-shadow($btn-box-shadow);

    @include hover {
        color: $color;
        background-color: $active-background;
        border-color: $active-border;
    }

    &:focus,
    &.focus {
        color: $color;
        background-color: $active-background;
        border-color: $active-border;
    }

    &:active,
    &.active,
    .open > &.dropdown-toggle {
        color: $color;
        background-color: $active-background;
        // Remove the gradient for the pressed/active state
        background-image: none;
        border-color: $active-border;
        @include box-shadow($btn-active-box-shadow);

        &:hover,
        &:focus,
        &.focus {
            color: $color;
            background-color: darken($background, 17%);
            border-color: darken($border, 25%);
        }
    }

    &.disabled,
    &:disabled {
        &:focus,
        &.focus {
            background-color: $background;
            border-color: $border;
        }
        @include hover {
            background-color: $background;
            border-color: $border;
        }
    }
}

@mixin button-outline-variant($color, $border, $hover-color: $white) {
    color: $color;
    background-image: none;
    background-color: transparent;
    border-color: $border;

    @include hover {
        color: $hover-color;
        background-color: $color;
        border-color: $border;
    }

    &:focus,
    &.focus {
        color: $hover-color;
        background-color: $color;
        border-color: $border;
    }

    &:active,
    &.active,
    .open > &.dropdown-toggle {
        color: $hover-color;
        background-color: $color;
        border-color: $border;

        &:hover,
        &:focus,
        &.focus {
            color: $hover-color;
            background-color: darken($color, 10%);
            border-color: darken($border, 10%);
        }
    }

    &.disabled,
    &:disabled {
        &:focus,
        &.focus {
            color: $color;
            background-color: transparent;
            border-color: $border;
        }
        @include hover {
            color: $color;
            background-color: transparent;
            border-color: $border;
        }
    }
}

// Button sizes
@mixin button-size($padding-y, $padding-x, $font-size, $border-radius) {
    padding: $padding-y $padding-x;
    font-size: $font-size;
    @include border-radius($border-radius);
}
