// Button variants
//
// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons

@mixin button-variant($parent, $color, $bg, $border, $focus-shadow, $hover-color, $hover-bg, $hover-border, $active-color, $active-bg, $active-border) {
    $extender: str-replace($parent, ".", "");

    #{$parent} {
        color: $color;
        background-color: $bg;
        border-color: $border;
    }

    #{$parent}:hover {
        color: $hover-color;
        background-color: $hover-bg;
        border-color: $hover-border;
    }

    // Focus state
    %btn-variant-#{$extender}-focus {
        // No mixin use, so feedback is always present
        @if $enable-shadows {
            @include box-shadow($btn-box-shadow, $btn-focus-box-shadow-size rgba($focus-shadow, $btn-focus-box-shadow-alpha));
        } @else {
            box-shadow: $btn-focus-box-shadow-size rgba($focus-shadow, $btn-focus-box-shadow-alpha);
        }
    }
    #{$parent}:focus {
        @extend %btn-variant-#{$extender}-focus;
    }
    @if $enable-btn-check {
        .btn-check-input:focus ~ #{$parent} {
            @extend %btn-variant-#{$extender}-focus;
        }
    }

    // Disabled state
    %btn-variant-#{$extender}-disable {
        color: $color;
        background-color: $bg;
        border-color: $border;
    }
    #{$parent}.disabled,
    #{$parent}:disabled {
        @extend %btn-variant-#{$extender}-disable;
    }
    @if $enable-btn-check {
        .btn-check-input {
            &[disabled],
            &:disabled {
                ~ #{$parent} {
                    @extend %btn-variant-#{$extender}-disable;
                }
            }
        }
    }

    // Active state
    %btn-variant-#{$extender}-active {
        color: $active-color;
        background-color: $active-bg;
        border-color: $active-border;
    }
    #{$parent}:active,
    #{$parent}.active,
    #{$parent}.open[data-cfw="dropdown"] {
        @extend %btn-variant-#{$extender}-active;
    }
    @if $enable-btn-check {
        .btn-check-input:not([disabled]):not(:disabled):checked ~ #{$parent} {
            @extend %btn-variant-#{$extender}-active;
        }
    }

    // Active focus state
    @if $enable-shadows {
        %btn-variant-#{$parent}-active-focus {
            @include box-shadow($btn-active-box-shadow, $btn-focus-box-shadow-size rgba($focus-shadow, $btn-focus-box-shadow-alpha));
        }
        #{$parent}:active:focus,
        #{$parent}.active:focus,
        #{$parent}.open[data-cfw="dropdown"]:focus {
            @extend %btn-variant-#{$parent}-active-focus;
        }
        @if $enable-btn-check {
            .btn-check-input:not([disabled]):not(:disabled):checked:focus ~ #{$parent} {
                @extend %btn-variant-#{$parent}-active-focus;
            }
        }
    }
}

@mixin button-variant-control($parent, $colors) {
    $bg:            map-get($colors, "bg");
    $color:         map-get($colors, "color");
    $border:        map-get($colors, "border-color");
    $focus-shadow:  map-get($colors, "base");
    $hover-bg:      map-get($colors, "hover-bg");
    $hover-color:   map-get($colors, "hover-color");
    $hover-border:  map-get($colors, "hover-border-color");
    $active-bg:     map-get($colors, "active-bg");
    $active-color:  map-get($colors, "active-color");
    $active-border: map-get($colors, "active-border-color");

    @include button-variant($parent, $color, $bg, $border, $focus-shadow, $hover-color, $hover-bg, $hover-border, $active-color, $active-bg, $active-border);
}

@mixin button-variant-control-outline($parent, $colors, $bg: $btn-outline-bg) {
    $color:         map-get($colors, "base");
    $border:        map-get($colors, "bg");
    $focus-shadow:  map-get($colors, "base");
    $hover-bg:      map-get($colors, "bg");
    $hover-color:   map-get($colors, "hover-color");
    $hover-border:  map-get($colors, "border-color");
    $active-bg:     map-get($colors, "hover-bg");
    $active-color:  map-get($colors, "hover-color");
    $active-border: map-get($colors, "active-border-color");

    @include button-variant($parent, $color, $bg, $border, $focus-shadow, $hover-color, $hover-bg, $hover-border, $active-color, $active-bg, $active-border);
}

// Button sizes
@mixin button-size($padding-y, $padding-x, $font-size, $line-height, $border-radius) {
    @if $padding-y == null and $padding-x == null {
        // No padding output
    } @else if $padding-y == null or $padding-x == null {
        $padding-y: if($padding-y != null, $padding-y, $btn-padding-y);
        $padding-x: if($padding-x != null, $padding-x, $btn-padding-x);
        padding: $padding-y $padding-x;
    } @else {
        padding: $padding-y $padding-x;
    }
    @include font-size($font-size);
    line-height: $line-height;
    // Provide a fallback to override to the browser default
    @include border-radius($border-radius, 0);
}
