// Card variants
@mixin card-variant($background, $border) {
    background-color: $background;
    border-color: $border;

    .card-header,
    .card-footer {
        background-color: transparent;
    }
}

@mixin card-outline-variant($color) {
    background-color: transparent;
    border-color: $color;

    .card-header,
    .card-footer {
        background-color: transparent;
        border-color: $color;
    }
}

// Inverse text within a card for use with dark backgrounds
@mixin card-inverse {
    color: $card-inverse-color;

    .card-header,
    .card-footer {
        background-color: transparent;
        border-color: $card-inverse-cap-border-color;
    }
    .card-header,
    .card-footer,
    .card-title,
    .card-blockquote {
        color: $white;
    }
    &.card-header,
    &.card-footer {
        color: $white;
    }
    .card-link {
        color: $card-inverse-link-color;

        @include hover-focus {
            color: $card-inverse-link-hover-color;
        }
    }
}
