@use "../settings";

// Containers
@mixin make-container($padding-x: settings.$container-padding-x) {
    width: 100%;  // Prevent too narrow
    max-width: 100%; // Prevent too wide
    padding-right: $padding-x;
    padding-left: $padding-x;
    margin-right: auto;
    margin-left: auto;
}
