@use "../settings";

// Horizontal divider (basically an hr)
@mixin divider-h($color: settings.$divider-border-color, $dim: settings.$divider-border-width, $spacer: settings.$divider-spacer, $opacity: settings.$divider-opacity) {
  height: 0;
  @if ($spacer != null) {
    margin: $spacer 0;
  }
  overflow: hidden;
  border-top: $dim solid $color;
  opacity: $opacity;
}

// Vertical divider
@mixin divider-v($color: settings.$divider-border-color, $dim: settings.$divider-border-width, $spacer: settings.$divider-spacer, $opacity: settings.$divider-opacity) {
  width: 0;
  @if ($spacer != null) {
    margin: 0 $spacer;
  }
  overflow: hidden;
  border-left: $dim solid $color;
  opacity: $opacity;
}
