// Lists

// Unstyled keeps list items block level, just removes default browser padding and list-style
@mixin list-unstyled {
    padding-left: 0;
    list-style: none;
}

// List Groups
@mixin list-group-item-variant($state, $bg, $color, $hover-bg, $hover-color) {
    .list-group-item-#{$state} {
        color: $color;
        background-color: $bg;
    }

    a.list-group-item-#{$state},
    button.list-group-item-#{$state} {
        color: $color;

        @include hover-focus {
            color: $color;
            background-color: $hover-bg;
        }

        &.active {
            color: $hover-color;
            background-color: $color;
            border-color: $color;
        }
    }
}
