@use "../settings" as *;
@use "border";
@use "../vendor/rfs";

// Pagination
@mixin pagination-size($padding-y, $padding-x, $font-size, $line-height, $border-radius) {
  .page-text,
  .page-link {
    @if $padding-y == null and $padding-x == null {
      // No padding output
    } @else if $padding-y == null or $padding-x == null {
      $padding-y: if($padding-y != null, $padding-y, $pagination-padding-y);
      $padding-x: if($padding-x != null, $padding-x, $pagination-padding-x);
      padding: $padding-y $padding-x;
    } @else {
      padding: $padding-y $padding-x;
    }
    @include rfs.font-size($font-size);
    line-height: $line-height;
    @include border.border-radius($border-radius);
  }
}
