// Switch color variants
@mixin switch-variant($active-indicator-bg) {
    .switch-input {
        &:checked ~ .switch-control {
            &::before {
                background-color: $active-indicator-bg;
            }
        }
    }
}

// Switch sizes
@mixin switch-size($font-size, $line-height, $border-radius, $border-width, $outer-height, $inner-height) {
    .switch-control {
        width: ($font-size * $switch-width-multiplier);
        height: $outer-height;
        @include font-size($font-size);
        line-height: $line-height;
        @include border-radius($border-radius);

        &::before {
            @include border-radius(calc(#{$border-radius} - #{$border-width}));
        }
    }

    .switch-description {
        @include font-size($font-size);
    }

    &.switch-rounded {
        .switch-control {
            @include border-radius($outer-height);

            &::before {
                width: $inner-height;
                @include border-radius($inner-height);
            }
        }
    }
}
