@use "../settings";
@use "../functions/color-util";

color-util.$light-interval: settings.$palette-light-interval;
color-util.$dark-interval: settings.$palette-dark-interval;
color-util.$color-warnings: settings.$enable-color-warnings;
color-util.$contrast-min-ratio:  settings.$color-contrast-min-ratio;
color-util.$contrast-base-light: settings.$color-contrast-base-light;
color-util.$contrast-base-dark:  settings.$color-contrast-base-dark;

// stylelint-disable declaration-no-important

// Contextual text
@mixin text-emphasis-variant($parent, $color, $level-delta) {
  #{$parent} {
    color: $color !important;
  }
  @if $level-delta != 0 {
    a#{$parent} {
      &:hover,
      &:focus {
        color: color-util.palette($color, 500 + $level-delta) !important;
      }
    }
  }
}

// Palette text
@mixin text-emphasis-palette-variant($parent, $color, $level, $level-delta) {
  #{$parent} {
    color: color-util.palette($color, $level) !important;
  }
  @if $level-delta != 0 {
    a#{$parent} {
      &:hover,
      &:focus {
        color: color-util.palette($color, $level + $level-delta) !important;
      }
    }
  }
}
