<!DOCTYPE html>
<html lang="en-us">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

<meta name="description" content="CAST Figuration - A feature rich, responsive, mobile first, accessible, front-end framework based on Bootstrap.">

<title>
  
    Grid Lines &#124; CAST Figuration
  
</title>

<!-- Favicons -->
<link rel="apple-touch-icon" href="/apple-touch-icon.png">
<link rel="icon" href="/favicon.ico">

<!-- Core CSS -->

  <link href="/dist/css/figuration.min.css" rel="stylesheet">


<!-- Docs CSS -->

  <link href="/assets/css/docs.min.css" rel="stylesheet">


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/assets/js/vendor/jquery.min.js"><\/script>')</script>

<!-- Core JS -->

  <script src="/dist/js/figuration.min.js"></script>


<!-- Docs JS -->

  <script src="/assets/js/docs.min.js"></script>


<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/assets/js/ie10-viewport-bug-workaround.js"></script>
<script src="/assets/js/ie-emulation-modes-warning.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-9130143-15', 'auto');
  ga('send', 'pageview');
</script>

</head>
<body>
    <a class="skipnav" href="#content">Skip to main content</a>

    <header class="navbar navbar-full navbar-dark cf-header">
    <div class="container">
        <nav>
            <a class="navbar-brand" href="/">CAST Figuration</a>
            <div class="clearfix hidden-lg-up">
                <button class="navbar-toggler btn btn-toggler pull-xs-right" type="button" data-cfw="collapse" data-cfw-collapse-toggle="#cf-topnav" data-cfw-collapse-hidden="false" aria-label="Toggle navigation">
                    <span class="icon-menu" aria-hidden="true">&#8801;</span>
                </button>
            </div>
            <div class="collapse navbar-toggleable-md" id="cf-topnav">
                <ul class="nav navbar-nav">
                    <li class="nav-item ">
                        <a href="/get-started/quick-start/" class="nav-link">Get Started</a>
                    </li>
                    <li class="nav-item ">
                        <a href="/layout/overview/" class="nav-link">Layout</a>
                    </li>
                    <li class="nav-item ">
                        <a href="/content/reboot/" class="nav-link">Content</a>
                    </li>
                    <li class="nav-item active">
                        <a href="/components/alerts/" class="nav-link">Components</a>
                    </li>
                    <li class="nav-item ">
                        <a href="/utilities/clearfix/" class="nav-link">Utilities</a>
                    </li>
                    <li class="nav-item ">
                        <a href="/widgets/overview/" class="nav-link">Widgets</a>
                    </li>
                    <li class="nav-item ">
                        <a href="/about/overview/" class="nav-link">About</a>
                    </li>
                    <li class="nav-item pull-lg-right">
                        <a href="https://github.com/cast-org/figuration" class="nav-link"><small>GitHub</small></a>
                    </li>
                </ul>
            </div>
        </nav>
    </div> <!-- /.container -->
</header>

    <div class="jumbotron jumbotron-full jumbotron-docs">
        <div class="container">
            
    <h1>Components</h1>
    <p class="lead">
        Reusable components built to provide alerts, button groups, cards, input groups, media objects, navigation, and much more.
    </p>


        </div>
    </div>

    <main class="container">
        <div class="row">
            <div class="col-xs-12 col-md-3 cf-sidebar">
                <nav class="cf-links">


  
  

  

  
  

  

  
  

  

  
  

  
    
      <div class="h4">Components</div>
      <ul class="nav">
        
          
          

          
          

          <li class="nav-item">
            <a href="/components/alerts" class="nav-link ">
              Alerts
            </a>
          </li>
        
          
          

          
          

          <li class="nav-item">
            <a href="/components/breadcrumb" class="nav-link ">
              Breadcrumb
            </a>
          </li>
        
          
          

          
          

          <li class="nav-item">
            <a href="/components/button-group" class="nav-link ">
              Button Group
            </a>
          </li>
        
          
          

          
          

          <li class="nav-item">
            <a href="/components/cards" class="nav-link ">
              Cards
            </a>
          </li>
        
          
          

          
          

          <li class="nav-item">
            <a href="/components/grid-lines" class="nav-link active">
              Grid Lines
            </a>
          </li>
        
          
          

          
          

          <li class="nav-item">
            <a href="/components/input-group" class="nav-link ">
              Input Group
            </a>
          </li>
        
          
          

          
          

          <li class="nav-item">
            <a href="/components/jumbotron" class="nav-link ">
              Jumbotron
            </a>
          </li>
        
          
          

          
          

          <li class="nav-item">
            <a href="/components/list-group" class="nav-link ">
              List Group
            </a>
          </li>
        
          
          

          
          

          <li class="nav-item">
            <a href="/components/media-object" class="nav-link ">
              Media Object
            </a>
          </li>
        
          
          

          
          

          <li class="nav-item">
            <a href="/components/navbar" class="nav-link ">
              Navbar
            </a>
          </li>
        
          
          

          
          

          <li class="nav-item">
            <a href="/components/navs" class="nav-link ">
              Navs
            </a>
          </li>
        
          
          

          
          

          <li class="nav-item">
            <a href="/components/pagination" class="nav-link ">
              Pagination
            </a>
          </li>
        
          
          

          
          

          <li class="nav-item">
            <a href="/components/progress" class="nav-link ">
              Progress
            </a>
          </li>
        
          
          

          
          

          <li class="nav-item">
            <a href="/components/tags" class="nav-link ">
              Tags
            </a>
          </li>
        
      </ul>
    
  

  
  

  

  
  

  

  
  

  

</nav>

            </div>
            <div class="col-xs-12 col-md-9 cf-content">
                <h1 class="cf-title" id="content">
                    Grid Lines
                    
                </h1>

                <p>Grid lines is a simple component to create visual lines (rules) between content containers.</p>

<p>Grid lines have support for both a <code class="highlighter-rouge">table</code> style layout, along with both the opt-in flexbox and <a href="/layout/flexbox#full-flexbox-mode">full flexbox</a> modes.  To use the opt-in method, simply add a <code class="highlighter-rouge">.gridline-flex</code> class to the <code class="highlighter-rouge">.gridline</code> element.</p>

<h2 class="no_toc" id="contents">Contents</h2>

<ul id="markdown-toc">
  <li><a href="#basics" id="markdown-toc-basics">Basics</a></li>
  <li><a href="#options" id="markdown-toc-options">Options</a>    <ul>
      <li><a href="#horizontal" id="markdown-toc-horizontal">Horizontal</a></li>
      <li><a href="#vertical" id="markdown-toc-vertical">Vertical</a></li>
      <li><a href="#bordered" id="markdown-toc-bordered">Bordered</a></li>
    </ul>
  </li>
  <li><a href="#examples" id="markdown-toc-examples">Examples</a>    <ul>
      <li><a href="#single-column" id="markdown-toc-single-column">Single Column</a></li>
      <li><a href="#double-column" id="markdown-toc-double-column">Double Column</a></li>
      <li><a href="#triple-column" id="markdown-toc-triple-column">Triple Column</a></li>
      <li><a href="#bordered-1" id="markdown-toc-bordered-1">Bordered</a></li>
    </ul>
  </li>
</ul>

<h2 id="basics">Basics</h2>

<p>Start off with a parent <code class="highlighter-rouge">.gridline</code> container and add <code class="highlighter-rouge">.gridline-item</code> child containers to generate the grid lines.  If you are using only horizontal grid lines the <code class="highlighter-rouge">.gridline-item</code> containers are optional.</p>

<p>To get consitent spacing, some elements might require utility classes or custom styles.  <code class="highlighter-rouge">.gridline-item</code> containers can be mixed with the grid system to create the layout.</p>

<div class="cf-example" data-example-id="">
<div class="gridline gridline-xs-vr gridline-xs-hr">
    <div class="gridline-item col-md-6">
        <h4>Header Level 4</h4>
        <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica.</p>
        <h5>Header Level 5</h5>
        <p>Pellentesque massa nibh, bibendum in lorem id, cursus porttitor augue! In quis lorem rutrum, bibendum nunc in, pharetra sapien. Nam eu vestibulum mi. Aliquam at luctus libero.</p>
    </div>
    <div class="gridline-item col-md-6">
        <h4>Header Level 4</h4>
        <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum.</p>
    </div>
</div>
<div class="gridline gridline-xs-hr">
    <div class="gridline-item col-md-6">
        <h4>Header Level 4</h4>
        <p>Raw denim you probably haven't heard of them jean shorts Austin.</p>
    </div>
    <div class="gridline-item col-md-6">
        <h4>Header Level 4</h4>
        <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin.</p>
    </div>
</div>
</div>
<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"gridline gridline-xs-vr gridline-xs-hr"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"gridline-item col-md-6"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;h4&gt;</span>Header Level 4<span class="nt">&lt;/h4&gt;</span>
        <span class="nt">&lt;p&gt;</span>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica.<span class="nt">&lt;/p&gt;</span>
        <span class="nt">&lt;h5&gt;</span>Header Level 5<span class="nt">&lt;/h5&gt;</span>
        <span class="nt">&lt;p&gt;</span>Pellentesque massa nibh, bibendum in lorem id, cursus porttitor augue! In quis lorem rutrum, bibendum nunc in, pharetra sapien. Nam eu vestibulum mi. Aliquam at luctus libero.<span class="nt">&lt;/p&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"gridline-item col-md-6"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;h4&gt;</span>Header Level 4<span class="nt">&lt;/h4&gt;</span>
        <span class="nt">&lt;p&gt;</span>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum.<span class="nt">&lt;/p&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"gridline gridline-xs-hr"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"gridline-item col-md-6"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;h4&gt;</span>Header Level 4<span class="nt">&lt;/h4&gt;</span>
        <span class="nt">&lt;p&gt;</span>Raw denim you probably haven't heard of them jean shorts Austin.<span class="nt">&lt;/p&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"gridline-item col-md-6"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;h4&gt;</span>Header Level 4<span class="nt">&lt;/h4&gt;</span>
        <span class="nt">&lt;p&gt;</span>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin.<span class="nt">&lt;/p&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span></code></pre></div>

<h2 id="options">Options</h2>

<p>The grid line options for horizontal and vertical lines both use the responsive grid system for showing the rules to that a responsive layout that converts from rows to columns is supported.</p>

<p>Use <code class="highlighter-rouge">.gridline-{breakpoint}-hr</code> for horizontal lines, and <code class="highlighter-rouge">.gridline-{breakpoint}-vr</code> for vertical lines.</p>

<h3 id="horizontal">Horizontal</h3>

<p>Horizontal grid lines are created when there are mutliple <code class="highlighter-rouge">.gridline-*-hr</code> elements as sibling containers. The last item (or only item) in a series will not get a bottom grid line.</p>

<h3 id="vertical">Vertical</h3>

<p>Vertical grid lines are created when there are multiple <code class="highlighter-rouge">.gridline-item</code> elements as sibling containers.  The first item (or only item) in a series will not get a left grid line.</p>

<h3 id="bordered">Bordered</h3>

<p>To add an outer border, just add the class <code class="highlighter-rouge">.gridline-bordered</code> to a container around your <code class="highlighter-rouge">.gridline</code> items.</p>

<h2 id="examples">Examples</h2>

<h3 id="single-column">Single Column</h3>

<div class="cf-example" data-example-id="">
<strong>Rule: Horizontal</strong>
<div class="gridline gridline-xs-hr">
    <div class="gridline-item col-md-12">
        <p>Row 1 - Column 1</p>
    </div>
</div>
<div class="gridline gridline-xs-hr">
    <div class="gridline-item col-md-12">
        <p>Row 2 - Column 1</p>
    </div>
</div>
</div>
<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;strong&gt;</span>Rule: Horizontal<span class="nt">&lt;/strong&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"gridline gridline-xs-hr"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"gridline-item col-md-12"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;p&gt;</span>Row 1 - Column 1<span class="nt">&lt;/p&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"gridline gridline-xs-hr"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"gridline-item col-md-12"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;p&gt;</span>Row 2 - Column 1<span class="nt">&lt;/p&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span></code></pre></div>

<h3 id="double-column">Double Column</h3>

<div class="cf-example" data-example-id="">
<strong>Rule: Vertical</strong>
<div class="gridline gridline-md-vr">
    <div class="gridline-item col-md-6">
        <p>Column 1</p>
    </div>
    <div class="gridline-item col-md-6">
        <p>Column 2</p>
    </div>
</div>
</div>
<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;strong&gt;</span>Rule: Vertical<span class="nt">&lt;/strong&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"gridline gridline-md-vr"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"gridline-item col-md-6"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;p&gt;</span>Column 1<span class="nt">&lt;/p&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"gridline-item col-md-6"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;p&gt;</span>Column 2<span class="nt">&lt;/p&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span></code></pre></div>

<div class="cf-example" data-example-id="">
<strong>Rule: Horizontal</strong>
<div class="gridline gridline-xs-hr">
    <div class="gridline-item col-md-6">
        <p>Row 1 - Column 1</p>
    </div>
    <div class="gridline-item col-md-6">
        <p>Row 1 - Column 2</p>
    </div>
</div>
<div class="gridline gridline-xs-hr">
    <div class="gridline-item col-md-6">
        <p>Row 2 - Column 1</p>
    </div>
    <div class="gridline-item col-md-6">
        <p>Row 2 - Column 2</p>
    </div>
</div>
</div>
<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;strong&gt;</span>Rule: Horizontal<span class="nt">&lt;/strong&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"gridline gridline-xs-hr"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"gridline-item col-md-6"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;p&gt;</span>Row 1 - Column 1<span class="nt">&lt;/p&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"gridline-item col-md-6"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;p&gt;</span>Row 1 - Column 2<span class="nt">&lt;/p&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"gridline gridline-xs-hr"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"gridline-item col-md-6"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;p&gt;</span>Row 2 - Column 1<span class="nt">&lt;/p&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"gridline-item col-md-6"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;p&gt;</span>Row 2 - Column 2<span class="nt">&lt;/p&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span></code></pre></div>

<div class="cf-example" data-example-id="">
<strong>Rule: Both</strong>
<div class="gridline gridline-xs-hr gridline-md-vr">
    <div class="gridline-item col-md-6">
        <p>Row 1 - Column 1</p>
    </div>
    <div class="gridline-item col-md-6">
        <p>Row 1 - Column 2</p>
    </div>
</div>
<div class="gridline gridline-xs-hr gridline-md-vr">
    <div class="gridline-item col-md-6">
        <p>Row 2 - Column 1</p>
    </div>
    <div class="gridline-item col-md-6">
        <p>Row 2 - Column 2</p>
    </div>
</div>
</div>
<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;strong&gt;</span>Rule: Both<span class="nt">&lt;/strong&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"gridline gridline-xs-hr gridline-md-vr"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"gridline-item col-md-6"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;p&gt;</span>Row 1 - Column 1<span class="nt">&lt;/p&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"gridline-item col-md-6"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;p&gt;</span>Row 1 - Column 2<span class="nt">&lt;/p&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"gridline gridline-xs-hr gridline-md-vr"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"gridline-item col-md-6"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;p&gt;</span>Row 2 - Column 1<span class="nt">&lt;/p&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"gridline-item col-md-6"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;p&gt;</span>Row 2 - Column 2<span class="nt">&lt;/p&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span></code></pre></div>

<h3 id="triple-column">Triple Column</h3>

<div class="cf-example" data-example-id="">
<strong>Rule: Vertical</strong>
<div class="gridline gridline-md-vr">
    <div class="gridline-item col-md-4">
        <p>Column 1</p>
    </div>
    <div class="gridline-item col-md-4">
        <p>Column 2</p>
    </div>
    <div class="gridline-item col-md-4">
        <p>Column 3</p>
    </div>
</div>
</div>
<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;strong&gt;</span>Rule: Vertical<span class="nt">&lt;/strong&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"gridline gridline-md-vr"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"gridline-item col-md-4"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;p&gt;</span>Column 1<span class="nt">&lt;/p&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"gridline-item col-md-4"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;p&gt;</span>Column 2<span class="nt">&lt;/p&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"gridline-item col-md-4"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;p&gt;</span>Column 3<span class="nt">&lt;/p&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span></code></pre></div>

<div class="cf-example" data-example-id="">
<strong>Rule: Horizontal</strong>
<div class="gridline gridline-xs-hr">
    <div class="gridline-item col-md-4">
        <p>Row 1 - Column 1</p>
    </div>
    <div class="gridline-item col-md-4">
        <p>Row 1 - Column 2</p>
    </div>
    <div class="gridline-item col-md-4">
        <p>Row 1 - Column 3</p>
    </div>
</div>
<div class="gridline gridline-xs-hr">
    <div class="gridline-item col-md-4">
        <p>Row 2 - Column 1</p>
    </div>
    <div class="gridline-item col-md-4">
        <p>Row 2 - Column 2</p>
    </div>
    <div class="gridline-item col-md-4">
        <p>Row 2 - Column 3</p>
    </div>
</div>
</div>
<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;strong&gt;</span>Rule: Horizontal<span class="nt">&lt;/strong&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"gridline gridline-xs-hr"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"gridline-item col-md-4"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;p&gt;</span>Row 1 - Column 1<span class="nt">&lt;/p&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"gridline-item col-md-4"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;p&gt;</span>Row 1 - Column 2<span class="nt">&lt;/p&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"gridline-item col-md-4"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;p&gt;</span>Row 1 - Column 3<span class="nt">&lt;/p&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"gridline gridline-xs-hr"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"gridline-item col-md-4"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;p&gt;</span>Row 2 - Column 1<span class="nt">&lt;/p&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"gridline-item col-md-4"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;p&gt;</span>Row 2 - Column 2<span class="nt">&lt;/p&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"gridline-item col-md-4"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;p&gt;</span>Row 2 - Column 3<span class="nt">&lt;/p&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span></code></pre></div>

<div class="cf-example" data-example-id="">
<strong>Rule: Both</strong>
<div class="gridline gridline-xs-hr gridline-md-vr">
    <div class="gridline-item col-md-4">
        <p>Row 1 - Column 1</p>
    </div>
    <div class="gridline-item col-md-4">
        <p>Row 1 - Column 2</p>
    </div>
    <div class="gridline-item col-md-4">
        <p>Row 1 - Column 3</p>
    </div>
</div>
<div class="gridline gridline-xs-hr gridline-md-vr">
    <div class="gridline-item col-md-4">
        <p>Row 2 - Column 1</p>
    </div>
    <div class="gridline-item col-md-4">
        <p>Row 2 - Column 2</p>
    </div>
    <div class="gridline-item col-md-4">
        <p>Row 2 - Column 3</p>
    </div>
</div>
</div>
<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;strong&gt;</span>Rule: Both<span class="nt">&lt;/strong&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"gridline gridline-xs-hr gridline-md-vr"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"gridline-item col-md-4"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;p&gt;</span>Row 1 - Column 1<span class="nt">&lt;/p&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"gridline-item col-md-4"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;p&gt;</span>Row 1 - Column 2<span class="nt">&lt;/p&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"gridline-item col-md-4"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;p&gt;</span>Row 1 - Column 3<span class="nt">&lt;/p&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"gridline gridline-xs-hr gridline-md-vr"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"gridline-item col-md-4"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;p&gt;</span>Row 2 - Column 1<span class="nt">&lt;/p&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"gridline-item col-md-4"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;p&gt;</span>Row 2 - Column 2<span class="nt">&lt;/p&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"gridline-item col-md-4"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;p&gt;</span>Row 2 - Column 3<span class="nt">&lt;/p&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span></code></pre></div>

<h3 id="bordered-1">Bordered</h3>

<div class="cf-example" data-example-id="">
<div class="gridline-bordered">
    <div class="gridline gridline-xs-hr gridline-md-vr">
        <div class="gridline-item col-md-4">
            <p>Row 1 - Column 1</p>
        </div>
        <div class="gridline-item col-md-4">
            <p>Row 1 - Column 2</p>
        </div>
        <div class="gridline-item col-md-4">
            <p>Row 1 - Column 3</p>
        </div>
    </div>
    <div class="gridline gridline-xs-hr gridline-md-vr">
        <div class="gridline-item col-md-4">
            <p>Row 2 - Column 1</p>
        </div>
        <div class="gridline-item col-md-4">
            <p>Row 2 - Column 2</p>
        </div>
        <div class="gridline-item col-md-4">
            <p>Row 2 - Column 3</p>
        </div>
    </div>
</div>
</div>
<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"gridline-bordered"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"gridline gridline-xs-hr gridline-md-vr"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"gridline-item col-md-4"</span><span class="nt">&gt;</span>
            <span class="nt">&lt;p&gt;</span>Row 1 - Column 1<span class="nt">&lt;/p&gt;</span>
        <span class="nt">&lt;/div&gt;</span>
        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"gridline-item col-md-4"</span><span class="nt">&gt;</span>
            <span class="nt">&lt;p&gt;</span>Row 1 - Column 2<span class="nt">&lt;/p&gt;</span>
        <span class="nt">&lt;/div&gt;</span>
        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"gridline-item col-md-4"</span><span class="nt">&gt;</span>
            <span class="nt">&lt;p&gt;</span>Row 1 - Column 3<span class="nt">&lt;/p&gt;</span>
        <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"gridline gridline-xs-hr gridline-md-vr"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"gridline-item col-md-4"</span><span class="nt">&gt;</span>
            <span class="nt">&lt;p&gt;</span>Row 2 - Column 1<span class="nt">&lt;/p&gt;</span>
        <span class="nt">&lt;/div&gt;</span>
        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"gridline-item col-md-4"</span><span class="nt">&gt;</span>
            <span class="nt">&lt;p&gt;</span>Row 2 - Column 2<span class="nt">&lt;/p&gt;</span>
        <span class="nt">&lt;/div&gt;</span>
        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"gridline-item col-md-4"</span><span class="nt">&gt;</span>
            <span class="nt">&lt;p&gt;</span>Row 2 - Column 3<span class="nt">&lt;/p&gt;</span>
        <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span></code></pre></div>

            </div>
        </div>

        <div class="topLink">
            <a href="#content">Top of Page <span class="caret"></span></a>
        </div>
    </main>

    <footer class="cf-footer">
    <div class="container">
        Currently version: 1.3.1
        <ul class="footer-links">
            <li><a href="https://github.com/cast-org/figuration">GitHub Project</a></li>
            <li><a href="https://github.com/cast-org/figuration/issues">Issues</a></li>
            <li><a href="https://twitter.com/figuration_org">Twitter</a></li>
        </ul>
        <p>
            &copy; 2013-2016 <a href="http://www.cast.org">CAST, Inc.</a>
            <br />
            Portions: &copy; 2011-2016 the Bootstrap Authors and Twitter, Inc. Licensed under <a href="https://github.com/twbs/bootstrap/blob/master/LICENSE">the MIT license</a> or <a href="https://github.com/twbs/bootstrap/blob/master/docs/LICENSE">CC BY 3.0</a>.
        <p>
            Code licensed <a rel="license" href="https://github.com/cast-org/figuration/blob/master/LICENSE">MIT</a>,
            docs <a rel="license" href="https://github.com/cast-org/figuration/blob/master/docs/LICENSE">CC BY 4.0</a>.
        </p>

        <hr />

        <strong>Funding generously provided by:</strong>
        <div class="media footer-partners">
            <div class="media-left">
                <img src="/assets/img/aem-logo.png" class="media-object" width="40" height="40" alt="AEM logo" />
            </div>
            <div class="media-body">
                <span class="h6 partner-title"><a href="http://aem.cast.org">National Center on Accessible Educational Materials at CAST, Inc.</a></span><br />
                <small>Disclaimer: This does not necessarily represent endorsement by or the policies of the National Center on Accessible Educational Materials, the US Department of Education, and the US Federal Government.</small>
            </div>
        </div>

    </div>
</footer>

</body>
</html>
