<script src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
<script>
(function () {
    'use strict';

    if (!window.docsearch) {
        return;
    }

    var inputElement = document.getElementById('docsearch');
    var siteDocsVersion = inputElement.getAttribute('data-docs-version');

    window.docsearch({
        apiKey: '3b9b6e000775400f4833a14c4daa6049',
        indexName: 'figuration',
        inputSelector: '#docsearch',
        algoliaOptions: {
            facetFilters: ['version:' + siteDocsVersion]
        },
        transformData: function (hits) {
            return hits.map(function (hit) {
                // Prevent jumping to first header
                if (hit.anchor === 'content') {
                    hit.url = hit.url.replace(/#content$/, '');
                    hit.anchor = null;
                }
                return hit;
            });
        },
        // Set debug to true if you want to inspect the dropdown
        debug: true
    });
}());
</script>
