<div class="dropdown dropend">
    <a href="#" role="button" class="nav-link px-0_5" aria-label="Settings" title="Settings" data-cfw="dropdown">
        {% include icons/cog.svg, class: "cf-header-icon" %}
    </a>
    <ul class="dropdown-menu">
        <li class="dropdown-header">Direction</li>
        <li><button type="button" class="dropdown-item" id="dir-ltr">Left-to-right</button></li>
        <li><button type="button" class="dropdown-item" id="dir-rtl">Right-to-left</button></li>
    </ul>
</div>