// Generate palette colors
// Valid levels 0-1000
// Darker levels (>500) get narrower step interval than light
@function palette($color: $uigray, $level: 500) {
    $base: 500;
    $light-interval: .2%;
    $dark-interval: .15%;

    $level-delta: $level - $base;

    @if $level >= 0 and $level < $base {
        // lighten - flip negative value
        @return mix(#fff, $color, $level-delta * $light-interval * -1);
    } @else if $level > $base and $level <= 1000 {
        // darken
        @return mix(#000, $color, $level-delta * $dark-interval);
    } @else {
        // level==500 or out of range
        @return $color;
    }
}

@function palette-context($key: "primary", $level: 500) {
    $color: map-get($context-colors, $key);
    @return palette($color, $level);
}

@function palette-context-nohash($key: "primary", $level: 500) {
    $color: map-get($context-colors, $key);
    $hash: unquote(palette($color, $level) + "");
    $nohash: str-replace($hash, unquote("#"), "%23");
    @return $nohash;
}

// Generate contextual color theme
@function _mix-context-colors($map) {
    $result:            ();

    @each $theme, $color in $map {
        // Color adjustments
        $control-color:     $white;
        $control-bg:        $color;
        $control-border:    palette($color, 600); //darken($color, 7%);
        $context-color:     $color;
        $context-bg:        palette($color, 80); //lighten($color, 54%);
        $context-border:    palette($color, 300); //lighten($color, 28%);

        // Build new map
        $new-map: (
            "control-color": $control-color,
            "control-bg": $control-bg,
            "control-border": $control-border,
            "context-color": $context-color,
            "context-bg": $context-bg,
            "context-border": $context-border
        );
        // Merge into theme map
        $result: map-merge($result, ($theme: $new-map));
    }

    @return $result;
}
