@use "sass:list";
@use "sass:map";
// Map deep get
// @author Kitty Giraudel
// From: https://css-tricks.com/snippets/sass/deep-getset-maps/
// @access public
// @param {Map} $map - Map
// @param {Arglist} $keys - Key chain
// @return {*} - Desired value
// Example: $color: map-deep-get($context-themes, "primary", "control-bg");
@function map-deep-get($map, $keys...) {
    @each $key in $keys {
        $map: map.get($map, $key);
    }
    @return $map;
}

// Sorts a map ascending by values
// @author https://github.com/iamandrewluca
// From: https://gist.github.com/Jakobud/a0ac11e80a1de453cd86f0d3fc0a1410#gistcomment-2327765
// Used for grid-breakpoints and container-max-widths sorting
//
// @param {Map} $map - Initial map
// @return {Map} - Sorted map
@function map-sort-by-values($map) {
    // Transform map to zipped list
    $keys: ();
    $values: ();

    @each $key, $val in $map {
        $keys: list.append($keys, $key);
        $values: list.append($values, $val);
    }

    $list: list.zip($keys, $values);

    // Sort zipped list and create sorted map
    $sortedMap: ();
    @while list.length($list) > 0 {

        // Find smallest pair
        $smallestPair: list.nth($list, 1);
        @each $pair in $list {
            $value: list.nth($pair, 2);
            $smallestValue: list.nth($smallestPair, 2);
            @if $value < $smallestValue {
                $smallestPair: $pair;
            }
        }

        // Add smallest pair to sorted map
        $key: list.nth($smallestPair, 1);
        $value: list.nth($smallestPair, 2);
        $sortedMap: map.merge($sortedMap, ($key: $value));

        // Remove from list smallest pair
        $newList: ();
        $smallestPairIndex: list.index($list, $smallestPair);
        @for $i from 1 through list.length($list) {
            @if $i != $smallestPairIndex {
                $newList: list.append($newList, list.nth($list, $i), "space");
            }
        }
        $list: $newList;
    }

    @return $sortedMap;
}

// Merge multiple maps together into a single map
//
// @param {Arglist} $maps - list of maps
// @return {Map} - Merged map
@function map-merge-multiple($maps...) {
    $mergedMap: ();

    @each $map in $maps {
        $mergedMap: map.merge($mergedMap, $map);
    }

    @return $mergedMap;
}
