// Generate palette colors

@use "sass:color";
@use "sass:math";

$base: 500 !default;
$light-interval: .2% !default;
$dark-interval: .2% !default;

// Valid levels 0-1000
@function palette($color, $level) {
  $level-delta: $level - $base;

  @if $level < 0 {
    @return #fff;
  } @else if $level > 1000 {
    @return #000;
  } @else if $level < $base {
    // lighten - flip negative value
    $light-pct: if($level-delta * $light-interval > 100, 100, $level-delta * $light-interval);
    @return mix(#fff, $color, $light-pct * -1);
  } @else if $level > $base {
    // darken
    $dark-pct: if($level-delta * $dark-interval > 100, 100, $level-delta * $dark-interval);
    @return mix(#000, $color, $dark-pct);
  }

  // level==500
  @return $color;
}
