// Generate palette colors

@use "sass:color";
@use "sass:math";

// Valid levels 0-1000
@function palette($color, $level) {
  $base: 500;
  $level-delta: $level - $base;
  $level-pct: if($level-delta * .2 > 100, 100, $level-delta * .2%);

  @if $level < 0 {
    @return #fff;
  } @else if $level > 1000 {
    @return #000;
  } @else if $level < $base {
    // lighten - flip negative value
    @return color.mix(#fff, $color, $level-pct * -1);
  } @else if $level > $base {
    // darken
    @return color.mix(#000, $color, $level-pct);
  }

  // level==500
  @return $color;
}
