@use "../../../../scss/mixins/border";
@use "../../../../scss/mixins/font-size";
@use "../../../../scss/settings";

// stylelint-disable selector-class-pattern

.cf-search {
    position: relative;
    padding: .5rem 0;
    border-bottom: 1px solid settings.$border-color;
}

.DocSearch-Modal {
    --docsearch-modal-height: calc(100vh - 2rem); // stylelint-disable-line function-disallowed-list
    margin-top: 1rem;
}

.DocSearch-Container {
    --docsearch-muted-color: #{settings.$text-muted};
    --docsearch-hit-shadow: none;
    z-index: 2000;
}

.DocSearch-Button {
    --docsearch-searchbox-background: #{settings.$input-bg};
    --docsearch-searchbox-color: #{settings.$input-color};
    --docsearch-searchbox-focus-background: #{settings.$input-focus-bg};
    --docsearch-searchbox-shadow: #{0 0 0 .25rem rgba(settings.$primary, .4)};
    --docsearch-text-color: #{settings.$input-color};
    --docsearch-muted-color: #{settings.$input-placeholder-color};

    width: 100%;
    margin: 0;
    border: settings.$input-border-width solid settings.$input-border-color;
    @include border.border-radius(settings.$border-radius);

    .DocSearch-Search-Icon {
        opacity: .65;
    }

    &:active,
    &:focus,
    &:hover {
        border-color: rgba(settings.$primary, 1);

        .DocSearch-Search-Icon {
            opacity: 1;
        }
    }
}

.DocSearch-Button-Keys {
    min-width: 0;
    padding-right: .25rem;
    padding-left: .25rem;
    background: settings.$uibase-50;
    @include border.border-radius(.25rem);
}

.DocSearch-Button-Key {
    top: 0;
    width: auto;
    height: 1.25rem;
    padding-right: .125rem;
    padding-left: .125rem;
    margin-right: 0;
    color: settings.$uibase-500;
    @include font-size.font-size(.875rem);
    background: none;
    box-shadow: none;
}

.DocSearch-Commands-Key {
    padding-left: 1px;
    @include font-size.font-size(.875rem);
    background-color: rgba(settings.$black, .1);
    background-image: none;
    box-shadow: none;
}

.DocSearch-Form {
    @include border.border-radius(settings.$border-radius);
}

.DocSearch-Hits {
    mark {
        padding: 0;
    }
}

.DocSearch-Hit {
    padding-bottom: 0;
    @include border.border-radius(0);

    a {
        @include border.border-radius(0);
        border: solid settings.$border-color;
        border-width: 0 1px 1px;
    }

    &:first-child a {
        @include border.border-top-radius(settings.$border-radius);
        border-top-width: 1px;
    }
    &:last-child a {
        @include border.border-bottom-radius(settings.$border-radius);
    }
}

.DocSearch-Hit-icon {
    display: flex;
    align-items: center;
}

@media (max-width: 750px) {
    .DocSearch-Button-Keys{
        display: flex;
    }
    .DocSearch-Button-Placeholder {
        display: block;
    }
}
