@use "sass:map";
@use "../../../../scss/functions/color-util";
@use "../../../../scss/mixins/font-size";
@use "../../../../scss/mixins/hover";
@use "../../../../scss/settings";

// Footer
.cf-footer {
    @include font-size.font-size(map.get(settings.$font-sizes, "small"));
    color: settings.$black;
    background-color: color-util.palette(settings.$uibase, 100);
    border-top: 1px solid settings.$uibase-400;

    a {
        color: color-util.palette(settings.$primary, 600);

        @include hover.hover-focus() {
            color: color-util.palette(settings.$primary, 800);
        }
    }
}

.cf-footer-cast-logo {
    width: 9.645rem;
    height: 3rem;
}
