@use "../../../../scss/mixins/border";
@use "../../../../scss/mixins/breakpoints";
@use "../../../../scss/mixins/font-size";
@use "../../../../scss/mixins/hover";
@use "../../../../scss/settings";
@use "settings" as docs;

.home-icons {
    color: settings.$uibase-700;
    white-space: nowrap;

    .far,
    .fas {
        @include font-size.font-size(3.5rem);
        vertical-align: middle;
        filter: drop-shadow(2px 2px .2rem rgba(0, 0, 0, .35));
    }

    .fa-mobile-alt {
        @include font-size.font-size(2.5rem);
    }
    .fa-tablet-alt {
        @include font-size.font-size(3rem);
    }

    .far + .far,
    .fas + .fas,
    .far + .fas,
    .fas + .far {
        margin-left: .5rem;
    }
}

.home-feature {
    .list-item img {
        filter: drop-shadow(2px 2px .2rem rgba(0, 0, 0, .35));
    }
    @include breakpoints.media-breakpoint-up(md) {
        margin-top: 2.25rem;
    }
}

.home-splash {
    padding: 2rem 1.5rem;
    margin-bottom: 2rem;
    color: rgba(255, 255, 255, .9);
    background-color: #116fa9;
    background-image: linear-gradient(135deg, #0f6397 0%, #137abb 100%);

    .logo-home {
        filter: drop-shadow(0 0 7px rgba(255, 255, 255, .175));
    }

    h1,
    h2 {
        font-weight: settings.$font-weight-bold;
        color: settings.$white;
    }

    h1 {
        @include font-size.font-size(3rem);
        line-height: 1;
    }

    .home-icons {
        color: settings.$uibase-100;
    }

    .lead {
        margin-top: .5rem;
        margin-bottom: 1.5rem;
        @include font-size.font-size(1.5rem);
    }

    .splash-home {
        border-bottom: 1px solid rgba(255, 255, 255, .5);
    }

    @include breakpoints.media-breakpoint-down(md) {
        .container {
            width: 100%;
        }
    }
}

.home-icon-box {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 1.25em;
    height: 1.25em;
    line-height: 1;
    vertical-align: text-bottom;
    @include border.border-radius(.5rem);
    box-shadow: 2px 2px .2rem rgba(0, 0, 0, .35);

    .fab,
    .far,
    .fas {
        @include font-size.font-size(.75em);
    }
}

.btn-home {
    max-width: 10rem;
    padding: .75rem 2rem;
    font-weight: 600;
    border-width: 2px;
    box-shadow: 2px 2px .2rem rgba(0, 0, 0, .35);
}

.btn-start {
    color: #fff;
    background-color: #27517b;
    border-color: #dee;

    &:focus {
        box-shadow: 0 0 0 .1875rem rgba(docs.$docs-primary, .35), 2px 2px .2rem rgba(0, 0, 0, .35);
    }

    @include hover.hover-focus() {
        color: #222;
        background-color: #bfdff8;
        border-color: settings.$uibase-800;
    }

}
.btn-download {
    color: #fff;
    background-color: #2c7cb1;
    border-color: #dee;

    &:focus {
        box-shadow: 0 0 0 .1875rem rgba(docs.$docs-primary, .35), 2px 2px .2rem rgba(0, 0, 0, .35);
    }

    @include hover.hover-focus() {
        color: #222;
        background-color: #e7f0f5;
        border-color: settings.$uibase-800;
    }
}

// Feed
.cf-feed {
    padding: .375rem 0;
    margin-top: 1rem;
    text-align: center;
    background-color: #116fa9;
    background-image: linear-gradient(135deg, #137abb 0%, #0f6397 100%);
}
