// stylelint-disable selector-no-qualifying-type

.cf-header {
    background-color: #246;
}

.cf-content {
    a,
    button,
    h2,
    h3,
    h4,
    [tabindex="0"] {
        scroll-margin-top: 2rem;
        scroll-margin-bottom: 2rem;
    }
}
.cf-sidebar,
.cf-content-toc {
    a,
    button {
        scroll-margin-top: 2rem;
        scroll-margin-bottom: 2rem;
    }
}

@include media-breakpoint-up(md) {
    @supports (position: sticky) {
        .cf-header {
            position: sticky;
            top: 0;
            z-index: $zindex-sticky;
        }
        .cf-content {
            a,
            button,
            h2,
            h3,
            h4,
            [tabindex="0"] {
                scroll-margin-top: 4.5rem;
            }
        }
    }
}

.cf-header-logo {
    width: 2rem;
    height: 2rem;
}

.cf-header-menu {
    display: inline-block;
    margin-top: -.25rem;
    @include font-size(1.5rem);
    font-weight: $font-weight-bold;
    line-height: .75;
}

.cf-nav-img {
    width: 1.125rem;
    height: 1.125rem;
}
