// stylelint-disable declaration-no-important

// Perfect circle
.radius-circle {
    border-radius: 50% !important;
}

// Radius - Default
@include radius-sides($radius-border-radius);
@include radius-corners($radius-border-radius);

// Radius - Component sizes
@if $enable-sizing {
    @each $size, $dims in $component-sizes {
        $sz-border-radius: map-get($dims, "border-radius");

        @include radius-sides($sz-border-radius, $size);
        @include radius-corners($sz-border-radius, $size);
    }
}

// Radius removal
@include radius-sides(0 !important, 0);
@include radius-corners(0 !important, 0);

// Border addition
.border { border: $border-width solid $border-color !important; }
.border-t,
.border-y {
    border-top: $border-width solid $border-color !important;
}
.border-e,
.border-x {
    border-right: $border-width solid $border-color !important;
}
.border-b,
.border-y {
    border-bottom: $border-width solid $border-color !important;
}
.border-s,
.border-x {
    border-left: $border-width solid $border-color !important;
}

// Border removal
.border-0 { border: 0 !important; }
.border-t-0,
.border-y-0 {
    border-top: 0 !important;
}
.border-e-0,
.border-x-0 {
    border-right: 0 !important;
}
.border-b-0,
.border-y-0 {
    border-bottom: 0 !important;
}
.border-s-0,
.border-x-0 {
    border-left: 0 !important;
}


// Border colors
// Contextual borders
@each $theme, $color in $context-colors {
    .border-#{$theme} {
        border-color: $color !important;
    }
}

// Palette colors
@if $enable-palette {
    @each $theme, $color in $palette-themes {
        @each $level in $palette-levels {
            .border-#{$theme}-#{$level} {
                border-color: palette($color, $level) !important;
            }
        }
    }
}

// Transparent border
.border-transparent { border-color: transparent !important; }
