@use "sass:map";
@use "sass:math";
@use "../functions/math" as functions-math;
@use "../settings";
@use "../settings-options";

@if settings-options.$enable-utility-embed {

    @if settings-options.$enable-utility-embed-fluid {
        .embed-fluid {
            position: relative;
            width: 100%;

            &::before {
                display: block;
                padding-top: settings.$embed-fluid-default-ratio;
                content: "";
            }

            > .embed-fluid-item,
            > iframe,
            > embed,
            > object,
            > video {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }

        @each $key, $ratio in settings.$embed-fluid-aspect-ratios {
            .embed-fluid-#{$key} {
                &::before {
                    padding-top: math.percentage(functions-math.divide(map.get($ratio, y), map.get($ratio, x)));
                }
            }
        }
    }

    // Fullscreen video
    @if settings-options.$enable-utility-embed-fullscreen {
        :fullscreen .embed-fluid {
            position: initial;
        }
        // stylelint-disable selector-no-vendor-prefix
        :-ms-fullscreen .embed-fluid {
            > .embed-fluid-item,
            > iframe,
            > embed,
            > object,
            > video {
                position: -ms-device-fixed;
            }
        }
        // stylelint-enable selector-no-vendor-prefix
    }
}
