// Grid lines
.gridline {
    @include clearfix;
}

.gridline-bordered {
    border: $gridline-border-width solid $gridline-border-color;
    @include border-radius($gridline-border-radius);
}

@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {

        // Horizontal lines
        .gridline-#{$breakpoint}-hr {
            border-bottom: $gridline-border-width solid $gridline-border-color;

            @each $bpinner in map-keys($grid-breakpoints) {
                + .gridline-#{$bpinner}-hr {
                    border-bottom: 0;
                }
            }

        }

        // Vertical lines
        .gridline-#{$breakpoint}-vr {
            @if $enable-flex-full {
                display: flex;
            } @else {
                display: table;
                width: 100%;
            }

            > .gridline-item {
                @if not $enable-flex-full {
                    display: table-cell;
                    float: none;
                }

                border-left: $gridline-border-width solid $gridline-border-color;

                &:first-child {
                    border-left: 0;
                }
            }
        }

        @if $enable-flex-opt {
            .gridline-flex.gridline-#{$breakpoint}-vr {
                display: flex;

                > .gridline-item {
                    display: initial;
                }
            }
        }
    }
}
