@use "../settings";
@use "../settings-options";

@if settings-options.$enable-utility-link-stretch {
    .link-stretch {
        &::#{settings.$link-stretch-pseudo-element} {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: settings.$link-stretch-z-index;
            content: "";
        }
    }
}
