// stylelint-disable declaration-no-important

@if $enable-utility-orientation {
    @if $enable-utility-orientation-rotate {
        @each $name, $value in $utility-rotate {
            .rotate-#{$name} {
                transform: $value !important;
            }
        }
    }

    @if $enable-utility-orientation-origin {
        @each $name, $value in $utility-origin {
            .origin-#{$name} {
                transform-origin: $value !important;
            }
        }
    }

    @if $enable-utility-orientation-flip {
        .flip-horizontal {
            transform: scaleX(-1) !important;
        }
        .flip-vertical {
            transform: scaleY(-1) !important;
        }
    }
}
