@use "../settings";
@use "../settings-options";

// stylelint-disable declaration-no-important

@if settings-options.$enable-utility-orientation {
    @if settings-options.$enable-utility-orientation-rotate {
        @each $name, $value in settings.$utility-rotate {
            .rotate-#{$name} {
                transform: $value !important;
            }
        }
    }

    @if settings-options.$enable-utility-orientation-flip {
        .flip-horizontal {
            transform: scaleX(-1) !important;
        }
        .flip-vertical {
            transform: scaleY(-1) !important;
        }
    }
}
