// stylelint-disable declaration-no-important

@if $enable-utility-position {
    // Common positioning
    @each $breakpoint in $utility-position-breakpoints {
        $bprule: breakpoint-designator($breakpoint);

        @include media-breakpoint-up($breakpoint) {
            @each $value in $utility-position {
                .position#{$bprule}-#{$value} { position: $value !important; }
            }
        }
    }

    // Quick use
    @if $enable-utility-position-fixed-top {
        .fixed-top {
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            z-index: $zindex-fixed;
        }
    }
    @if $enable-utility-position-fixed-bottom {
        .fixed-bottom {
            position: fixed;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: $zindex-fixed;
        }
    }

    @if $enable-utility-position-sticky-top {
        @supports (position: sticky) {
            .sticky-top {
                position: sticky;
                top: 0;
                z-index: $zindex-sticky;
            }
        }
    }
}
