@use "../settings-options";

@if settings-options.$enable-utility-stacks {
    @if settings-options.$enable-utility-stacks-horizontal {
        .hstack {
            display: flex;
            flex-direction: row;
            align-items: center;
            align-self: stretch;
        }
    }
    @if settings-options.$enable-utility-stacks-vertical {
        .vstack {
            display: flex;
            flex: 1 1 auto;
            flex-direction: column;
            align-self: stretch;
        }
    }
}
