// stylelint-disable declaration-no-important

// Alignment
.text-justify { text-align: justify; }
.text-nowrap  { white-space: nowrap; }

// Responsive alignment
@each $breakpoint in $utility-text-align-breakpoints {
    $bprule: breakpoint-designator($breakpoint);

    @include media-breakpoint-up($breakpoint) {
        .text#{$bprule}-start  { text-align: left !important; }
        .text#{$bprule}-end    { text-align: right !important; }
        .text#{$bprule}-center { text-align: center !important; }
    }
}

// Transformation
.text-lowercase  { text-transform: lowercase !important; }
.text-uppercase  { text-transform: uppercase !important; }
.text-capitalize { text-transform: capitalize !important; }

// Weight and italics
.font-weight-lighter { font-weight: $font-weight-lighter !important; }
.font-weight-light   { font-weight: $font-weight-light !important; }
.font-weight-normal  { font-weight: $font-weight-normal !important; }
.font-weight-bold    { font-weight: $font-weight-bold !important; }
.font-weight-bolder  { font-weight: $font-weight-bolder !important; }
.font-italic         { font-style: italic !important; }

// Font families
.font-family-sans-serif { font-family: $font-family-sans-serif !important; }
.font-family-serif      { font-family: $font-family-serif !important; }
.font-family-monospace  { font-family: $font-family-monospace !important; }

// Truncated text
.text-truncate {
    @include text-truncate();
}

// Contextual colors
@if (type-of($utility-text-colors) == "map" and length($utility-text-colors) != 0) {
    @each $theme, $color in $utility-text-colors {
        @include text-emphasis-variant(".text-#{$theme}", $color, $level-delta-hover-color);
    }
}

// Palette colors
@if $enable-palette {
    @each $theme, $color in $palette-colors {
        @each $level in $palette-levels {
            @include text-emphasis-palette-variant(".text-#{$theme}-#{$level}", $color, $level, $level-delta-hover-color);
        }
    }
}

// Special text colors
.text-body { color: $body-color !important; }
.text-muted { color: $text-muted !important; }
.text-white { color: $white !important; }
.text-black { color: $black !important; }
