// scss-lint:disable ImportantRule

@each $breakpoint in map-keys($grid-breakpoints) {
    $bprule: breakpoint-designator($breakpoint);

    @include media-breakpoint-up($breakpoint) {
        .valign#{$bprule}-baseline { vertical-align: baseline !important; }
        .valign#{$bprule}-top { vertical-align: top !important; }
        .valign#{$bprule}-middle { vertical-align: middle !important; }
        .valign#{$bprule}-bottom { vertical-align: bottom !important; }
        .valign#{$bprule}-text-bottom { vertical-align: text-bottom !important; }
        .valign#{$bprule}-text-top { vertical-align: text-top !important; }
    }
}
