@use "../mixins/breakpoints";
@use "../settings";
@use "../settings-options";

// stylelint-disable declaration-no-important

@if settings-options.$enable-utility-valign {
    @each $breakpoint in settings.$utility-valign-breakpoints {
        $bprule: breakpoints.breakpoint-designator($breakpoint);

        @include breakpoints.media-breakpoint-up($breakpoint) {
            .valign#{$bprule}-baseline { vertical-align: baseline !important; }
            .valign#{$bprule}-top { vertical-align: top !important; }
            .valign#{$bprule}-middle { vertical-align: middle !important; }
            .valign#{$bprule}-bottom { vertical-align: bottom !important; }
            .valign#{$bprule}-text-bottom { vertical-align: text-bottom !important; }
            .valign#{$bprule}-text-top { vertical-align: text-top !important; }
        }
    }
}
