// scss-lint:disable ImportantRule

// Visibility utilities
.invisible {
    @include invisible();
}
.visible {
    @include visible();
}


// Hidden utilities
@each $bp in map-keys($grid-breakpoints) {
    .hide-#{$bp}-up {
        @include media-breakpoint-up($bp) {
            display: none !important;
        }
    }
    .hide-#{$bp}-down {
        @include media-breakpoint-down($bp) {
            display: none !important;
        }
    }
}

// Print utilities
// Media queries are placed on the inside to be mixin-friendly.
.print-show-block {
    display: none !important;

    @media print {
        display: block !important;
    }
}
.print-show-inline {
    display: none !important;

    @media print {
        display: inline !important;
    }
}
.print-show-inline-block {
    display: none !important;

    @media print {
        display: inline-block !important;
    }
}

.print-hide {
    @media print {
        display: none !important;
    }
}
