@use "../mixins/divider";
@use "../settings";
@use "../settings-options";

@if settings-options.$enable-utility-vr {
    .vr {
        display: inline-block;
        align-self: stretch;
        min-height: 1em;
        @include divider.divider-v(settings.$vr-border-color, settings.$vr-border-width, null, settings.$vr-opacity);
    }
}
