<link href="https://VVDVJM0JO8-dsn.algolia.net" rel="preconnect" crossorigin>
<script src="https://cdn.jsdelivr.net/npm/@docsearch/js@3"></script>
<script>
(function() {
    'use strict';

    var searchElement = document.getElementById('docsearch');

    if (!window.docsearch || !searchElement) {
        return;
    }

    var siteDocsVersion = searchElement.getAttribute('data-docs-version');

    window.docsearch({
        apiKey: 'b69a9a2a34fe6a689f65620db813cab3',
        appId: "VVDVJM0JO8",
        indexName: 'figuration',
        container: searchElement,
        searchParameters: {
            facetFilters: ['version:' + siteDocsVersion]
        },
        transformItems: function(items) {
            return items.map(function(item) {
                // Prevent jumping to first header
                if (item.anchor === 'content') {
                    item.url = item.url.replace(/#content$/, '');
                    item.anchor = null;
                }
                return item;
            });
        },
        // Set debug to true if you want to inspect the dropdown
        debug: false
    });
}());
</script>
<!-- Interim fix for Safari scroll issue: https://github.com/algolia/docsearch/issues/1260 -->
<div class="position-fixed"><input type="text"></div>