// Base styles
.alert {
    position: relative;
    padding: $alert-padding-y $alert-padding-x;
    padding-right: ($alert-padding-x + ($alert-close-padding-x * 2));
    margin-bottom: $alert-margin-bottom;
    border: $alert-border-width solid transparent;
    @include border-radius($alert-border-radius);

    // Adjust close link position and color
    .close {
        position: absolute;
        top: 0;
        right: 0;
        padding: $alert-close-padding-y $alert-close-padding-x;
        color: inherit;
    }
}

// Headings for larger alerts
.alert-heading {
    // Specified to prevent conflicts of changing $headings-color
    color: inherit;
}

// Provide class for links that match alerts
.alert-link {
    font-weight: $alert-link-font-weight;
}

// Contextual modifiers
@each $theme, $colors in $context-themes {
    $color:       map-get($colors, "context-color");
    $bg:          map-get($colors, "context-bg");
    $border:      map-get($colors, "context-border");
    $hover-color: map-get($colors, "context-hover-color");

    .alert-#{$theme} {
        @include alert-variant($color, $bg, $border, $hover-color);
    }
}
