@use "../settings";
@use "../mixins/transition";

.fade {
  opacity: 0;
  @include transition.transition(settings.$transition-fade);

  &.in {
    opacity: 1;
  }
}

.collapse {
  &:not(.in) {
    display: none;
  }
}

.collapsing {
  height: 0;
  overflow: hidden;

  @include transition.transition(settings.$transition-collapse-y);

  // Horizontal collapse variant
  &.width {
    width: 0;
    height: auto;

    @if settings.$enable-transitions {
      @include transition.transition(settings.$transition-collapse-x);
    }
  }
}
