@use "../mixins/border";
@use "../mixins/font-size";
@use "../settings";
@use "../settings-options";

@if settings-options.$enable-badge {
    // Base class
    .badge {
        display: inline-block;
        padding: settings.$badge-padding-y settings.$badge-padding-x;
        font-family: settings.$badge-font-family;
        @include font-size.font-size(settings.$badge-font-size);
        font-weight: settings.$badge-font-weight;
        line-height: settings.$badge-line-height;
        color: settings.$badge-color;
        text-align: center;
        text-decoration: none;
        white-space: nowrap;
        vertical-align: baseline;
        background-color: settings.$badge-bg;
        border: settings.$badge-border-width solid transparent;
        @include border.border-radius(settings.$badge-border-radius);

        // Empty badges collapse automatically
        &:empty {
            display: none;
        }

        @if settings-options.$enable-badge-close {
            .close {
                padding-right: settings.$badge-close-padding-x;
                padding-left: settings.$badge-close-padding-x;
                margin-right: -(settings.$badge-close-padding-x);
                @include font-size.font-size(settings.$badge-close-font-size);
            }
        }
    }

    // Quick fix for badges in buttons
    @if settings-options.$enable-btn {
        .btn .badge {
            position: relative;
            top: -1px;
        }
    }

    // Badge group
    @if settings-options.$enable-badge-group {
        .badge-group {
            display: inline-flex;
            vertical-align: baseline;

            > .badge {
                &:not(:first-child) {
                    margin-left: -(settings.$badge-border-width);
                    @include border.border-start-radius(0);
                }

                &:not(:last-child) {
                    @include border.border-end-radius(0);
                }
            }
        }
    }
}
