@use "../settings";
@use "../settings-options";
@use "../mixins/lists";
@use "../vendor/rfs";

@if settings-options.$enable-breadcrumb {
  .breadcrumb {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: settings.$breadcrumb-margin-bottom;
    @include rfs.font-size(settings.$breadcrumb-font-size);
    @include lists.list-unstyled();
  }

  .breadcrumb-item {

    // The separator between breadcrumbs (by default, a forward-slash: "/")
    + .breadcrumb-item {
      padding-left: settings.$breadcrumb-item-padding-x;

      &::before {
        float: left; // Suppress inline spacing and underlining of the separator
        padding-right: settings.$breadcrumb-item-padding-x;
        color: settings.$breadcrumb-divider-color;
        content: settings.$breadcrumb-divider;
      }
    }

    + .breadcrumb-item:hover::before {
      text-decoration: none;
    }

    &.active {
      color: settings.$breadcrumb-active-color;
    }
  }
}
