@use "../mixins/font-size";
@use "../mixins/lists";
@use "../settings";
@use "../settings-options";

@if settings-options.$enable-breadcrumb {
    .breadcrumb {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: settings.$breadcrumb-margin-bottom;
        @include font-size.font-size(settings.$breadcrumb-font-size);
        @include lists.list-unstyled();
    }

    .breadcrumb-item {

        // The separator between breadcrumbs (by default, a forward-slash: "/")
        + .breadcrumb-item {
            padding-left: settings.$breadcrumb-item-padding-x;

            &::before {
                float: left; // Suppress inline spacing and underlining of the separator
                padding-right: settings.$breadcrumb-item-padding-x;
                color: settings.$breadcrumb-divider-color;
                content: settings.$breadcrumb-divider;
            }
        }

        // IE10-11 hack to properly handle hyperlink underlines for breadcrumbs built
        // without `<ul>`s. The `::before` pseudo-element generates an element
        // *within* the .breadcrumb-item and thereby inherits the `text-decoration`.
        //
        // To trick IE into suppressing the underline, we give the pseudo-element an
        // underline and then immediately remove it.
        // stylelint-disable no-duplicate-selectors
        + .breadcrumb-item:hover::before {
            text-decoration: underline;
        }
        + .breadcrumb-item:hover::before {
            text-decoration: none;
        }
        // stylelint-enable no-duplicate-selectors

        &.active {
            color: settings.$breadcrumb-active-color;
        }
    }
}
