// Make the div behave like a button
.btn-group,
.btn-group-vertical {
    position: relative;
    display: inline-flex;
    vertical-align: middle; // match .btn alignment given font-size hack above

    > .btn {
        position: relative;
        flex: 0 1 auto;
        margin-bottom: 0; // Override default `<label>` value

        // Bring the "active" button to the front
        &:active,
        &.active,
        &:hover {
            z-index: 1;
        }
        &:focus,
        &.focus {
            z-index: 2;
        }
    }
}

// Group multiple button groups together for a toolbar
.btn-toolbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    .input-group {
        width: auto;
    }
}

.btn-group {
    // Prevent double borders when buttons are next to each other
    .btn + .btn,
    .btn + .btn-group,
    .btn-group + .btn,
    .btn-group + .btn-group {
        margin-left: -$border-width;
    }

    > .btn:first-child {
        margin-left: 0;
    }

    // Reset rounded corners individual because sometimes a single button can be
    // in a .btn-group and we need :first-child and :last-child to both match.
    > .btn:not(:last-child):not(.dropdown-toggle),
    > .btn-group:not(:last-child) > .btn {
        @include border-end-radius(0);
    }

    > .btn:not(:first-child),
    > .btn-group:not(:first-child) > .btn {
        @include border-start-radius(0);
    }
}

// Sizing
// Remix the button sizing classes into new ones for easier manipulation
@if $enable-sizing {
    @each $size, $dims in $component-sizes {
        .btn-group-#{$size} > .btn { @extend .btn-#{$size}; }
    }
}

// Split button dropdowns
.dropdown-toggle-split {
    padding-right: $btn-padding-x * .75;
    padding-left: $btn-padding-x * .75;
}
@if $enable-sizing {
    @each $size, $dims in $component-sizes {
        $sz-padding-x: map-get($dims, "padding-x");

        .btn-#{$size} > .dropdown-toggle-split {
            padding-right: $sz-padding-x * .75;
            padding-left: $sz-padding-x * .75;
        }
    }
}

// Vertical button groups
.btn-group-vertical {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    > .btn,
    > .btn-group,
    > .btn-group > .btn {
        width: 100%;
        max-width: 100%;
    }

    > .btn + .btn,
    > .btn + .btn-group,
    > .btn-group + .btn,
    > .btn-group + .btn-group {
        margin-top: -$border-width;
    }

    > .btn:first-child {
        margin-top: 0;
    }

    > .btn {
        &:not(:first-child):not(:last-child) {
            border-radius: 0;
        }
        &:first-child:not(:last-child) {
            @include border-bottom-radius(0);
        }
        &:last-child:not(:first-child) {
            @include border-top-radius(0);
        }
    }

    > .btn-group:not(:first-child):not(:last-child) > .btn {
        border-radius: 0;
    }

    > .btn-group:first-child:not(:last-child) {
        > .btn:last-child,
        > .dropdown-toggle {
            @include border-bottom-radius(0);
        }
    }

    > .btn-group:last-child:not(:first-child) > .btn:first-child {
        @include border-top-radius(0);
    }
}


// Checkbox and radio options
// In order to support the browser's form validation feedback, powered by the
// `required` attribute, we have to "hide" the inputs via `clip`. We cannot use
// `display: none;` or `visibility: hidden;` as that also hides the popover.
// Simply visually hiding the inputs via `opacity` would leave them clickable in
// certain cases which is prevented by using `clip` and `pointer-events`.
// This way, we ensure a DOM element is visible to position the popover from.
//
// See https://github.com/twbs/bootstrap/pull/12794 and
// https://github.com/twbs/bootstrap/pull/14559 for more information.

[data-cfw="buttons"] {
    > .btn,
    > .btn-group > .btn {
        // stylelint-disable selector-no-qualifying-type
        input[type="radio"],
        input[type="checkbox"] {
            position: absolute;
            clip: rect(0, 0, 0, 0);
            pointer-events: none;
        }
        // stylelint-enable selector-no-qualifying-type
    }
}
