// Make the div behave like a button
.btn-group,
.btn-group-vertical {
    position: relative;
    display: inline-flex;
    vertical-align: middle; // match .btn alignment given font-size hack above

    > .btn {
        position: relative;
        flex: 0 1 auto;
        margin-bottom: 0; // Override default `<label>` value

        // Bring the "active" button to the front
        &:active,
        &.active {
            z-index: 1;
        }
        &:hover,
        &:focus,
        &.focus {
            z-index: 2;
        }
    }
}

// Group multiple button groups together for a toolbar
.btn-toolbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    .input-group {
        width: auto;
    }
}

.btn-group {
    // Prevent double borders when buttons are next to each other
    > .btn:not(:first-child),
    > .btn-group:not(:first-child),
    > .btn-check:not(:first-child) {
        margin-left: -$btn-border-width;
    }

    // Reset rounded corners
    > .btn:not(:last-child):not(.dropdown-toggle),
    > .btn-group:not(:last-child) > .btn,
    > .btn-check:not(:last-child) > .btn {
        @include border-end-radius(0);
    }

    > .btn:not(:first-child),
    > .btn-group:not(:first-child) > .btn,
    > .btn-check:not(:first-child) > .btn {
        @include border-start-radius(0);
    }
}

// Sizing
// Remix the button sizing classes into new ones for easier manipulation
@if $enable-sizing {
    @each $size, $dims in $component-sizes {
        .btn-group-#{$size} > .btn { @extend .btn-#{$size}; }
    }
}

// Split button dropdowns
.dropdown-toggle-split {
    padding-right: $btn-padding-x * .75;
    padding-left: $btn-padding-x * .75;
}
@if $enable-sizing {
    @each $size, $dims in $component-sizes {
        $sz-padding-x: map-get($dims, "padding-x");

        .btn-#{$size} > .dropdown-toggle-split {
            padding-right: $sz-padding-x * .75;
            padding-left: $sz-padding-x * .75;
        }
    }
}

// Vertical button groups
.btn-group-vertical {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    > .btn,
    > .btn-group,
    > .btn-group > .btn,
    > .btn-check,
    > .btn-check > .btn {
        width: 100%;
        max-width: 100%;
    }

    > .btn:not(:first-child),
    > .btn-group:not(:first-child),
    > .btn-check:not(:first-child) {
        margin-top: -$btn-border-width;
    }

    // Reset rounded corners
    > .btn:not(:last-child):not(.dropdown-toggle),
    > .btn-group:not(:last-child) > .btn,
    > .btn-check:not(:last-child) > .btn {
        @include border-bottom-radius(0);
    }

    > .btn:not(:first-child),
    > .btn-group:not(:first-child) > .btn,
    > .btn-check:not(:first-child) > .btn {
        @include border-top-radius(0);
    }
}
