// scss-lint:disable DuplicateProperty
// Caret `border` will inherit the text color
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-top: -($caret-width / 4);
    margin-left: ($caret-width / 2);
    vertical-align: middle;
    border-top: $caret-width solid;
    border-right: $caret-width solid transparent;
    border-left: $caret-width solid transparent;
}
.open .caret {
    border-top: 0;
    border-bottom: $caret-width solid;
}
