.caret {
    display: inline-block;
    width: $caret-width;
    text-align: center;
    &::after {
        @include caret(down, $caret-border-width);
    }
}
.open .caret {
    &::after {
        @include caret-up($caret-border-width);
    }
}
