@use "../mixins/border";
@use "../mixins/box-shadow";
@use "../mixins/breakpoints";
@use "../settings";
@use "../settings-options";

@if settings-options.$enable-card {
    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        height: settings.$card-height;
        margin-bottom: settings.$card-margin-bottom;
        color: settings.$card-color;
        word-wrap: break-word;
        background-color: settings.$card-bg;
        border: settings.$card-border-width solid settings.$card-border-color;
        @include border.border-radius(settings.$card-border-radius);
        @include box-shadow.box-shadow(settings.$card-box-shadow);

        > hr {
            margin-right: 0;
            margin-left: 0;
        }
    }

    @if settings-options.$enable-card-body {
        .card-body {
            // Enable `flex-grow: 1` for decks and groups so that card blocks take up
            // as much space as possible, ensuring footers are aligned to the bottom.
            flex: 1 1 auto;
            // Set a min-height to keep IE in check with image stretching
            min-height: 1px;
            padding: settings.$card-padding-y settings.$card-padding-x;
        }
    }

    @if settings-options.$enable-card-title {
        .card-title {
            margin-bottom: settings.$card-title-margin-bottom;
        }
    }

    @if settings-options.$enable-card-subtitle {
        .card-subtitle {
            margin-top: settings.$card-subtitle-margin-top;
            margin-bottom: 0;
        }
    }

    @if settings-options.$enable-card-text {
        .card-text:last-child {
            margin-bottom: 0;
        }
    }

    @if settings-options.$enable-card-link {
        .card-link + .card-link {
            margin-left: settings.$card-link-margin-left;
        }
    }

    @if settings-options.$enable-card-list {
        .card-list {
            margin-bottom: 0;

            .card > .card-header + & {
                .list-item:first-child {
                    border-top: 0;
                }
            }
            &:first-child {
                @include border.border-top-radius(settings.$card-inner-border-radius);

                > .list-item:first-child {
                    border-top: 0;
                    @include border.border-top-radius(settings.$card-inner-border-radius);
                }
            }
            &:not(:first-child) {
                > .list-item:first-child {
                    @include border.border-top-radius(0);
                }
            }

            .card > & {
                &.list-ruled,
                &.list-group {
                    & + .card-footer {
                        border-top: 0;
                    }
                }
            }
            &:last-child {
                @include border.border-bottom-radius(settings.$card-inner-border-radius);

                > .list-item:last-child {
                    border-bottom: 0;
                    @include border.border-bottom-radius(settings.$card-inner-border-radius);
                }
            }
            &:not(:last-child) {
                > .list-item:last-child {
                    @include border.border-top-radius(0);
                }
            }
        }
    }

    @if settings-options.$enable-card-table {
        .card-table {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    // Optional caps
    @if settings-options.$enable-card-header {
        .card-header {
            padding: settings.$card-header-padding-y settings.$card-header-padding-x;
            margin-bottom: 0; // Removes the default margin-bottom of <hN>
            color: settings.$card-header-color;
            background-color: settings.$card-header-bg;
            border-bottom: settings.$card-header-border-width solid settings.$card-header-border-color;

            &:first-child {
                @include border.border-radius(settings.$card-inner-border-radius settings.$card-inner-border-radius 0 0);
            }
        }
    }

    @if settings-options.$enable-card-footer {
        .card-footer {
            padding: settings.$card-footer-padding-y settings.$card-footer-padding-x;
            color: settings.$card-footer-color;
            background-color: settings.$card-footer-bg;
            border-top: settings.$card-footer-border-width solid settings.$card-footer-border-color;

            &:last-child {
                @include border.border-radius(0 0 settings.$card-inner-border-radius settings.$card-inner-border-radius);
            }
        }
    }

    // Header navs
    @if settings-options.$enable-card-header-tabs {
        .card-header-tabs {
            margin-right: settings.$card-header-padding-x * -.5;
            margin-bottom: -(settings.$card-header-padding-y);
            margin-left: settings.$card-header-padding-x * -.5;
            border-bottom: 0;

            .nav-link.active {
                @if settings.$nav-tabs-active-bg != settings.$card-bg {
                    background-color: settings.$card-bg;
                    border-bottom-color: settings.$card-bg;
                }

                @if settings.$nav-tabs-border-color != settings.$card-header-border-color {
                    border-color: settings.$card-header-border-color;
                }

                @if settings.$nav-tabs-border-color != settings.$card-header-border-color or settings.$nav-tabs-active-bg != settings.$card-bg {
                    border-bottom-color: settings.$card-bg;
                }
            }
        }
    }
    @if settings-options.$enable-card-header-pills {
        .card-header-pills {
            margin-right: settings.$card-header-padding-x * -.5;
            margin-left: settings.$card-header-padding-x * -.5;
        }
    }

    // Card image overlay
    @if settings-options.$enable-card-img-overlay {
        .card-img-overlay {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            padding: settings.$card-img-overlay-padding;
            @include border.border-radius(settings.$card-inner-border-radius);
        }
    }

    // Card images
    @if settings-options.$enable-card-img {
        .card-img,
        .card-img-top,
        .card-img-bottom {
            flex-shrink: 0; // Stop stretch/white-space due to flexbox w/ images in IE
            min-height: 1px;  // Stop stretch/white-space due to flexbox w/ images in IE
        }
        .card-img-top {
            @include border.border-top-radius(settings.$card-inner-border-radius);
        }
        .card-img-bottom {
            @include border.border-bottom-radius(settings.$card-inner-border-radius);
        }
    }

    // Horizontal Cards
    @if settings-options.$enable-card-horizontal {
        @each $breakpoint in settings.$card-horizontal-breakpoints {
            $bprule: breakpoints.breakpoint-designator($breakpoint);

            @include breakpoints.media-breakpoint-up($breakpoint) {
                .card-horizontal#{$bprule},
                .card-horizontal#{$bprule}-reverse {
                    flex-flow: row wrap;

                    > .card-col {
                        display: flex;
                        flex-direction: column;
                    }
                }

                .card-horizontal#{$bprule}-reverse {
                    flex-direction: row-reverse;
                }
            }
        }

        .card-col {
            min-height: 1px; // Stop stretch/white-space due to flexbox w/ images in IE
            padding-right: 0;
            padding-left: 0;
        }

        @if settings-options.$enable-rounded {
            @each $breakpoint in settings.$card-horizontal-breakpoints {
                $bprule: breakpoints.breakpoint-designator($breakpoint);
                $prev: breakpoints.breakpoint-prev($breakpoint, settings.$grid-breakpoints);

                // Skip smallest breakpoint
                @if breakpoints.breakpoint-min($breakpoint, settings.$grid-breakpoints) != null {
                    @include breakpoints.media-breakpoint-down($prev) {
                        %card-hz-col-reset-top-#{$bprule} {
                            @include border.border-top-radius(0);
                        }
                        %card-hz-col-reset-bottom-#{$bprule} {
                            @include border.border-bottom-radius(0);
                        }
                        .card-horizontal#{$bprule},
                        .card-horizontal#{$bprule}-reverse {
                            > .card-col:not(:first-child) {
                                @if settings-options.$enable-card-header {
                                    .card-header {
                                        @extend %card-hz-col-reset-top-#{$bprule};
                                    }
                                }
                                @if settings-options.$enable-card-img {
                                    .card-img-top {
                                        @extend %card-hz-col-reset-top-#{$bprule};
                                    }
                                }
                            }
                            > .card-col:not(:last-child) {
                                @if settings-options.$enable-card-footer {
                                    .card-footer {
                                        @extend %card-hz-col-reset-bottom-#{$bprule};
                                    }
                                }
                                @if settings-options.$enable-card-img {
                                    .card-img-bottom {
                                        @extend %card-hz-col-reset-bottom-#{$bprule};
                                    }
                                }
                            }
                        }
                    }
                }

                @include breakpoints.media-breakpoint-up($breakpoint) {
                    %card-hz-reset-top-start-#{$bprule} {
                        @include border.border-top-start-radius(0);
                    }
                    %card-hz-reset-bottom-start-#{$bprule} {
                        @include border.border-bottom-start-radius(0);
                    }
                    %card-hz-reset-top-end-#{$bprule} {
                        @include border.border-top-end-radius(0);
                    }
                    %card-hz-reset-bottom-end-#{$bprule} {
                        @include border.border-bottom-end-radius(0);
                    }
                    .card-horizontal#{$bprule} {
                        > .card-col:not(:first-child) {
                            @if settings-options.$enable-card-header {
                                .card-header {
                                    @extend %card-hz-reset-top-start-#{$bprule};
                                }
                            }
                            @if settings-options.$enable-card-footer {
                                .card-footer {
                                    @extend %card-hz-reset-bottom-start-#{$bprule};
                                }
                            }
                            @if settings-options.$enable-card-img {
                                .card-img-top {
                                    @extend %card-hz-reset-top-start-#{$bprule};
                                }
                                .card-img-bottom {
                                    @extend %card-hz-reset-bottom-start-#{$bprule};
                                }
                            }
                        }
                        > .card-col:not(:last-child) {
                            @if settings-options.$enable-card-header {
                                .card-header {
                                    @extend %card-hz-reset-top-end-#{$bprule};
                                }
                            }
                            @if settings-options.$enable-card-footer {
                                .card-footer {
                                    @extend %card-hz-reset-bottom-end-#{$bprule};
                                }
                            }
                            @if settings-options.$enable-card-img {
                                .card-img-top {
                                    @extend %card-hz-reset-top-end-#{$bprule};
                                }
                                .card-img-bottom {
                                    @extend %card-hz-reset-bottom-end-#{$bprule};
                                }
                            }
                        }
                    }
                    .card-horizontal#{$bprule}-reverse {
                        > .card-col:not(:first-child) {
                            @if settings-options.$enable-card-header {
                                .card-header {
                                    @extend %card-hz-reset-top-end-#{$bprule};
                                }
                            }
                            @if settings-options.$enable-card-footer {
                                .card-footer {
                                    @extend %card-hz-reset-bottom-end-#{$bprule};
                                }
                            }
                            @if settings-options.$enable-card-img {
                                .card-img-top {
                                    @extend %card-hz-reset-top-end-#{$bprule};
                                }
                                .card-img-bottom {
                                    @extend %card-hz-reset-bottom-end-#{$bprule};
                                }
                            }
                        }
                        > .card-col:not(:last-child) {
                            @if settings-options.$enable-card-header {
                                .card-header {
                                    @extend %card-hz-reset-top-start-#{$bprule};
                                }
                            }
                            @if settings-options.$enable-card-footer {
                                .card-footer {
                                    @extend %card-hz-reset-bottom-start-#{$bprule};
                                }
                            }
                            @if settings-options.$enable-card-img {
                                .card-img-top {
                                    @extend %card-hz-reset-top-start-#{$bprule};
                                }
                                .card-img-bottom {
                                    @extend %card-hz-reset-bottom-start-#{$bprule};
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    // Card deck
    // 1. Individual cards have margin-bottom by default.
    //    Replace with single margin on the deck.
    @if settings-options.$enable-card-deck {
        %card-deck-base {
            display: flex;
            flex-direction: column;
            margin-right: settings.$card-deck-gutter * -.5;
            margin-left: settings.$card-deck-gutter * -.5;

            > .card {
                margin-right: settings.$card-deck-gutter * .5;
                margin-left: settings.$card-deck-gutter * .5;
            }
        }

        @each $breakpoint in settings.$card-deck-breakpoints {
            $bprule: breakpoints.breakpoint-designator($breakpoint);

            @if $bprule == "" or (settings-options.$enable-card-deck-responsive and $bprule != "") {
                .card-deck#{$bprule} {
                    @extend %card-deck-base;

                    @include breakpoints.media-breakpoint-up(#{$breakpoint}) {
                        flex-flow: row wrap;
                        margin-bottom: settings.$card-margin-bottom; // 1

                        > .card {
                            // Flexbugs #4: https://github.com/philipwalton/flexbugs#4-flex-shorthand-declarations-with-unitless-flex-basis-values-are-ignored
                            flex: 1 0 0%;
                            margin-bottom: 0; // 1
                        }
                    }
                }
            }
        }
    }


    // Card group
    // 1. Individual cards have margin-bottom by default,
    //    Replace with single margin on the group.
    @if settings-options.$enable-card-group {
        %card-group-base {
            display: flex;
            flex-direction: column;
        }

        @each $breakpoint in settings.$card-group-breakpoints {
            $bprule: breakpoints.breakpoint-designator($breakpoint);

            @if $bprule == "" or (settings-options.$enable-card-group-responsive and $bprule != "") {
                .card-group#{$bprule} {
                    @extend %card-group-base;

                    @include breakpoints.media-breakpoint-up(#{$breakpoint}) {
                        flex-flow: row wrap;
                        margin-bottom: settings.$card-margin-bottom; // 1

                        > .card {
                            // Flexbugs #4: https://github.com/philipwalton/flexbugs#4-flex-shorthand-declarations-with-unitless-flex-basis-values-are-ignored
                            flex: 1 0 0%;
                            margin-bottom: 0; // 1

                            + .card {
                                margin-left: 0;
                                border-left: 0;
                            }

                            // Handle rounded corners
                            @if settings-options.$enable-rounded {
                                &:not(:last-child) {
                                    @include border.border-end-radius(0);

                                    %card-group-reset-top-end#{$bprule} {
                                        @include border.border-top-end-radius(0);
                                    }
                                    @if settings-options.$enable-card-header {
                                        .card-header {
                                            @extend %card-group-reset-top-end#{$bprule};
                                        }
                                    }
                                    @if settings-options.$enable-card-img {
                                        .card-img-top {
                                            @extend %card-group-reset-top-end#{$bprule};
                                        }
                                    }

                                    %card-group-reset-bottom-end#{$bprule} {
                                        @include border.border-bottom-end-radius(0);
                                    }
                                    @if settings-options.$enable-card-footer {
                                        .card-footer {
                                            @extend %card-group-reset-bottom-end#{$bprule};
                                        }
                                    }
                                    @if settings-options.$enable-card-img {
                                        .card-img-bottom {
                                            @extend %card-group-reset-bottom-end#{$bprule};
                                        }
                                    }
                                }
                                &:not(:first-child) {
                                    @include border.border-start-radius(0);

                                    %card-group-reset-top-start#{$bprule} {
                                        @include border.border-top-start-radius(0);
                                    }
                                    @if settings-options.$enable-card-header {
                                        .card-header {
                                            @extend %card-group-reset-top-start#{$bprule};
                                        }
                                    }
                                    @if settings-options.$enable-card-img {
                                        .card-img-top {
                                            @extend %card-group-reset-top-start#{$bprule};
                                        }
                                    }

                                    %card-group-reset-bottom-start#{$bprule} {
                                        @include border.border-bottom-start-radius(0);
                                    }
                                    @if settings-options.$enable-card-footer {
                                        .card-footer {
                                            @extend %card-group-reset-bottom-start#{$bprule};
                                        }
                                    }
                                    @if settings-options.$enable-card-img {
                                        .card-img-bottom {
                                            @extend %card-group-reset-bottom-start#{$bprule};
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    // Card columns
    @if settings-options.$enable-card-columns {
        @each $breakpoint in settings.$card-columns-breakpoints {
            $bprule: breakpoints.breakpoint-designator($breakpoint);

            @if $bprule == "" or (settings-options.$enable-card-columns-responsive and $bprule != "") {
                @include breakpoints.media-breakpoint-up(#{$breakpoint}) {
                    .card-columns#{$bprule} {
                        margin-bottom: settings.$card-margin-bottom;
                        column-count: settings.$card-columns-count;
                        column-gap: settings.$card-columns-column-gap;
                        orphans: 1;
                        widows: 1;

                        > .card {
                            margin-top: settings.$card-margin-bottom;
                            margin-bottom: 0;
                            break-inside: avoid;
                            backface-visibility: hidden;

                            &:first-child {
                                margin-top: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}
