@use "../functions/math";
@use "../mixins/border";
@use "../mixins/box-shadow";
@use "../mixins/caret";
@use "../mixins/divider";
@use "../mixins/font-size";
@use "../mixins/hover";
@use "../settings";
@use "../settings-options";

// stylelint-disable selector-no-qualifying-type
@if settings-options.$enable-dropdown {
    // The dropdown wrapper (`<div>`) and submenu (`<ul>`)
    .dropdown,
    .dropdown-submenu {
        position: relative;
    }

    .dropdown-container {
        position: absolute;
        pointer-events: none;
    }

    // The dropdown menu
    .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: settings.$zindex-dropdown;
        display: none; // none by default, but block on "open" of the menu
        min-width: settings.$dropdown-min-width;
        padding: settings.$dropdown-padding-y settings.$dropdown-padding-x;
        margin: settings.$dropdown-spacer 0; // override default ul
        @include font-size.font-size(settings.$dropdown-font-size);
        line-height: settings.$dropdown-line-height;
        color: settings.$dropdown-color;
        text-align: left; // Ensures proper alignment if parent has it changed (e.g., modal footer)
        list-style: none;
        pointer-events: auto;
        background-color: settings.$dropdown-bg;
        background-clip: padding-box;
        border: settings.$dropdown-border-width solid settings.$dropdown-border-color;
        @include border.border-radius(settings.$dropdown-border-radius);
        @include box-shadow.box-shadow(settings.$dropdown-box-shadow);

        &.open {
            display: block;
        }

        // Prevent item from overflowing when no horizontal menu padding
        @if settings.$dropdown-padding-y == 0 {
            > dropdown-item:first-child,
            > li:first-child a,
            > li:first-child .dropdown-item {
                @include border.border-top-radius(settings.$dropdown-inner-border-radius);
            }

            > dropdown-item:last-child,
            > li:last-child a,
            > li:last-child .dropdown-item {
                @include border.border-bottom-radius(settings.$dropdown-inner-border-radius);
            }
        }
    }

    // Dropdown submenu additions
    .dropdown-submenu {
        > .dropdown-menu {
            margin-top: math.subtract(settings.$dropdown-border-width, math.add(settings.$dropdown-spacer, settings.$dropdown-padding-y, false));
        }

        > a,
        > .dropdown-item {
            &::after {
                position: absolute;
                top: settings.$dropdown-caret-spacer-y;
                right: settings.$dropdown-caret-spacer-x;
                @include caret.caret(end, settings.$dropdown-caret-width, settings.$dropdown-caret-color);
            }

            &.active:not(:hover):not(:focus)::after {
                @include caret.caret-end(settings.$dropdown-caret-width, settings.$dropdown-caret-active-color);
            }
        }
    }

    // Allow for menus to in reverse direction - aligning to end side of the control
    .dropreverse {
        right: 0;
        left: auto;
    }

    // Links within a dropdown menu
    // Because we support nested dropdowns, it is currently required to use a
    // list for semantic markup, but we include a `.dropdown-item`
    // for non-anchor items
    // 1- `<button>`s require some overrides
    .dropdown-menu a,
    .dropdown-item {
        display: block;
        width: 100%; // 1
        padding: settings.$dropdown-item-padding-y settings.$dropdown-item-padding-x;
        margin: 0;
        clear: both;
        font-weight: settings.$font-weight-normal;
        color: settings.$dropdown-link-color;
        text-align: inherit; // 1
        text-decoration: if(settings.$link-decoration == none, null, none);
        white-space: nowrap; // prevent links from randomly breaking onto new lines
        background: none; // 1
        border: 0; // 1

        &.active {
            color: settings.$dropdown-link-active-color;
            background-color: settings.$dropdown-link-active-bg;
        }

        @include hover.hover-focus() {
            color: settings.$dropdown-link-hover-color;
            text-decoration: if(settings.$link-hover-decoration == underline, none, null);
            background-color: settings.$dropdown-link-hover-bg;
        }

        &.disabled,
        &:disabled {
            color: settings.$dropdown-link-disabled-color;
            text-decoration: none;
            pointer-events: none;
            background-color: settings.$dropdown-link-disabled-bg;
            background-image: none; // Remove CSS gradient
        }
    }

    // Dropdown section headers
    @if settings-options.$enable-dropdown-header {
        .dropdown-header {
            display: block;
            padding: settings.$dropdown-header-padding;
            margin-bottom: 0;
            @include font-size.font-size(settings.$dropdown-header-font-size);
            font-weight: settings.$dropdown-header-font-weight;
            line-height: inherit;
            color: settings.$dropdown-header-color;
            white-space: nowrap; // as with > li > a
        }
    }

    // Dropdown non-interactive text item
    @if settings-options.$enable-dropdown-text {
        .dropdown-text {
            display: block;
            padding: settings.$dropdown-item-padding-y settings.$dropdown-item-padding-x;
            color: settings.$dropdown-text-color;
        }
    }

    // Divider (basically an `<hr>`) within the dropdown
    @if settings-options.$enable-dropdown-divider {
        .dropdown-divider {
            @include divider.divider-h(settings.$dropdown-divider-color, settings.$dropdown-divider-width, settings.$dropdown-divider-spacer, settings.$dropdown-divider-opacity);
        }
    }

    // Submenu and side alignments
    // The `.dropdown-subalign-*` classes are added automatically by the dropdown.js widget
    // This removes the need for overly convoluted CSS rules

    .dropdown-subalign-reverse,
    .dropstart {
        top: 0;
        right: 100%;
        left: auto;
        margin-top: 0;
        margin-right: settings.$dropdown-spacer;
    }
    .dropdown-subalign-reverse {
        margin-right: 0;
    }

    .dropdown-subalign-forward,
    .dropend {
        top: 0;
        right: auto;
        left: 100%;
        margin-top: 0;
        margin-left: settings.$dropdown-spacer;
    }
    .dropdown-subalign-forward {
        margin-left: 0;
    }

    .dropcenter {
        right: auto;
        left: 50%;
        transform: translateX(-50%);
    }

    .dropmiddle {
        top: 50%;
        bottom: auto;
        transform: translateY(-50%);
    }

    // Allow for dropdowns to go bottom up (aka, dropup menu)
    // Add .dropup onto the .dropdown-menu element
    @if settings-options.$enable-dropdown-dropup {
        .dropup {
            top: auto;
            bottom: 100%;
            margin-top: 0;
            margin-bottom: settings.$dropdown-spacer;

            .dropdown-submenu {
                > .dropdown-menu {
                    top: auto;
                    bottom: 0;
                    margin-top: 0;
                    margin-bottom: math.subtract(settings.$dropdown-border-width, math.add(settings.$dropdown-spacer, settings.$dropdown-padding-y, false));
                }
            }

            &.dropstart,
            &.dropend {
                bottom: 0;
                margin-bottom: 0;
            }

        }
    }

    // When using Popper, reset basic dropdown position
    .dropdown-menu,
    .dropdown-submenu > .dropdown-menu {
        &[x-placement] {
            right: auto;
            bottom: auto;
            left: auto;
            transform: none;
        }
    }

    @if settings-options.$enable-dropdown-back {
        // Backwards navigation item - extends a menu item
        .dropdown-back {
            position: relative;

            > button::before {
                position: absolute;
                top: settings.$dropdown-back-spacer-y;
                left: settings.$dropdown-back-spacer-x;
                @include caret.caret(start, settings.$dropdown-back-width, settings.$dropdown-back-color);
            }
        }

        // Change back caret direction for reverse facing menus
        // The `.dropdown-back-reverse` class is added automatically by the dropdown.js widget
        // This removes the need for overly convoluted CSS rules
        .dropdown-back-reverse {
            > a::before {
                right: settings.$dropdown-back-spacer-x;
                left: auto;
                @include caret.caret-end(settings.$dropdown-back-width, settings.$dropdown-back-color);
            }
        }
    }
}
