.embed-fluid {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;

    &::before {
        display: block;
        padding-top: $embed-ratio;
        content: "";
    }

    .embed-fluid-item,
    iframe,
    embed,
    object,
    video {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }
}

.embed-fluid-21x9 {
    &::before {
        padding-top: percentage(9 / 21);
    }
}

.embed-fluid-16x9 {
    &::before {
        padding-top: percentage(9 / 16);
    }
}

.embed-fluid-4x3 {
    &::before {
        padding-top: percentage(3 / 4);
    }
}

.embed-fluid-1x1 {
    &::before {
        padding-top: percentage(1 / 1);
    }
}

// Fullscreen video
:fullscreen .embed-fluid {
    position: initial;
}
// stylelint-disable selector-no-vendor-prefix
:-ms-fullscreen .embed-fluid {
    .embed-fluid-item,
    iframe,
    embed,
    object,
    video {
        position: -ms-device-fixed;
    }
}
// stylelint-enable selector-no-vendor-prefix
