// Container widths
//
// Set the container width, and override it for fixed navbars in media queries.

@if $enable-grid-classes {
    .container {
        @include make-container();
        @include make-container-max-widths();
    }
}

// Fluid container
//
// Utilizes the mixin meant for fixed width containers, but without any defined
// width for fluid, full width layouts.

@if $enable-grid-classes {
    .container-fluid {
        @include make-container();
    }
}

// Row
//
// Rows contain and clear the floats of your columns.

@if $enable-grid-classes {
    .row {
        @include make-row();
    }
}

// Columns
//
// Common styles for grid columns

@if $enable-grid-classes {
    // Hack in a base class to extend upon, since it can't be done within the mixins
    // Additional per breakpoint base classes punched in also - find them in the `make-grid-columns()` mixin
    .col {
        position: relative;
        min-height: 1px;
        padding-right: ($grid-gutter-width / 2);
        padding-left:  ($grid-gutter-width / 2);

        &:empty {
            min-height: 1px;
        }
    }

    @each $breakpoint in map-keys($grid-breakpoints) {
        @for $i from 1 through $grid-columns {
            .col-#{$breakpoint}-#{$i} {
                @extend .col;
            }
        }
    }

    @include make-grid-columns();
}
