@use "../mixins/breakpoints";
@use "../mixins/grid";
@use "../settings";
@use "../settings-options";

// Row
// Rows contain columns.
@if settings-options.$enable-grid-classes {
    .row {
        @include grid.make-row();

        > * {
            @include grid.make-col-ready();
        }
    }
}

// Responsive gutters
@if settings-options.$enable-grid-classes and settings-options.$enable-grid-responsive-gutters {
    @each $breakpoint in settings.$responsive-gutter-breakpoints {
        $bprule: breakpoints.breakpoint-designator($breakpoint);

        @include breakpoints.media-breakpoint-up($breakpoint, settings.$grid-breakpoints) {
            @each $key, $value in settings.$gutters {
                .g#{$bprule}-#{$key},
                .gx#{$bprule}-#{$key} {
                    margin-right: $value * -.5;
                    margin-left: $value * -.5;

                    > * {
                        padding-right: $value * .5;
                        padding-left: $value * .5;
                    }
                }

                .g#{$bprule}-#{$key},
                .gy#{$bprule}-#{$key} {
                    margin-top: -$value;

                    > * {
                        margin-top: $value;
                    }
                }
            }
        }
    }
}

// Columns
// Common styles for grid columns
@if settings-options.$enable-grid-classes {
    @include grid.make-grid-columns();
}
