.jumbotron {
    padding: $jumbotron-padding-xs-y $jumbotron-padding-xs-x;
    margin-bottom: $jumbotron-padding-y;
    background-color: $jumbotron-bg;
    @include border-radius($jumbotron-border-radius);

    @include media-breakpoint-up(#{$jumbotron-breakpoint}) {
        padding: $jumbotron-padding-y $jumbotron-padding-x;
    }
}

.jumbotron-full {
    padding-right: 0;
    padding-left: 0;
    @include border-radius(0);
}
