@use "sass:list";
@use "sass:map";
@use "sass:meta";
@use "../functions/color-util";
@use "../mixins/border";
@use "../mixins/hover";
@use "../mixins/lists";
@use "../settings";
@use "../settings-options";

// List and list items
// Use on <ul>, <ol>, or <div>.
// Basic layout becomes an unstyled list.
@if settings-options.$enable-list {
    .list {
        display: flex;
        flex-direction: column;
        min-width: 0;
        margin-bottom: settings.$list-margin-bottom;
        border-color: settings.$list-border-color;
        @include lists.list-unstyled();

        .list {
            padding: 0;
            margin-bottom: 0;
            margin-left: settings.$list-margin-left;
        }
    }

    // Space out nested bullet and ordered lists
    .list:not(.list-bulleted):not(.list-ordered) {
        .list-item {
            %list-indent {
                margin-left: settings.$list-margin-left * 2;
            }
            @if settings-options.$enable-list-bulleted {
                .list-bulleted {
                    @extend %list-indent;
                }
            }
            @if settings-options.$enable-list-ordered {
                .list-ordered {
                    @extend %list-indent;
                }
            }
        }
    }

    // Bulleted list
    @if settings-options.$enable-list-bulleted {
        .list-bulleted {
            margin-left: settings.$list-margin-left;

            > .list-item {
                list-style: none;

                &::before {
                    position: absolute;
                    margin-left: -(settings.$list-margin-left);
                    content: settings.$list-bulleted-content;
                }
            }
        }
    }

    // Ordered list
    @if settings-options.$enable-list-ordered {
        .list-ordered {
            margin-left: settings.$list-margin-left;
            counter-reset: ordered;

            > .list-item {
                &::before {
                    position: absolute;
                    margin-left: -(settings.$list-margin-left);
                    //content: counters(ordered, ".") " ";
                    content: counter(ordered) "#{settings.$list-ordered-delimeter}";
                    counter-increment: ordered;
                }
            }
        }
    }

    // Inner list marker
    @if settings-options.$enable-list-marker-inner {
        .list-marker-inner {
            margin-left: 0;

            > .list-item {
                &::before {
                    position: static;
                    margin-left: 0;
                }
            }
        }
    }

    // Lists with borders
    %list-bordered {
        > .list-item {
            border-top-width: settings.$list-border-width;
            border-bottom-width: settings.$list-border-width;
        }

        > .list-item + .list-item {
            border-top-width: 0;

            &.active {
                margin-top: -(settings.$list-border-width);
                border-top-width: settings.$list-border-width;
            }
        }


    }
    @if settings-options.$enable-list-divided {
        .list-divided {
            @extend %list-bordered;
        }
    }
    @if settings-options.$enable-list-ruled {
        .list-ruled {
            @extend %list-bordered;
        }
    }
    @if settings-options.$enable-list-group {
        .list-group {
            @extend %list-bordered;
        }
    }

    // Remove top and bottom borders for divided
    @if settings-options.$enable-list-divided {
        .list-divided {
            > .list-item {
                &:first-child {
                    border-top: 0;
                }

                &:last-child {
                    border-bottom: 0;
                }
            }
        }
    }

    // Group a list with borders all around, and a radius on the
    // first and last children.
    @if settings-options.$enable-list-group {
        .list-group {
            @include border.border-radius(settings.$list-group-border-radius);

            > .list-item {
                border-right-width: settings.$list-border-width;
                border-left-width: settings.$list-border-width;

                &:first-child {
                    @include border.border-top-radius(inherit);
                }
                &:last-child {
                    @include border.border-bottom-radius(inherit);
                }
            }
        }
    }

    // Add some padding to lists.
    @if settings-options.$enable-list-spaced {
        .list-spaced {
            > .list-item {
                padding: settings.$list-spaced-item-padding-y settings.$list-spaced-item-padding-x;
            }
        }
    }

    @if settings-options.$enable-list-spaced-y {
        .list-spaced-y {
            > .list-item {
                padding-top: settings.$list-spaced-item-padding-y;
                padding-bottom: settings.$list-spaced-item-padding-y;
            }
        }
    }

    @if settings-options.$enable-list-spaced-x {
        .list-spaced-x {
            > .list-item {
                padding-right: settings.$list-spaced-item-padding-x;
                padding-left: settings.$list-spaced-item-padding-x;
            }
        }
    }

    // Horizontal layout variants.
    @if settings-options.$enable-list-horizontal {
        .list-horizontal {
            flex-direction: row;
            padding-left: 0;

            > .list-item {
                &:not(:last-child) {
                    padding-right: settings.$list-horizontal-padding;
                }
            }

            &%list-hz-bull-and-ord {
                margin-left: 0;

                > .list-item {
                    &::before {
                        position: static;
                        margin-left: 0;
                    }
                }
            }

            @if settings-options.$enable-list-bulleted {
                &.list-bulleted {
                    @extend %list-hz-bull-and-ord;
                }
            }
            @if settings-options.$enable-list-ordered {
                &.list-ordered {
                    @extend %list-hz-bull-and-ord;
                }
            }

            @if settings-options.$enable-list-bulleted {
                &.list-bulleted {
                    > .list-item {
                        &:first-child::before {
                            content: none;
                        }
                    }
                }
            }

            &%list-hz-div-and-rul {
                > .list-item {
                    padding-right: settings.$list-horizontal-padding;
                    padding-left: settings.$list-horizontal-padding;
                    margin-top: 0;
                    margin-left: -(settings.$list-border-width);
                    border-width: 0 settings.$list-border-width;
                }

                > .list-item + .list-item {
                    margin-top: 0;

                    &.active {
                        margin-left: -(settings.$list-border-width);
                        border-top-width: 0;
                        border-left-width: settings.$list-border-width;
                    }
                }
            }
            @if settings-options.$enable-list-divided {
                &.list-divided {
                    @extend %list-hz-div-and-rul;
                }
            }
            @if settings-options.$enable-list-ruled {
                &.list-ruled {
                    @extend %list-hz-div-and-rul;
                }
            }

            @if settings-options.$enable-list-divided {
                &.list-divided {
                    > .list-item {
                        &:first-child {
                            padding-left: 0;
                            border-left: 0;
                        }

                        &:last-child {
                            padding-right: 0;
                            border-right: 0;
                        }
                    }
                }
            }

            @if settings-options.$enable-list-group {
                &.list-group {
                    > .list-item {
                        padding-right: settings.$list-horizontal-padding;
                        padding-left: settings.$list-horizontal-padding;
                        margin-top: 0;
                        margin-left: -(settings.$list-border-width);
                        border-top-width: settings.$list-border-width;

                        &:first-child {
                            margin-left: 0;
                            @include border.border-top-end-radius(0);
                            @include border.border-start-radius(inherit);
                        }

                        &:last-child {
                            @include border.border-bottom-start-radius(0);
                            @include border.border-end-radius(inherit);
                        }
                    }

                    > .list-item + .list-item {
                        // stylelint-disable-next-line selector-max-class
                        &.active {
                            margin-top: 0;
                        }
                    }
                }
            }

            // Spacing again due to specificity.
            @if settings-options.$enable-list-spaced {
                &.list-spaced {
                    > .list-item {
                        padding: settings.$list-spaced-item-padding-y settings.$list-spaced-item-padding-x;
                    }
                }
            }

            @if settings-options.$enable-list-spaced-y {
                &.list-spaced-y {
                    > .list-item {
                        padding-top: settings.$list-spaced-item-padding-y;
                        padding-bottom: settings.$list-spaced-item-padding-y;
                    }
                }
            }

            @if settings-options.$enable-list-spaced-x {
                &.list-spaced-x {
                    > .list-item {
                        padding-right: settings.$list-spaced-item-padding-x;
                        padding-left: settings.$list-spaced-item-padding-x;
                    }
                }
            }
        }
    }

    // Interactive list items
    // Use anchor or button elements instead of `<li>`s or `<div>`s to create
    // interactive list items.
    @if settings-options.$enable-list-item-action {
        .list-item-action {
            width: 100%; // For `<button>`s (anchors become 100% by default though)
            padding: 0; // Reset `<button>` padding
            color: settings.$list-item-action-color;
            text-align: inherit; // For `<button>`s (anchors inherit)
            text-decoration: none;

            // Hover state
            @include hover.hover-focus() {
                z-index: 2;
                color: settings.$list-item-action-hover-color;
                text-decoration: none;
                background-color: settings.$list-item-action-hover-bg;
            }
        }
    }

    // Individual list items
    // Use on `<li>`s or `<div>`s within the `.list` parent.
    .list-item {
        position: relative;
        margin-bottom: 0; // for <label> variations
        color: settings.$list-item-color;
        // Override `<button>` background and border.
        background-color: settings.$list-item-bg;
        border: 0 solid;
        border-color: inherit;

        //&::before {
        //    content: none;
        //}

        &.disabled,
        &:disabled {
            color: settings.$list-item-disabled-color;
            text-decoration: none;
            pointer-events: none;
            cursor: default;
            background-color: settings.$list-item-disabled-bg;
        }

        &.active {
            z-index: 1;
            color: settings.$list-item-active-color;
            background-color: settings.$list-item-active-bg;
            border-color: settings.$list-item-active-border;
        }
    }

    // Theme generation
    @if settings-options.$enable-list-item-colors {
        @if (meta.type-of(settings.$list-colors) == "map" and list.length(settings.$list-colors) != 0) {
            $mixed-list-themes: color-util.mix-context-colors(settings.$list-colors, settings.$list-levels);
            settings.$list-themes: map.merge($mixed-list-themes, settings.$list-themes);
        }

        // Contextual variants
        // Add modifier classes to change text and background color on individual items.
        // Organizationally, this must come after the `:hover` states.
        @if (meta.type-of(settings.$list-themes) == "map" and list.length(settings.$list-themes) != 0) {
            @each $theme, $colors in settings.$list-themes {
                $list-bg:            map.get($colors, "bg");
                $list-color:         map.get($colors, "color");
                $list-border:        null;
                $list-hover-bg:      map.get($colors, "hover-bg");
                $list-hover-color:   map.get($colors, "hover-color");
                $list-hover-border:  null;
                $list-active-bg:     map.get($colors, "hover-bg");
                $list-active-color:  map.get($colors, "hover-color");
                $list-active-border: map.get($colors, "hover-border-color");

                $list-color:        color-util.color-if-contrast($list-color, $list-bg);
                $list-hover-color:  color-util.color-if-contrast($list-hover-color, $list-hover-bg);
                $list-active-color: color-util.color-if-contrast($list-active-color, $list-active-bg);

                @include lists.list-item-variant(#{$theme}, $list-bg, $list-color, $list-border, $list-hover-bg, $list-hover-color, $list-hover-border, $list-active-bg, $list-active-color, $list-active-border);
            }
        }
    }
}
