// Base class
// Kickstart any navigation component with a set of style resets. Works with
// `<nav>`s or `<ul>`s.

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-link {
    display: inline-block;
    //text-decoration: none;

    //@include hover-focus {
        //text-decoration: none;
    //}

    // Disabled state lightens text and removes hover/tab effects
    &.disabled {
        color: $nav-disabled-link-color;

        @include plain-hover-focus {
            color: $nav-disabled-link-hover-color;
            cursor: $cursor-disabled;
            background-color: $nav-disabled-link-hover-bg;
        }
    }
}

@if $enable-flex-full {
    .nav {
        display: flex;

        // Simulate space between links
        .nav-link + .nav-link {
            margin-left: .25rem;
        }
    }

    // scss-lint:disable QualifyingElement
    ul.nav:not(.nav-inline):not(.nav-tabs):not(.nav-pills):not(.navbar-nav) {
        flex-direction: column;
    }
    // scss-lint:enable QualifyingElement
}
@if $enable-flex-opt {
    .nav-flex {
        display: flex;

        // Simulate space between links
        .nav-link + .nav-link {
            margin-left: .25rem;
        }
    }

    // scss-lint:disable QualifyingElement
    ul.nav-flex:not(.nav-inline):not(.nav-tabs):not(.nav-pills):not(.navbar-nav) {
        flex-direction: column;
    }
    // scss-lint:enable QualifyingElement
}

// Nav inline
.nav-inline {
    .nav-item {
        @if not $enable-flex-full {
            display: inline-block;
        }
    }

    .nav-item + .nav-item,
    .nav-link + .nav-link {
        margin-left: $nav-item-inline-spacer;
    }
}
if $enable-flex-full {
    .nav-inline {
        flex-flow: row wrap;
    }
}
@if $enable-flex-opt {
    .nav-flex.nav-inline {
        flex-flow: row wrap;
    }
}


// Tabs
.nav-tabs {
    border-bottom: $nav-tabs-border-width solid $nav-tabs-border-color;

    @if $enable-flex-full {
        flex-flow: row wrap;
    } @else {
        @include clearfix();
    }

    .nav-item {
        @if $enable-flex-full {
           //flex: 1;
        } @else {
            float: left;
        }
        // Make the list-items overlay the bottom border
        margin-bottom: -$nav-tabs-border-width;

        + .nav-item {
            margin-left: $nav-item-margin;
        }
    }

    .nav-link {
        display: block;
        padding: $nav-link-padding;
        text-decoration: none;
        border: $nav-tabs-border-width solid transparent;
        @include border-radius($border-radius $border-radius 0 0);

        @include hover-focus {
            text-decoration: none;
            background-color: $nav-tabs-link-hover-bg;
            border-color: $nav-tabs-link-hover-border-color $nav-tabs-link-hover-border-color $nav-tabs-border-color;
        }

        &.disabled {
            @include plain-hover-focus {
                color: $nav-disabled-link-color;
                background-color: transparent;
                border-color: transparent;
            }
        }
    }

    .nav-link.active,
    .nav-item.open .nav-link,
    .nav-item.active .nav-link {
        @include plain-hover-focus {
            color: $nav-tabs-active-link-hover-color;
            cursor: default;
            background-color: $nav-tabs-active-link-hover-bg;
            border-color: $nav-tabs-active-link-hover-border-color $nav-tabs-active-link-hover-border-color transparent;
        }
    }

    .dropdown-menu {
        // Make dropdown border overlap tab border
        margin-top: -$nav-tabs-border-width;
        // Remove the top rounded corners here since there is a hard edge above the menu
        @include border-top-radius(0);
    }
}
@if $enable-flex-opt {
    .nav-flex.nav-tabs {
        flex-flow: row wrap;
    }
}

// Pills
.nav-pills {
    @if $enable-flex-full {
        flex-flow: row wrap;
    } @else {
        @include clearfix();
    }

    .nav-item {
        float: left;

        + .nav-item {
            margin-left: $nav-item-margin;
        }
    }

    .nav-link {
        display: block;
        padding: $nav-link-padding;
        text-decoration: none;
        @include border-radius($nav-pills-border-radius);
    }

    a,
    button {
        &.nav-link:not(.disabled) {
            @include hover-focus {
                color: inherit;
                text-decoration: none;
                background-color: $nav-pills-hover-bg;
            }
        }
    }

    .nav-link.active,
    .nav-item.open .nav-link,
    .nav-item.active .nav-link {
        color: $nav-pills-active-link-color;
        cursor: default;
        background-color: $nav-pills-active-link-bg;
    }

    a,
    button {
        &.nav-link.active,
        .nav-item.open &.nav-link,
        .nav-item.active &.nav-link {
            @include hover-focus {
                color: $nav-pills-active-link-color;
                cursor: default;
                background-color: $nav-pills-active-hover-bg;

            }
        }
    }
}
@if $enable-flex-opt {
    .nav-flex.nav-pills {
        flex-flow: row wrap;
    }
}

.nav-stacked {
    @if $enable-flex-full {
        flex-direction: column;
    }

    .nav-item {
        display: block;
        float: none;

        + .nav-item {
            margin-top: $nav-item-margin;
            margin-left: 0;
        }
    }

    .nav-link {
        display: block;
    }
}
@if $enable-flex-opt {
    .nav-flex.nav-stacked {
        flex-direction: column;
    }
}

// Tab content panes
// Hide tabbable panes to start, show them when `.active`
.tab-content {
    > .tab-pane {
        display: none;

        &:focus {
            outline: none;
        }
    }

    > .active {
        display: block;
    }
}
