@use "../settings";
@use "../settings-options";
@use "../mixins/border";
@use "../mixins/transition";
@use "../vendor/rfs";

// Base class
// Kickstart any navigation component with a set of style resets. Works with
// `<nav>`s or `<ul>`s.
@if settings-options.$enable-nav {
  .nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }

  .nav-link {
    display: block;
    padding: settings.$nav-link-padding-y settings.$nav-link-padding-x;
    @include rfs.font-size(settings.$nav-link-font-size);
    font-weight: settings.$nav-link-font-weight;
    color: settings.$nav-link-color;
    text-decoration: settings.$nav-link-decoration;
    background: none;
    border: 0;
    @include transition.transition(settings.$nav-link-transition);

    &:hover,
    &:focus {
      color: settings.$nav-link-hover-color;
      text-decoration: settings.$nav-link-hover-decoration;
    }

    // Disabled state lightens text and removes hover/focus effects
    // By default it also influences `.nav-tab` and `.nav-pills`
    &.disabled,
    &:disabled {
      color: settings.$nav-link-disabled-color;
      text-decoration: none;
      pointer-events: none;
      cursor: default;
      opacity: settings.$nav-link-disabled-opacity;
    }
  }


  // Tabs
  @if settings-options.$enable-nav-tabs {
    .nav-tabs {
      flex-flow: row wrap;
      border-bottom: settings.$nav-tabs-border-width solid settings.$nav-tabs-border-color;

      .nav-link {
        // Make the list-items overlay the bottom border
        margin-bottom: settings.$nav-tabs-border-width * -1;
        border: settings.$nav-tabs-border-width solid transparent;
        @include border.border-radius(settings.$border-radius settings.$border-radius 0 0);

        &:hover,
        &:focus {
          color: settings.$nav-tabs-hover-color;
          background-color: settings.$nav-tabs-hover-bg;
          border-color: settings.$nav-tabs-hover-border-color settings.$nav-tabs-hover-border-color settings.$nav-tabs-border-color;
        }

        &.disabled,
        &:disabled {
          color: settings.$nav-link-disabled-color;
          background-color: transparent;
          border-color: transparent;
        }

        &.active,
        &.open {
          color: settings.$nav-tabs-active-color;
          background-color: settings.$nav-tabs-active-bg;
          border-color: settings.$nav-tabs-active-border-color settings.$nav-tabs-active-border-color settings.$nav-tabs-active-bg;
        }
      }

      @if settings-options.$enable-nav-reverse {
        &.nav-reverse {
          border-top: settings.$nav-tabs-border-width solid settings.$nav-tabs-border-color;
          border-bottom: 0;

          .nav-link {
            margin-top: settings.$nav-tabs-border-width * -1;
            margin-bottom: 0;
            @include border.border-radius(0 0 settings.$border-radius settings.$border-radius);

            &:hover,
            &:focus {
              border-color: settings.$nav-tabs-border-color settings.$nav-tabs-hover-border-color settings.$nav-tabs-hover-border-color;
            }

            &.active,
            &.open {
              border-color: settings.$nav-tabs-active-bg settings.$nav-tabs-active-border-color settings.$nav-tabs-active-border-color;
            }
          }
        }
      }
    }

    @if settings-options.$enable-dropdown {
      // Make dropdown border overlap tab border
      // Remove the rounded corners where there is a hard edge
      %tabs-dropdown-bottom {
        .dropdown-menu {
          &[x-placement^="bottom"] {
            margin-top: settings.$nav-tabs-border-width * -1;
            @include border.border-top-radius(0);
          }
        }
      }

      %tabs-dropdown-top {
        .dropdown-menu {
          &[x-placement^="top"] {
            margin-bottom: settings.$nav-tabs-border-width * -1;
            @include border.border-bottom-radius(0);
          }
        }
      }

      %tabs-dropdown-start {
        .dropdown-menu {
          &[x-placement^="left"] {
            margin-right: settings.$nav-tabs-border-width * -1;
            @include border.border-end-radius(0);
          }
        }
      }

      %tabs-dropdown-end {
        .dropdown-menu {
          &[x-placement^="right"] {
            margin-left: settings.$nav-tabs-border-width * -1;
            @include border.border-start-radius(0);
          }
        }
      }

      @if settings-options.$enable-nav-vertical and settings-options.$enable-nav-reverse {
        .nav-tabs.nav-vertical.nav-reverse {
          @extend %tabs-dropdown-start;
        }
        .nav-tabs.nav-vertical:not(.nav-reverse) {
          @extend %tabs-dropdown-end;
        }
        .nav-tabs.nav-reverse:not(.nav-vertical) {
          @extend %tabs-dropdown-top;
        }
        .nav-tabs:not(.nav-vertical):not(.nav-reverse) {
          @extend %tabs-dropdown-bottom;
        }
      } @else if settings-options.$enable-nav-vertical {
        .nav-tabs.nav-vertical {
          @extend %tabs-dropdown-end;
        }
        .nav-tabs:not(.nav-vertical) {
          @extend %tabs-dropdown-bottom;
        }
      } @else if settings-options.$enable-nav-reverse {
        .nav-tabs.nav-reverse {
          @extend %tabs-dropdown-top;
        }
        .nav-tabs:not(.nav-reverse) {
          @extend %tabs-dropdown-bottom;
        }
      } @else {
        .nav-tabs {
          @extend %tabs-dropdown-bottom;
        }
      }
    }
  }

  // Pills
  @if settings-options.$enable-nav-pills {
    .nav-pills {
      flex-flow: row wrap;

      .nav-link {
        @include border.border-radius(settings.$nav-pills-border-radius);

        &:hover,
        &:focus {
          color: settings.$nav-pills-hover-color;
          background-color: settings.$nav-pills-hover-bg;
        }

        &.disabled,
        &:disabled {
          color: settings.$nav-link-disabled-color;
          background-color: transparent;
          border-color: transparent;
        }

        &.active,
        &.open {
          color: settings.$nav-pills-active-color;
          background-color: settings.$nav-pills-active-bg;
        }
      }
    }
  }

  // Lined
  @if settings-options.$enable-nav-lined {
    .nav-lined {
      flex-flow: row wrap;
      gap: settings.$nav-lined-gap;

      .nav-link {
        padding-right: 0;
        padding-left: 0;
        border-bottom: settings.$nav-lined-border-width solid transparent;

        &:hover,
        &:focus {
          border-bottom-color: currentcolor;
        }

        &.active,
        &.open {
          font-weight: settings.$font-weight-bold;
          color: settings.$nav-lined-active-color;
          border-bottom-color: currentcolor;
        }
      }

      @if settings-options.$enable-nav-reverse {
        &.nav-reverse {
          .nav-link {
            border-top: settings.$nav-lined-border-width solid transparent;
            border-bottom: 0;

            &:hover,
            &:focus {
              border-top-color: currentcolor;
            }

            &.active,
            &.open {
              border-top-color: currentcolor;
            }
          }
        }
      }
    }
  }

  // Vertical navigation
  @if settings-options.$enable-nav-vertical {
    .nav-vertical {
      flex-direction: column;

      @if settings-options.$enable-nav-tabs {
        &.nav-tabs {
          border-right: settings.$nav-tabs-border-width solid settings.$nav-tabs-border-color;
          border-bottom: 0;

          .nav-link {
            margin-right: settings.$nav-tabs-border-width * -1;
            margin-bottom: 0;
            @include border.border-radius(settings.$border-radius 0 0 settings.$border-radius);

            &:hover,
            &:focus {
              border-color: settings.$nav-tabs-hover-border-color settings.$nav-tabs-border-color settings.$nav-tabs-hover-border-color settings.$nav-tabs-hover-border-color;
            }

            &.active,
            &.open {
              border-color: settings.$nav-tabs-active-border-color settings.$nav-tabs-active-bg settings.$nav-tabs-active-border-color settings.$nav-tabs-active-border-color;
            }
          }
        }

        @if settings-options.$enable-nav-reverse {
          &.nav-tabs.nav-reverse {
            border-top: 0;
            border-right: 0;
            border-left: settings.$nav-tabs-border-width solid settings.$nav-tabs-border-color;

            .nav-link {
              margin-top: 0;
              margin-right: 0;
              margin-left: settings.$nav-tabs-border-width * -1;
              @include border.border-radius(0 settings.$border-radius settings.$border-radius 0);

              &:hover,
              &:focus {
                border-color: settings.$nav-tabs-hover-border-color settings.$nav-tabs-hover-border-color settings.$nav-tabs-hover-border-color settings.$nav-tabs-border-color;
              }

              // stylelint-disable selector-max-class
              &.active,
              &.open {
                border-color: settings.$nav-tabs-active-border-color settings.$nav-tabs-active-border-color settings.$nav-tabs-active-border-color settings.$nav-tabs-active-bg;
              }
              // stylelint-enable selector-max-class
            }
          }
        }
      }

      @if settings-options.$enable-nav-lined {
        &.nav-lined {
          gap: 0;

          .nav-link {
            padding-right: settings.$nav-link-padding-x;
            padding-left: settings.$nav-link-padding-x;
            border-right: settings.$nav-lined-border-width solid transparent;
            border-bottom: 0;

            &:hover,
            &:focus {
              border-right-color: currentcolor;
            }

            &.active,
            &.open {
              border-right-color: currentcolor;
            }
          }
        }

        @if settings-options.$enable-nav-reverse {
          &.nav-lined.nav-reverse {
            .nav-link {
              border-top: 0;
              border-right: 0;
              border-left: settings.$nav-lined-border-width solid transparent;

              &:hover,
              &:focus {
                border-left-color: currentcolor;
              }

              // stylelint-disable selector-max-class
              &.active,
              &.open {
                border-left-color: currentcolor;
              }
              // stylelint-enable selector-max-class
            }
          }
        }
      }
    }
  }

  // Justified variants
  @if settings-options.$enable-nav-fill {
    .nav-fill {
      > .nav-link,
      .nav-item {
        flex: 1 1 auto;
        text-align: center;
      }
    }
  }

  @if settings-options.$enable-nav-justify {
    .nav-justify {
      > .nav-link,
      .nav-item {
        flex-basis: 0;
        flex-grow: 1;
        text-align: center;
      }
    }
  }

  // Make sure button will grow
  %nav-fill-justify-link-grow {
    .nav-item .nav-link {
      width: 100%;
    }
  }
  @if settings-options.$enable-nav-fill {
    .nav-fill {
      @extend %nav-fill-justify-link-grow;
    }
  }
  @if settings-options.$enable-nav-justify {
    .nav-justify {
      @extend %nav-fill-justify-link-grow;
    }
  }
}

// Tab content panes
// Hide tabbable panes to start, show them when `.active`
@if settings-options.$enable-tab-content {
  .tab-content {
    > .tab-pane {
      display: none;
    }
    > .active {
      display: block;
    }
  }
}
