// Wrapper and base class
// Provide a static navbar from which we expand to create full-width, fixed, and
// other navbar variations.
.navbar {
    position: relative;
    padding: $navbar-padding-y $navbar-padding-x;
    margin-bottom: $navbar-margin-bottom;
    @include clearfix;

    @include media-breakpoint-up(#{$navbar-breakpoint}) {
        @include border-radius($navbar-border-radius);
    }
}

// Navbar alignment options
// Display the navbar across the entirety of the page or fixed it to the top or
// bottom of the page.

// A static, full width modifier with no rounded corners.
.navbar-full {
    z-index: $zindex-navbar;
    @include border-radius(0);
}

// Fix the top/bottom navbars when screen real estate supports it
.navbar-fixed-top,
.navbar-fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    z-index: $zindex-navbar-fixed;
    margin-bottom: 0;
    @include border-radius(0);
}
.navbar-fixed-top {
    top: 0;
}
.navbar-fixed-bottom {
    bottom: 0;
}

.navbar-sticky-top {
    position: sticky;
    top: 0;
    z-index: $zindex-navbar-sticky;
    width: 100%;
    @include border-radius(0);
}


// Brand/project name
.navbar-brand {
    float: left;
    padding-top:    $navbar-brand-padding-y;
    padding-bottom: $navbar-brand-padding-y;
    margin-right: $navbar-brand-margin-x;
    font-size: $navbar-brand-font-size;
    font-weight: $navbar-brand-font-weight;
    text-decoration: none;

    @include hover-focus {
        text-decoration: none;
    }

    > img {
        display: block;
    }
}

.navbar-divider {
    float: left;
    width: $border-width;
    padding-top: $navbar-divider-padding-y;
    padding-bottom: $navbar-divider-padding-y;
    margin-right: $navbar-padding-x;
    margin-left:  $navbar-padding-x;
    overflow: hidden;

    &::before {
        content: "\00a0";
    }
}

//Navbar text
.navbar-text {
    display: inline-block;
    padding-top: $navbar-item-padding-y;
    padding-bottom: $navbar-item-padding-y;
}


// Navbar toggle
// Custom button for toggling the `.navbar-collapse`, powered by the collapse plugin.
.navbar-toggler {
    padding: $navbar-toggler-padding-y $navbar-toggler-padding-x;
    font-size: $navbar-toggler-font-size;
    line-height: 1;
    background: none;
    border: $border-width solid transparent;
    @include border-radius($btn-border-radius);

    @include hover-focus {
        text-decoration: none;
    }
}

// Navigation
// Custom navbar navigation built on the base `.nav` styles.
.navbar-nav {
    @if $enable-flex-full {
        // Override flexbox layout
        display: block;
    }

    .nav-item {
        float: left;
    }

    .nav-link {
        display: block;
        padding-top:    $navbar-item-padding-y;
        padding-bottom: $navbar-item-padding-y;
        text-decoration: none;

        @include hover-focus() {
            text-decoration: none;
        }

        + .nav-link {
            margin-left: $nav-item-inline-spacer;
        }
    }

    .nav-item + .nav-item {
        margin-left: $nav-item-inline-spacer;
    }
}

// Dark links against a light background
.navbar-light {
    .navbar-brand,
    .navbar-toggler {
        color: $navbar-light-active-color;

        @include hover-focus {
            color: $navbar-light-active-color;
        }
    }

    .navbar-nav {
        .nav-link {
            color: $navbar-light-color;

            @include hover-focus {
                color: $navbar-light-hover-color;
            }

            &.disabled {
                @include plain-hover-focus {
                    color: $navbar-light-disabled-color;
                    background-color: transparent;
                    border-color: transparent;
                }
            }
        }

        .open > .nav-link,
        .active > .nav-link,
        .nav-link.open,
        .nav-link.active {
            @include plain-hover-focus {
                color: $navbar-light-active-color;
            }
        }
    }

    .navbar-divider {
        background-color: $navbar-light-divider-color;
    }
}

// White links against a dark background
.navbar-dark {
    .navbar-brand,
    .navbar-toggler {
        color: $navbar-dark-active-color;

        @include hover-focus {
            color: $navbar-dark-hover-color;
        }
    }

    .navbar-nav {
        .nav-link {
            color: $navbar-dark-color;

            @include hover-focus {
                color: $navbar-dark-hover-color;
            }

            &.disabled {
                @include plain-hover-focus {
                    color: $navbar-dark-disabled-color;
                    background-color: transparent;
                    border-color: transparent;
                }
            }
        }

        .open > .nav-link,
        .active > .nav-link,
        .nav-link.open,
        .nav-link.active {
            @include plain-hover-focus {
                color: $navbar-dark-active-color;
            }
        }
    }

    .navbar-divider {
        background-color: $navbar-dark-divider-color;
    }
}

// Alternate navbar layout - either table or flexbox
// Uses `.navbar-group` to allow for opt-in to new layout, while keeping old style.
.navbar-group {
    @if $enable-flex-full {
        display: flex;
    } @else {
        display: table;
        width: 100%;
    }
}
.navbar-group-justified {
    @if $enable-flex-full {
        align-content: space-between;

        .navbar-brand {
            margin-right: 0;
        }

        .navbar-item {
            flex: 1;
        }
    } @else {
        table-layout: fixed;
    }

    .navbar-item.navbar-nav .nav-item {
        display: inline-block;
        float: none;
    }
}

.navbar-item {
    // Leaving this just incase it is actually needed
    //@if $enable-flex-full {
    //    flex: 0;
    //} @else {
    @if not $enable-flex-full {
        display: table-cell;
        white-space: nowrap;
        vertical-align: top;
    }
}
.navbar-item-min {
    @if $enable-flex-full {
        flex: 1;
    }
    width: 0%;
}
.navbar-item-max {
    @if $enable-flex-full {
        flex: 1;
    }
    width: 100%;
}

@if $enable-flex-opt {
    .navbar-group-flex {
        display: flex;

        .navbar-item {
            display: inline-block;
        }
    }

    .navbar-group-flex.navbar-group-justified {
        align-content: space-between;

        .navbar-brand {
            margin-right: 0;
        }
        .navbar-item {
            flex: 1;
        }
    }

    // Leaving this just incase it is actually needed
    //.navbar-group-flex .navbar-item {
    //    flex: 0;
    //}
    .navbar-group-flex .navbar-item-min,
    .navbar-group-flex .navbar-item-max {
        flex: 1;
    }
}

// Navbar toggleable
// Custom override for collapse widget in navbar

.navbar-toggleable {
    @each $breakpoint in map-keys($grid-breakpoints) {
        $nextbp: breakpoint-next($breakpoint);
        $bprule: breakpoint-designator($breakpoint);

        @if $nextbp != null {
            &#{$bprule} {
                @include clearfix;

                @include media-breakpoint-down(#{$breakpoint}) {
                    .navbar-brand {
                        display: block;
                        float: none;
                        margin-right: 0;
                    }

                    .navbar-nav {
                        .dropdown-menu {
                            position: static;
                            float: none;
                        }
                        .nav-item {
                            float: none;
                            margin-left: 0;
                        }
                    }
                }

                // scss-lint:disable ImportantRule
                @include media-breakpoint-up(#{$nextbp}) {
                    display: block !important;
                }
                // scss-lint:enable ImportantRule
            }

            @include media-breakpoint-down(#{$breakpoint}) {
                &#{$bprule} {
                    clear: both;
                }
            }
        }
    }
}
