// Navbar
// Provide a static navbar from which we expand to create full-width, fixed, and
// other navbar variations.
.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap; // allow us to do the line break for collapsing content
    align-items: center;
    // justify-content: space-between; // space out brand from logo
    padding: $navbar-padding-y $navbar-padding-x;

    // Because flex properties aren't inherited, we need to redeclare these first
    // few properities so that content nested within behave properly.
    > .container,
    > .container-fluid {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

    &:not([class*="navbar-expand"]) {
        .navbar-nav {
            .dropdown-menu {
                position: static;
                float: none;
            }
        }
    }
}

// Navbar Brand
// Used for brand, project, or site name.
.navbar-brand {
    display: inline-block;
    padding-top: $navbar-brand-padding-y;
    padding-bottom: $navbar-brand-padding-y;
    margin-right: $navbar-brand-margin-x;
    font-size: $navbar-brand-font-size;
    font-weight: $navbar-brand-font-weight;
    line-height: inherit;
    text-decoration: none;
    white-space: nowrap;

    @include hover-focus {
        text-decoration: none;
    }

    > img {
        display: block;
    }
}

// Navbar Nav
// Navbar navigation based the base `.nav` styles.
.navbar-nav {
    display: flex;
    flex-direction: column; // cannot use `inherit` to get the `.navbar`s value
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;

    .nav-link {
        padding-right: 0;
        padding-left: 0;
        text-decoration: none;

        @include hover-focus() {
            text-decoration: none;
        }
    }
}

//Navbar Text
.navbar-text {
    display: inline-block;
    padding-top: $navbar-item-padding-y;
    padding-bottom: $navbar-item-padding-y;
}

// Navbar Divider
.navbar-divider {
    align-self: stretch;
    margin: 0 $navbar-divider-margin-y;
    overflow: hidden;
    border-left: $navbar-divider-width solid $navbar-divider-color;
}

// Responsive navbar
//
// Custom styles for responsive collapsing and toggling of navbar contents.
// Powered by the collapse Bootstrap JavaScript plugin.

// When collapsed, prevent the toggleable navbar contents from appearing in
// the default flexbox row orienation. Requires the use of `flex-wrap: wrap`
// on the `.navbar` parent.
.navbar-collapse {
    flex: 1 1 100%;
    // Align content vertically in all instances.  Use flexbox utils to override.
    align-items: center;
}


// Navbar Toggle
// Custom button for toggling the `.navbar-collapse`, powered by the collapse plugin.
.navbar-toggle {
    padding: $navbar-toggle-padding-y $navbar-toggle-padding-x;
    font-size: $navbar-toggle-font-size;
    line-height: 1;
    background-color: transparent; // Remove default button style
    border: $border-width solid transparent; // Remove default button style
    @include border-radius($navbar-toggle-border-radius);

    @include hover-focus {
        text-decoration: none;
    }
}

// Generate series of `.navbar-expand-*` responsive classes for configuring
// where your navbar collapses.
.navbar-expand {
    @each $bp in map-keys($grid-breakpoints) {
        $bprule: breakpoint-designator($bp);
        $prev: breakpoint-prev($bp, $grid-breakpoints);

        &#{$bprule} {
            // Skip smallest breakpoint
            @if breakpoint-min($bp, $grid-breakpoints) != null {
                @include media-breakpoint-down($prev) {
                    .navbar-nav {
                        .dropdown-menu {
                            position: static;
                            float: none;
                        }
                    }

                    > .container,
                    > .container-fluid {
                        padding-right: 0;
                        padding-left: 0;
                    }

                    .navbar-divider {
                        margin: $navbar-divider-margin-x 0;
                        border-top: $navbar-divider-width solid $navbar-divider-color;
                        border-left: 0;
                    }
                }
            }

            @include media-breakpoint-up($bp) {
                flex-flow: row nowrap;
                justify-content: flex-start;

                .navbar-nav {
                    flex-direction: row;
                    align-items: center;

                    .dropdown-menu {
                        position: absolute;
                    }

                    .nav-link {
                        padding-right: $navbar-item-padding-x;
                        padding-left: $navbar-item-padding-x;
                    }
                }

                // For nesting containers, have to redeclare for alignment purposes
                > .container,
                > .container-fluid {
                    flex-wrap: nowrap;
                }

                .navbar-collapse {
                    display: flex !important;   // stylelint-disable-line declaration-no-important
                    flex-basis: auto;
                }

                .navbar-toggle {
                    display: none;
                }
            }
        }
    }
}

// Navbar Themes
// Dark links against a light background
.navbar-light {
    .navbar-brand {
        color: $navbar-light-active-color;

        @include hover-focus {
            color: $navbar-light-active-color;
        }
    }

    .navbar-nav {
        .nav-link {
            color: $navbar-light-color;

            @include hover-focus {
                color: $navbar-light-hover-color;
            }

            &.disabled {
                color: $navbar-light-disabled-color;
                background-color: transparent;
                border-color: transparent;
            }
        }

        .open > .nav-link,
        .active > .nav-link,
        .nav-link.open,
        .nav-link.active {
            color: $navbar-light-active-color;
        }
    }

    .navbar-toggle {
        color: $navbar-light-color;
        border-color: $navbar-light-toggle-border;

        @include hover-focus {
            color: $navbar-light-active-color;
        }
    }

    .navbar-text {
        color: $navbar-light-color;

        a {
            color: $navbar-light-hover-color;
            text-decoration: none;

            @include hover-focus {
                color: $navbar-light-active-color;
                text-decoration: none;
            }
        }
    }

    .navbar-divider {
        border-color: $navbar-light-divider-color;
    }
}

// White links against a dark background
.navbar-dark {
    .navbar-brand {
        color: $navbar-dark-active-color;

        @include hover-focus {
            color: $navbar-dark-hover-color;
        }
    }

    .navbar-nav {
        .nav-link {
            color: $navbar-dark-color;

            @include hover-focus {
                color: $navbar-dark-hover-color;
            }

            &.disabled {
                color: $navbar-dark-disabled-color;
                background-color: transparent;
                border-color: transparent;
            }
        }

        .open > .nav-link,
        .active > .nav-link,
        .nav-link.open,
        .nav-link.active {
            color: $navbar-dark-active-color;
        }
    }

    .navbar-toggle {
        color: $navbar-dark-color;
        border-color: $navbar-dark-toggle-border;

        @include hover-focus {
            color: $navbar-dark-active-color;
        }
    }

    .navbar-text {
        color: $navbar-dark-color;

        a {
            color: $navbar-dark-hover-color;
            text-decoration: none;

            @include hover-focus {
                color: $navbar-dark-active-color;
                text-decoration: none;
            }
        }
    }

    .navbar-divider {
        border-color: $navbar-dark-divider-color;
    }
}
