.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    @include border-radius();
}

.page-item {
    &:first-child {
        .page-link {
            margin-left: 0;
            @include border-left-radius($pagination-border-radius);
        }
    }
    &:last-child {
        .page-link {
            @include border-right-radius($pagination-border-radius);
        }
    }
}

.page-link {
    position: relative;
    display: block;
    padding: $pagination-padding-y $pagination-padding-x;
    margin-left: -$pagination-border-width;
    line-height: $pagination-line-height;
    color: $pagination-color;
    text-decoration: none;
    background-color: $pagination-bg;
    border: $pagination-border-width solid $pagination-border-color;

    &:hover {
        z-index: 2;
        color: $pagination-hover-color;
        text-decoration: none;
        background-color: $pagination-hover-bg;
        border-color: $pagination-hover-border;
    }

    &.active {
        z-index: 2;
        color: $pagination-active-color;
        background-color: $pagination-active-bg;
    }

    &:focus {
        z-index: 3;
    }

    &.disabled {
        color: $pagination-disabled-color;
        pointer-events: none;
        cursor: $cursor-disabled;
        background-color: $pagination-disabled-bg;
    }
}

// Sizing
@if $enable-sizing {
    @each $size, $dims in $component-sizes {
        $sz-font-size:     map-get($dims, "font-size");
        $sz-padding-y:     map-get($dims, "padding-y");
        $sz-padding-x:     map-get($dims, "padding-x");
        $sz-border-radius: map-get($dims, "border-radius");

        .pagination-#{$size} {
            @include pagination-size($sz-padding-y, $sz-padding-x, $sz-font-size, $sz-border-radius);
        }
    }
}
