@use "../settings";
@use "../settings-options";

@if settings-options.$enable-placeholder {
  .placeholder {
    display: inline-block;
    min-height: 1em;
    vertical-align: middle;
    cursor: wait;
    background-color: currentcolor;
    opacity: settings.$placeholder-opacity-max;

    &.btn::before {
      display: inline-block;
      content: "";
    }
  }

  // Sizes
  @if settings-options.$enable-placeholder-sizes {
    @each $name, $value in settings.$placeholder-sizes {
      .placeholder-#{$name} {
        min-height: $value;
      }
    }
  }

  // Animations
  @if settings-options.$enable-placeholder-glow {
    .placeholder-glow {
      .placeholder {
        animation: placeholder-glow 2s ease-in-out infinite;
      }
    }
    @keyframes placeholder-glow {
      50% {
        opacity: settings.$placeholder-opacity-min;
      }
    }
  }

  @if settings-options.$enable-placeholder-wave {
    .placeholder-wave {
      mask-image: linear-gradient(130deg, settings.$black 55%, rgba(0, 0, 0, (1 - settings.$placeholder-opacity-min)) 75%, settings.$black 95%);
      mask-size: 200% 100%;
      animation: placeholder-wave 2s linear infinite;
    }
    @keyframes placeholder-wave {
      100% {
        mask-position: -200% 0%;
      }
    }
  }
}
