@keyframes progress-bar-stripes {
    from { background-position: $progress-height 0; }
    to { background-position: 0 0; }
}

.progress {
    overflow: hidden; // Force rounded corners by cropping
    font-size: $progress-font-size;
    line-height: 0;  // Allow bar to control min-height
    background-color: $progress-bg;
    @include border-radius($progress-border-radius);
    @include box-shadow($progress-box-shadow);

    @if $enable-flex-full {
        display: flex;
    } @else {
        display: block;
        width: 100%;
    }
}

@if $enable-flex-opt {
    .progress-flex {
        display: flex;
        width: initial;
    }
}

.progress-bar {
    height: $progress-height;
    line-height: $progress-height;
    color: $progress-bar-color;
    text-align: center;
    background-color: $progress-bar-bg;
    @include box-shadow($progress-bar-box-shadow);

    @if not $enable-flex-full {
        display: inline-block;
        float: left;
        vertical-align: top;
    }
}

@if $enable-flex-opt {
    .progress-flex {
        .progress-bar {
            display: initial;
            // Leave out for IE 9 stacked bars?
            //float: none;
        }
    }
}

.progress-bar-striped {
    @include gradient-striped();
    background-size: $progress-height $progress-height;
}

.progress-bar-animated {
    animation: progress-bar-stripes $progress-bar-animation-timing;
}
