// Base class
.tag {
    display: inline-block;
    padding: $tag-padding-y $tag-padding-x;
    font-size: $tag-font-size;
    font-weight: $tag-font-weight;
    line-height: 1;
    color: $tag-color;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    @include border-radius($tag-border-radius);

    // Empty tags collapse automatically
    &:empty {
        display: none;
    }
}

// Quick fix for tags in buttons
.btn .tag {
    position: relative;
    top: -1px;
}

// scss-lint:disable QualifyingElement
// Add hover effects, but only for links
a.tag {
    text-decoration: none;

    @include hover-focus {
        color: $tag-link-hover-color;
        text-decoration: none;
        cursor: pointer;
    }
}
// scss-lint:enable QualifyingElement

// Pill tags
// Make them extra rounded with a modifier to replace v3's badges.

.tag-pill {
    padding-right: $tag-pill-padding-x;
    padding-left: $tag-pill-padding-x;
    @include border-radius($tag-pill-border-radius);
}

// Colors (linked tags get darker on :hover)
.tag {
    @include tag-variant($tag-bg);
}
@each $theme, $colors in $context-themes {
    $bg: map-get($colors, "control-bg");

    .tag-#{$theme} {
        @include tag-variant($bg);
    }
}
