<!DOCTYPE html>
<html lang="en-us">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

<meta name="description" content="CAST Figuration - A feature rich, responsive, mobile first, accessible, front-end framework based on Bootstrap.">

<title>
  
    Alerts &#124; CAST Figuration
  
</title>

<!-- Favicons -->
<link rel="apple-touch-icon" href="/apple-touch-icon.png">
<link rel="icon" href="/favicon.ico">

<!-- Core CSS -->

  <link href="/dist/css/figuration.min.css" rel="stylesheet">


<!-- Docs CSS -->

  <link href="/assets/css/docs.min.css" rel="stylesheet">


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js" integrity="sha384-nrOSfDHtoPMzJHjVTdCopGqIqeYETSXhZDFyniQ8ZHcVy08QesyHcnOUpMpqnmWq" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/assets/js/vendor/jquery.min.js"><\/script>')</script>

<!-- Core JS -->

  <script src="/dist/js/figuration.min.js"></script>


<!-- Docs JS -->

  <script src="/assets/js/docs.min.js"></script>


<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/assets/js/ie10-viewport-bug-workaround.js"></script>
<script src="/assets/js/ie-emulation-modes-warning.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-9130143-15', 'auto');
  ga('send', 'pageview');
</script>

</head>
<body>
    <a class="skipnav" href="#content">Skip to main content</a>

    <header class="navbar navbar-full navbar-dark cf-header">
    <div class="container">
        <nav>
            <a class="navbar-brand" href="/">CAST Figuration</a>
            <div class="clearfix hidden-lg-up">
                <button class="navbar-toggler btn btn-toggler pull-xs-right" type="button" data-cfw="collapse" data-cfw-collapse-toggle="#cf-topnav" data-cfw-collapse-hidden="false" aria-label="Toggle navigation">
                    <span class="icon-menu" aria-hidden="true">&#8801;</span>
                </button>
            </div>
            <div class="collapse navbar-toggleable-md" id="cf-topnav">
                <ul class="nav navbar-nav">
                    <li class="nav-item ">
                        <a href="/get-started/quick-start/" class="nav-link">Get Started</a>
                    </li>
                    <li class="nav-item ">
                        <a href="/layout/overview/" class="nav-link">Layout</a>
                    </li>
                    <li class="nav-item ">
                        <a href="/content/reboot/" class="nav-link">Content</a>
                    </li>
                    <li class="nav-item active">
                        <a href="/components/alerts/" class="nav-link">Components</a>
                    </li>
                    <li class="nav-item ">
                        <a href="/utilities/clearfix/" class="nav-link">Utilities</a>
                    </li>
                    <li class="nav-item ">
                        <a href="/widgets/overview/" class="nav-link">Widgets</a>
                    </li>
                    <li class="nav-item ">
                        <a href="/about/overview/" class="nav-link">About</a>
                    </li>
                    <li class="nav-item pull-lg-right">
                        <a href="https://github.com/cast-org/figuration" class="nav-link"><small>GitHub</small></a>
                    </li>
                </ul>
            </div>
        </nav>
    </div> <!-- /.container -->
</header>

    <div class="jumbotron jumbotron-full jumbotron-docs">
        <div class="container">
            
    <h1>Components</h1>
    <p class="lead">
        Reusable components built to provide alerts, button groups, cards, input groups, media objects, navigation, and much more.
    </p>


        </div>
    </div>

    <main class="container">
        <div class="row">
            <div class="col-xs-12 col-md-3 cf-sidebar">
                <nav class="cf-links">


  
  

  

  
  

  

  
  

  

  
  

  
    
      <div class="h4">Components</div>
      <ul class="nav">
        
          
          

          
          

          <li class="nav-item">
            <a href="/components/alerts" class="nav-link active">
              Alerts
            </a>
          </li>
        
          
          

          
          

          <li class="nav-item">
            <a href="/components/breadcrumb" class="nav-link ">
              Breadcrumb
            </a>
          </li>
        
          
          

          
          

          <li class="nav-item">
            <a href="/components/button-group" class="nav-link ">
              Button Group
            </a>
          </li>
        
          
          

          
          

          <li class="nav-item">
            <a href="/components/cards" class="nav-link ">
              Cards
            </a>
          </li>
        
          
          

          
          

          <li class="nav-item">
            <a href="/components/grid-lines" class="nav-link ">
              Grid Lines
            </a>
          </li>
        
          
          

          
          

          <li class="nav-item">
            <a href="/components/input-group" class="nav-link ">
              Input Group
            </a>
          </li>
        
          
          

          
          

          <li class="nav-item">
            <a href="/components/jumbotron" class="nav-link ">
              Jumbotron
            </a>
          </li>
        
          
          

          
          

          <li class="nav-item">
            <a href="/components/list-group" class="nav-link ">
              List Group
            </a>
          </li>
        
          
          

          
          

          <li class="nav-item">
            <a href="/components/media-object" class="nav-link ">
              Media Object
            </a>
          </li>
        
          
          

          
          

          <li class="nav-item">
            <a href="/components/navbar" class="nav-link ">
              Navbar
            </a>
          </li>
        
          
          

          
          

          <li class="nav-item">
            <a href="/components/navs" class="nav-link ">
              Navs
            </a>
          </li>
        
          
          

          
          

          <li class="nav-item">
            <a href="/components/pagination" class="nav-link ">
              Pagination
            </a>
          </li>
        
          
          

          
          

          <li class="nav-item">
            <a href="/components/progress" class="nav-link ">
              Progress
            </a>
          </li>
        
          
          

          
          

          <li class="nav-item">
            <a href="/components/tags" class="nav-link ">
              Tags
            </a>
          </li>
        
      </ul>
    
  

  
  

  

  
  

  

  
  

  

</nav>

            </div>
            <div class="col-xs-12 col-md-9 cf-content">
                <h1 class="cf-title" id="content">
                    Alerts
                    
                </h1>

                <p>Provide contextual feedback messages for typical user actions with the handful of available and flexible alert messages.</p>

<h2 class="no_toc" id="contents">Contents</h2>

<ul id="markdown-toc">
  <li><a href="#examples" id="markdown-toc-examples">Examples</a></li>
  <li><a href="#link-color" id="markdown-toc-link-color">Link Color</a></li>
  <li><a href="#additional-content" id="markdown-toc-additional-content">Additional Content</a></li>
</ul>

<h2 id="examples">Examples</h2>

<p>Alerts are available for any length of text, as well as an optional dismiss button. For proper styling, use of the contextual classes (e.g., <code class="highlighter-rouge">.alert-success</code>) is <strong>required</strong>. For inline dismissal, use the <a href="/widgets/alert/">Alert jQuery widget</a>.</p>

<div class="cf-example" data-example-id="">
<div class="alert alert-primary" role="alert">
  <strong>Primary!</strong> You read this important alert message.
</div>
<div class="alert alert-secondary" role="alert">
  <strong>Secondary!</strong> You read this important alert message.
</div>
<div class="alert alert-success" role="alert">
  <strong>Success!</strong> You successfully read this alert message.
</div>
<div class="alert alert-info" role="alert">
  <strong>Infomation!</strong> Something needs your attention, but it is not urgent.
</div>
<div class="alert alert-warning" role="alert">
  <strong>Warning!</strong> Something seems to have gone wrong with this item.
</div>
<div class="alert alert-danger" role="alert">
  <strong>Danger!</strong> There is definitaly some error now.
</div>
</div>
<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"alert alert-primary"</span> <span class="na">role=</span><span class="s">"alert"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;strong&gt;</span>Primary!<span class="nt">&lt;/strong&gt;</span> You read this important alert message.
<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"alert alert-secondary"</span> <span class="na">role=</span><span class="s">"alert"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;strong&gt;</span>Secondary!<span class="nt">&lt;/strong&gt;</span> You read this important alert message.
<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"alert alert-success"</span> <span class="na">role=</span><span class="s">"alert"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;strong&gt;</span>Success!<span class="nt">&lt;/strong&gt;</span> You successfully read this alert message.
<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"alert alert-info"</span> <span class="na">role=</span><span class="s">"alert"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;strong&gt;</span>Infomation!<span class="nt">&lt;/strong&gt;</span> Something needs your attention, but it is not urgent.
<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"alert alert-warning"</span> <span class="na">role=</span><span class="s">"alert"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;strong&gt;</span>Warning!<span class="nt">&lt;/strong&gt;</span> Something seems to have gone wrong with this item.
<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"alert alert-danger"</span> <span class="na">role=</span><span class="s">"alert"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;strong&gt;</span>Danger!<span class="nt">&lt;/strong&gt;</span> There is definitaly some error now.
<span class="nt">&lt;/div&gt;</span></code></pre></div>

<div class="cf-callout cf-callout-warning">
<h4 id="conveying-meaning-to-assistive-technologies">Conveying Meaning to Assistive Technologies</h4>

<p>Using color to add meaning only provides a visual indication, which will not be conveyed to users of assistive technologies—such as screen readers. Ensure that information denoted by the color is either obvious from the content itself (e.g. the visible text), or is included through alternative means, such as additional text hidden with the <code class="highlighter-rouge">.sr-only</code> class.</p>
</div>

<h2 id="link-color">Link Color</h2>

<p>Use the <code class="highlighter-rouge">.alert-link</code> utility class to quickly provide matching colored links within any alert.</p>

<div class="cf-example" data-example-id="">
<div class="alert alert-primary" role="alert">
  <strong>Primary!</strong> You read <a href="#" class="alert-link">this important alert message</a>.
</div>
<div class="alert alert-secondary" role="alert">
  <strong>Secondary!</strong> You read <a href="#" class="alert-link">this important alert message</a>.
</div>
<div class="alert alert-success" role="alert">
  <strong>Success!</strong> You successfully read <a href="#" class="alert-link">this alert message</a>.
</div>
<div class="alert alert-info" role="alert">
  <strong>Information!</strong> Something <a href="#" class="alert-link">needs your attention</a>, but it is not urgent.
</div>
<div class="alert alert-warning" role="alert">
  <strong>Warning!</strong> Something seems to have gone <a href="#" class="alert-link">wrong with this item</a>.
</div>
<div class="alert alert-danger" role="alert">
  <strong>Danger!</strong> There is definitaly <a href="#" class="alert-link">some error</a> now.
</div>
</div>
<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"alert alert-primary"</span> <span class="na">role=</span><span class="s">"alert"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;strong&gt;</span>Primary!<span class="nt">&lt;/strong&gt;</span> You read <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"#"</span> <span class="na">class=</span><span class="s">"alert-link"</span><span class="nt">&gt;</span>this important alert message<span class="nt">&lt;/a&gt;</span>.
<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"alert alert-secondary"</span> <span class="na">role=</span><span class="s">"alert"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;strong&gt;</span>Secondary!<span class="nt">&lt;/strong&gt;</span> You read <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"#"</span> <span class="na">class=</span><span class="s">"alert-link"</span><span class="nt">&gt;</span>this important alert message<span class="nt">&lt;/a&gt;</span>.
<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"alert alert-success"</span> <span class="na">role=</span><span class="s">"alert"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;strong&gt;</span>Success!<span class="nt">&lt;/strong&gt;</span> You successfully read <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"#"</span> <span class="na">class=</span><span class="s">"alert-link"</span><span class="nt">&gt;</span>this alert message<span class="nt">&lt;/a&gt;</span>.
<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"alert alert-info"</span> <span class="na">role=</span><span class="s">"alert"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;strong&gt;</span>Information!<span class="nt">&lt;/strong&gt;</span> Something <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"#"</span> <span class="na">class=</span><span class="s">"alert-link"</span><span class="nt">&gt;</span>needs your attention<span class="nt">&lt;/a&gt;</span>, but it is not urgent.
<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"alert alert-warning"</span> <span class="na">role=</span><span class="s">"alert"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;strong&gt;</span>Warning!<span class="nt">&lt;/strong&gt;</span> Something seems to have gone <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"#"</span> <span class="na">class=</span><span class="s">"alert-link"</span><span class="nt">&gt;</span>wrong with this item<span class="nt">&lt;/a&gt;</span>.
<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"alert alert-danger"</span> <span class="na">role=</span><span class="s">"alert"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;strong&gt;</span>Danger!<span class="nt">&lt;/strong&gt;</span> There is definitaly <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"#"</span> <span class="na">class=</span><span class="s">"alert-link"</span><span class="nt">&gt;</span>some error<span class="nt">&lt;/a&gt;</span> now.
<span class="nt">&lt;/div&gt;</span></code></pre></div>

<h2 id="additional-content">Additional Content</h2>

<p>Alerts can also contain additional HTML elements like headings and paragraphs.</p>

<div class="cf-example" data-example-id="">
<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Well done!</h4>
  <p>You successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
  <p class="margin-b-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
</div>
</div>
<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"alert alert-success"</span> <span class="na">role=</span><span class="s">"alert"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;h4</span> <span class="na">class=</span><span class="s">"alert-heading"</span><span class="nt">&gt;</span>Well done!<span class="nt">&lt;/h4&gt;</span>
  <span class="nt">&lt;p&gt;</span>You successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.<span class="nt">&lt;/p&gt;</span>
  <span class="nt">&lt;p</span> <span class="na">class=</span><span class="s">"margin-b-0"</span><span class="nt">&gt;</span>Whenever you need to, be sure to use margin utilities to keep things nice and tidy.<span class="nt">&lt;/p&gt;</span>
<span class="nt">&lt;/div&gt;</span></code></pre></div>


            </div>
        </div>

        <div class="topLink">
            <a href="#content">Top of Page <span class="caret"></span></a>
        </div>
    </main>

    <footer class="cf-footer">
    <div class="container">
        <p>
            Currently version: 1.2.0
            <br />
            <a href="https://github.com/cast-org/figuration">GitHub Project</a> - <a href="https://github.com/cast-org/figuration/issues">Issues</a>
        </p>
        <p>
            &copy; 2013-2016 <a href="http://www.cast.org">CAST, Inc.</a>
            <br />
            Portions: &copy; 2011-2016 the Bootstrap Authors and Twitter, Inc. Licensed under <a href="https://github.com/twbs/bootstrap/blob/master/LICENSE">the MIT license</a> or <a href="https://github.com/twbs/bootstrap/blob/master/docs/LICENSE">CC BY 3.0</a>.
        <p>
            Code licensed <a rel="license" href="https://github.com/cast-org/figuration/blob/master/LICENSE">MIT</a>,
            docs <a rel="license" href="https://github.com/cast-org/figuration/blob/master/docs/LICENSE">CC BY 4.0</a>.
        </p>

        <hr />

        <strong>Funding generously provided by:</strong>
        <div class="media footer-partners">
            <div class="media-left">
                <img src="/assets/img/aem-logo.png" class="media-object" width="40" height="40" alt="AEM logo" />
            </div>
            <div class="media-body">
                <span class="h6 partner-title"><a href="http://aem.cast.org">National Center on Accessible Educational Materials at CAST, Inc.</a></span><br />
                <small>Disclaimer: This does not necessarily represent endorsement by or the policies of the National Center on Accessible Educational Materials, the US Department of Education, and the US Federal Government.</small>
            </div>
        </div>

    </div>
</footer>

</body>
</html>
