@use "../mixins/border";
@use "../mixins/forms";
@use "../settings";
@use "../settings-options";

// Form range

// Each browser's pseudo-elements need to be separate and cannot be
// combined to provide for shared state support. Duplication is handled
// with mixins.  Also some additional rules per browser.
@if settings-options.$enable-form and settings-options.$enable-form-range {
    .form-range {
        width: 100%;
        // Min width needed for inline use in IE to keep from crushing to unusable width
        min-width: settings.$form-range-min-width;
        height: settings.$form-range-height;
        padding: 0;
        margin: 0;
        vertical-align: middle;
        background-color: transparent;
        appearance: none;

        &:focus {
            outline: 0;
            &::-webkit-slider-thumb {
                box-shadow: settings.$form-range-thumb-focus-box-shadow;
            }
            &::-moz-range-thumb {
                box-shadow: settings.$form-range-thumb-focus-box-shadow;
            }
            &::-ms-thumb {
                box-shadow: settings.$form-range-thumb-focus-box-shadow;
            }
        }

        &::-moz-focus-outer {
            border: 0;
        }

        &::-ms-tooltip {
            display: none;
        }

        // Track
        &::-webkit-slider-runnable-track {
            @include forms.form-range-track();
            background-color: settings.$form-range-track-bg;
        }
        &::-moz-range-track {
            @include forms.form-range-track();
            background-color: settings.$form-range-track-bg;
        }
        &::-ms-track {
            @include forms.form-range-track();
            background-color: transparent;
        }
        &::-ms-fill-lower {
            background-color: settings.$form-range-track-bg;
            @include border.border-radius(settings.$form-range-track-border-radius);
        }
        &::-ms-fill-upper {
            margin-right: settings.$form-range-thumb-width * .5;
            background-color: settings.$form-range-track-bg;
            @include border.border-radius(settings.$form-range-track-border-radius);
        }

        // Thumb
        &::-webkit-slider-thumb {
            @include forms.form-range-thumb();
            // Vertically align thumb
            margin-top: (settings.$form-range-track-height - settings.$form-range-thumb-height) * .5;
        }
        &::-moz-range-thumb {
            @include forms.form-range-thumb();
        }
        &::-ms-thumb {
            @include forms.form-range-thumb();
            // Vertically align thumb
            margin-top: 0;
            // Stop clipping focus box-shadow
            margin-right: settings.$form-range-thumb-focus-box-shadow-width;
            margin-left: settings.$form-range-thumb-focus-box-shadow-width;
        }

        &:disabled {
            pointer-events: none;

            &::-webkit-slider-thumb {
                background-color: settings.$form-range-thumb-disabled-bg;
            }
            &::-moz-range-thumb {
                background-color: settings.$form-range-thumb-disabled-bg;
            }
            &::-ms-thumb {
                background-color: settings.$form-range-thumb-disabled-bg;
            }
        }
    }
}
