@use "../settings";
@use "../settings-options";
@use "../mixins/forms";

// Form range

// Each browser's pseudo-elements need to be separate and cannot be
// combined to provide for shared state support. Duplication is handled
// with mixins.  Also some additional rules per browser.
@if settings-options.$enable-form and settings-options.$enable-form-range {
  .form-range {
    width: 100%;
    // Min width needed for inline use in IE to keep from crushing to unusable width
    min-width: settings.$form-range-min-width;
    height: settings.$form-range-height;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    appearance: none;
    background-color: transparent;

    &:focus {
      outline: 0;
      &::-webkit-slider-thumb {
        box-shadow: settings.$form-range-thumb-focus-box-shadow;
      }
      &::-moz-range-thumb {
        box-shadow: settings.$form-range-thumb-focus-box-shadow;
      }
    }

    &::-moz-focus-outer {
      border: 0;
    }

    // Track
    &::-webkit-slider-runnable-track {
      @include forms.form-range-track();
      background-color: settings.$form-range-track-bg;
    }
    &::-moz-range-track {
      @include forms.form-range-track();
      background-color: settings.$form-range-track-bg;
    }

    // Thumb
    &::-webkit-slider-thumb {
      @include forms.form-range-thumb();
      // Vertically align thumb
      margin-top: (settings.$form-range-track-height - settings.$form-range-thumb-height) * .5;
    }
    &::-moz-range-thumb {
      @include forms.form-range-thumb();
    }

    &:disabled {
      pointer-events: none;

      &::-webkit-slider-thumb {
        background-color: settings.$form-range-thumb-disabled-bg;
      }
      &::-moz-range-thumb {
        background-color: settings.$form-range-thumb-disabled-bg;
      }
    }
  }
}
