@use "../settings";
@use "../settings-options";
@use "../functions/calc-util";
@use "../mixins/border";
@use "../mixins/box-shadow";
@use "../mixins/forms";
@use "../mixins/transition";
@use "../vendor/rfs";

// Color input

@if settings-options.$enable-form and settings-options.$enable-form-color {
  .form-color {
    display: block;
    width: auto;
    min-width: forms.calc-input-height-inner(settings.$input-padding-y, settings.$input-line-height);
    height: forms.calc-input-height-inner(settings.$input-padding-y, settings.$input-line-height);
    padding: settings.$input-padding-y;
    @include rfs.font-size(settings.$input-font-size);
    line-height: settings.$input-line-height;
    color: settings.$input-color;
    background-color: settings.$input-bg;
    background-image: none;
    border: settings.$input-border-width solid settings.$input-border-color;

    @include border.border-radius(settings.$input-border-radius);
    @include box-shadow.box-shadow(settings.$input-box-shadow);
    @include transition.transition(settings.$input-transition);
    @include forms.form-control-focus();

    &:disabled {
      background-color: settings.$input-disabled-bg;
      border-color: settings.$input-disabled-border-color;
      opacity: settings.$input-disabled-opacity;
    }

    &:not(:disabled):not([readonly]) {
      cursor: pointer;
    }

    &::-moz-color-swatch {
      border: 0 !important; // stylelint-disable-line declaration-no-important
      @include border.border-radius(calc-util.subtract(settings.$input-border-radius, settings.$input-border-width));
    }

    &::-webkit-color-swatch-wrapper {
      padding: 0;
    }

    &::-webkit-color-swatch {
      border: 0 !important; // stylelint-disable-line declaration-no-important
      @include border.border-radius(calc-util.subtract(settings.$input-border-radius, settings.$input-border-width));
    }
  }
}
