<!DOCTYPE html>
<html lang="en-us">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<meta name="description" content="CAST Figuration - A feature rich, responsive, mobile first, accessible, front-end framework.">

<title>
  
    Overview &#124; CAST Figuration
  
</title>

<!-- Favicons -->
<link rel="apple-touch-icon" href="/apple-touch-icon.png">
<link rel="icon" href="/favicon.ico">

<!-- Core CSS -->

  <link href="/dist/css/figuration.min.css" rel="stylesheet" id="cssCore">


<!-- Algolia DocSearch CSS -->

<link rel="stylesheet" href="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css" />


<!-- Docs CSS -->

  <link href="/assets/css/docs.min.css" rel="stylesheet" id="cssDocs">


<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/assets/js/vendor/jquery.min.js"><\/script>')</script>

<!-- MutationObserver Polyfill -->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/0.7.24/MutationObserver.min.js" integrity="sha384-8HHYYRe45k4Xq40fi/cZaaby4FJgnOOVmnRzX3OWtwpfiUPfx7tnK2QkDPuIRGm0" crossorigin="anonymous"></script>


<!-- Core JS -->

  <script src="/dist/js/figuration.min.js"></script>


<!-- Docs JS -->

  <script src="/assets/js/docs.min.js"></script>


<!-- IE emulation mode warning -->
<script src="/assets/js/ie-emulation-modes-warning.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-9130143-15', 'auto');
  ga('send', 'pageview');
</script>

</head>
<body>
    <a class="skipnav" href="#content">Skip to main content</a>

    <header class="navbar navbar-expand-lg navbar-dark print-hide cf-header">
    <a class="navbar-brand" href="/" aria-label="CAST Figuration">
        <img src="/assets/brand/figuration-outline.svg" class="navbar-brand-logo" alt="" />
        <span class="sr-only-xs-down">CAST Figuration</span>
    </a>
    <button class="navbar-toggle flex-first me-0_5" type="button" data-cfw="collapse" data-cfw-collapse-target="#cf-topnav" aria-label="Toggle navigation">
        <span class="cf-header-menu" aria-hidden="true">&#8801;</span>
    </button>
    <div class="navbar-collapse collapse flex-last flex-lg-unordered flex-lg-shrink text-nowrap" id="cf-topnav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="/get-started/quick-start/" class="nav-link ">Get Started</a>
            </li>
            <li class="nav-item">
                <a href="/layout/overview/" class="nav-link active">Layout <span class="sr-only">(current section)</span></a>
            </li>
            <li class="nav-item">
                <a href="/content/reboot/" class="nav-link ">Content</a>
            </li>
            <li class="nav-item">
                <a href="/components/alerts/" class="nav-link ">Components</a>
            </li>
            <li class="nav-item">
                <a href="/utilities/borders/" class="nav-link ">Utilities</a>
            </li>
            <li class="nav-item">
                <a href="/widgets/overview/" class="nav-link ">Widgets</a>
            </li>
        </ul>
    </div>

    <ul class="navbar-nav ms-auto cf-header-social">
        <li class="nav-item">
            <a href="https://twitter.com/figuration_org" class="nav-link" aria-label="Twitter" title="Twitter">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" focusable="false"  class="cf-header-icon"  >
  <title>Twitter</title>
  <path fill="currentColor" d="M512 97.2c-18.84 8.36-39.08 14-60.33 16.55 21.7-13 38.34-33.58 46.2-58.1-20.3 12.03-42.8 20.77-66.72 25.48C412 60.7 384.7 47.96 354.48 47.96c-58 0-105.04 47.03-105.04 105.03 0 8.23.93 16.25 2.72 23.93-87.3-4.38-164.7-46.2-216.5-109.75-9.05 15.5-14.24 33.56-14.24 52.8 0 36.45 18.55 68.6 46.73 87.44-17.2-.54-33.4-5.27-47.57-13.14v1.32c0 50.9 36.2 93.35 84.25 103-8.8 2.4-18.1 3.7-27.68 3.7-6.76 0-13.34-.67-19.76-1.9 13.36 41.73 52.15 72.1 98.12 72.95-35.95 28.18-81.25 44.97-130.46 44.97-8.48 0-16.84-.5-25.06-1.47 46.5 29.8 101.7 47.2 161.02 47.2 193.2 0 298.87-160.07 298.87-298.88 0-4.55-.1-9.08-.32-13.6 20.53-14.8 38.34-33.3 52.42-54.36z"/>
</svg>

            </a>
        </li>
        <li class="nav-item">
            <a href="https://github.com/cast-org/figuration" class="nav-link" aria-label="Github" title="GitHub">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" focusable="false"  class="cf-header-icon"  >
  <title>GitHub</title>
  <path fill="currentColor" fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.3 6.53 5.47 7.6.4.06.55-.18.55-.4v-1.48c-2.02.37-2.54-.5-2.7-.94-.1-.23-.48-.94-.82-1.13-.28-.15-.68-.52 0-.53.62 0 1.07.58 1.22.82.72 1.2 1.87.87 2.33.66.07-.52.28-.87.5-1.07-1.77-.2-3.63-.9-3.63-3.95 0-.87.3-1.6.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.2 2.2.83.64-.18 1.32-.27 2-.27.68 0 1.36.1 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.93.08 2.13.5.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.3.25.54.73.54 1.48v2.2c0 .22.15.47.55.4C13.7 14.52 16 11.52 16 8c0-4.42-3.58-8-8-8z"/>
</svg>

            </a>
        </li>
        <li class="nav-item dropdown dropdown-menu-reverse">
            <a href="#" role="button" class="nav-link" aria-label="Settings" title="Settings" data-cfw="dropdown">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 8" focusable="false"  class="cf-header-icon"  >
  <title>Settings</title>
  <path fill="currentColor" d="M3.5 0l-.5 1.19c-.1.03-.19.08-.28.13l-1.19-.5-.72.72.5 1.19c-.05.1-.09.18-.13.28l-1.19.5v1l1.19.5c.04.1.08.18.13.28l-.5 1.19.72.72 1.19-.5c.09.04.18.09.28.13l.5 1.19h1l.5-1.19c.09-.04.19-.08.28-.13l1.19.5.72-.72-.5-1.19c.04-.09.09-.19.13-.28l1.19-.5v-1l-1.19-.5c-.03-.09-.08-.19-.13-.28l.5-1.19-.72-.72-1.19.5c-.09-.04-.19-.09-.28-.13l-.5-1.19h-1zm.5 2.5c.83 0 1.5.67 1.5 1.5s-.67 1.5-1.5 1.5-1.5-.67-1.5-1.5.67-1.5 1.5-1.5z"/>
</svg>
            </a>
            <ul class="dropdown-menu">
                <li class="dropdown-header">Direction</li>
                <li><button type="button" class="dropdown-item" id="dir-ltr">Left-to-right</button></li>
                <li><button type="button" class="dropdown-item" id="dir-rtl">Right-to-left</button></li>
            </ul>
        </li>
        
        <li class="nav-item">
            <form class="form-inline docsearch-wrapper">
                <input type="search" class="docsearch form-control form-control-sm" id="docsearch" placeholder="Search docs..." aria-label="Search the documentation" />
            </form>
        </li>
        
    </ul>
</header>

    <div class="jumbotron jumbotron-full jumbotron-docs">
        <div class="container-fluid">
            
    <div class="h1">Layout</div>
    <p class="lead">
        Options for structuring your pages, including global styles, required scaffolding, grid system, and more.
    </p>


        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-3 col-xl-2 cf-sidebar">
                <nav class="cf-links">


  
  

  

  
  

  
    <div class="h4 cf-sidebar-header">Layout</div>
    <ul class="nav flex-column">
      
        

        
        
        

        <li class="nav-item">
          <a href="/layout/overview/" class="nav-link active">
            Overview <span class="sr-only">(current page)</span>
          </a>
        </li>
      
        

        
        
        

        <li class="nav-item">
          <a href="/layout/grid/" class="nav-link ">
            Grid 
          </a>
        </li>
      
        

        
        
        

        <li class="nav-item">
          <a href="/layout/layout-utilities/" class="nav-link ">
            Layout Utilities 
          </a>
        </li>
      
        

        
        
        

        <li class="nav-item">
          <a href="/layout/flexbox/" class="nav-link ">
            Flexbox 
          </a>
        </li>
      
    </ul>
  

  
  

  

  
  

  

  
  

  

  
  

  

  
  

  

</nav>

            </div>

            <div class="d-none d-xl-block col-xl-2 cf-toc">
            </div>

            <main class="col-12 col-md-9 col-xl-8 cf-content" role="main">
                <h1 class="cf-title" id="content">
                    Overview
                    
                </h1>

                <p>Figuration includes several components and options for laying out your project, including wrapping containers, a powerful grid system, and responsive utility classes.</p>

<h2 class="no_toc" id="contents">Contents</h2>

<ul id="markdown-toc">
  <li><a href="#containers" id="markdown-toc-containers">Containers</a></li>
  <li><a href="#responsive-breakpoints" id="markdown-toc-responsive-breakpoints">Responsive Breakpoints</a></li>
  <li><a href="#breakpoint-nomenclature" id="markdown-toc-breakpoint-nomenclature">Breakpoint Nomenclature</a></li>
  <li><a href="#z-index" id="markdown-toc-z-index">Z-index</a></li>
</ul>

<h2 id="containers">Containers</h2>

<p>Containers are the most basic layout element in Figuration and are <strong>required when using the grid system</strong>. Choose from a responsive, fixed-width container (meaning its <code class="highlighter-rouge">max-width</code> changes at each breakpoint) or fluid-width (meaning it’s <code class="highlighter-rouge">100%</code> wide all the time).</p>

<p>While containers <em>can</em> be nested, most layouts do not require a nested container.</p>

<div class="cf-example">
    <div class="cf-example-container">
        <div class="cf-example-container-header"></div>
        <div class="cf-example-container-sidebarL"></div>
        <div class="cf-example-container-sidebarR"></div>
        <div class="cf-example-container-body"></div>
    </div>
</div>

<figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"container"</span><span class="nt">&gt;</span>
  <span class="c">&lt;!-- Content here --&gt;</span>
<span class="nt">&lt;/div&gt;</span></code></pre></figure>

<p>Use <code class="highlighter-rouge">.container-fluid</code> for a full width container, spanning the entire width of the viewport.</p>

<div class="cf-example">
  <div class="cf-example-container cf-example-container-fluid">
    <div class="cf-example-container-header"></div>
    <div class="cf-example-container-sidebarL"></div>
    <div class="cf-example-container-sidebarR"></div>
    <div class="cf-example-container-body"></div>
  </div>
</div>

<figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"container-fluid"</span><span class="nt">&gt;</span>
  ...
<span class="nt">&lt;/div&gt;</span></code></pre></figure>

<h2 id="responsive-breakpoints">Responsive Breakpoints</h2>

<p>Since Figuration is developed to be mobile first, we use a handful of <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/Media_Queries/Using_media_queries">media queries</a> to create sensible breakpoints for our layouts and interfaces. These breakpoints are mostly based on minimum viewport widths and allow us to scale up elements as the viewport changes.</p>

<p>For accessibility reasons, the Sass internally maps the pixel defined breakpoints into <code class="highlighter-rouge">em</code> values.  We assume a 16px default root font size, since this is the default for most browsers.</p>

<div class="cf-callout cf-callout-info">
<p class="h5">PX vs EM Controversy</p>

<p>While this is a very opinionated topic, Figuration has chosen the <code class="highlighter-rouge">em</code> route for greater accessibility. We believe strongly that this is the correct direction moving forward.</p>

<p>Some reference material - may be competing points of view:</p>

<ul>
  <li><a href="http://zellwk.com/blog/media-query-units">http://zellwk.com/blog/media-query-units</a></li>
  <li><a href="https://github.com/twbs/bootstrap/pull/17403">https://github.com/twbs/bootstrap/pull/17403</a></li>
  <li><a href="https://nicolas-hoizey.com/2016/03/people-don-t-change-the-default-16px-font-size-in-their-browser.html">https://nicolas-hoizey.com/2016/03/people-don-t-change-the-default-16px-font-size-in-their-browser.html</a></li>
</ul>

</div>

<p>Figuration primarily uses the following media query ranges—or breakpoints—in our source Sass files for our layout, grid system, and components.</p>

<figure class="highlight"><pre><code class="language-scss" data-lang="scss"><span class="c1">// Extra small devices (portrait phones, less than 36em/576px)
// No media query since this is the default in Figuration
</span>
<span class="c1">// Small devices (landscape phones, 36em/576px and up)
</span><span class="k">@media</span> <span class="p">(</span><span class="n">min-width</span><span class="o">:</span> <span class="m">36em</span><span class="p">)</span> <span class="p">{</span> <span class="nc">...</span> <span class="p">}</span>

<span class="c1">// Medium devices (tablets, 48em/768px and up)
</span><span class="k">@media</span> <span class="p">(</span><span class="n">min-width</span><span class="o">:</span> <span class="m">48em</span><span class="p">)</span> <span class="p">{</span> <span class="nc">...</span> <span class="p">}</span>

<span class="c1">// Large devices (desktops, 62em/992px and up)
</span><span class="k">@media</span> <span class="p">(</span><span class="n">min-width</span><span class="o">:</span> <span class="m">62em</span><span class="p">)</span> <span class="p">{</span> <span class="nc">...</span> <span class="p">}</span>

<span class="c1">// Extra large devices (large desktops, 75em/1200px and up)
</span><span class="k">@media</span> <span class="p">(</span><span class="n">min-width</span><span class="o">:</span> <span class="m">75em</span><span class="p">)</span> <span class="p">{</span> <span class="nc">...</span> <span class="p">}</span></code></pre></figure>

<p>Since we write our source CSS in Sass, all our media queries are available via Sass mixins.</p>

<figure class="highlight"><pre><code class="language-scss" data-lang="scss"><span class="k">@include</span> <span class="nd">media-breakpoint-up</span><span class="p">(</span><span class="n">xs</span><span class="p">)</span> <span class="p">{</span> <span class="nc">...</span> <span class="p">}</span>
<span class="k">@include</span> <span class="nd">media-breakpoint-up</span><span class="p">(</span><span class="n">sm</span><span class="p">)</span> <span class="p">{</span> <span class="nc">...</span> <span class="p">}</span>
<span class="k">@include</span> <span class="nd">media-breakpoint-up</span><span class="p">(</span><span class="n">md</span><span class="p">)</span> <span class="p">{</span> <span class="nc">...</span> <span class="p">}</span>
<span class="k">@include</span> <span class="nd">media-breakpoint-up</span><span class="p">(</span><span class="n">lg</span><span class="p">)</span> <span class="p">{</span> <span class="nc">...</span> <span class="p">}</span>
<span class="k">@include</span> <span class="nd">media-breakpoint-up</span><span class="p">(</span><span class="n">xl</span><span class="p">)</span> <span class="p">{</span> <span class="nc">...</span> <span class="p">}</span>

<span class="c1">// Example usage:
</span><span class="k">@include</span> <span class="nd">media-breakpoint-up</span><span class="p">(</span><span class="n">sm</span><span class="p">)</span> <span class="p">{</span>
  <span class="nc">.some-class</span> <span class="p">{</span>
    <span class="nl">display</span><span class="p">:</span> <span class="nb">block</span><span class="p">;</span>
  <span class="p">}</span>
<span class="p">}</span></code></pre></figure>

<p>We occasionally use media queries that go in the other direction (the given screen size <em>or smaller</em>):</p>

<figure class="highlight"><pre><code class="language-scss" data-lang="scss"><span class="c1">// Extra small devices (portrait phones, less than 36em/576px)
</span><span class="k">@media</span> <span class="p">(</span><span class="n">max-width</span><span class="o">:</span> <span class="m">35</span><span class="mi">.9375em</span><span class="p">)</span> <span class="p">{</span> <span class="nc">...</span> <span class="p">}</span>

<span class="c1">// Small devices (landscape phones, less than 48em/768px)
</span><span class="k">@media</span> <span class="p">(</span><span class="n">max-width</span><span class="o">:</span> <span class="m">47</span><span class="mi">.9375em</span><span class="p">)</span> <span class="p">{</span> <span class="nc">...</span> <span class="p">}</span>

<span class="c1">// Medium devices (tablets, less than 62em/992px)
</span><span class="k">@media</span> <span class="p">(</span><span class="n">max-width</span><span class="o">:</span> <span class="m">61</span><span class="mi">.9375em</span><span class="p">)</span> <span class="p">{</span> <span class="nc">...</span> <span class="p">}</span>

<span class="c1">// Large devices (desktops, less than 75em/1200px)
</span><span class="k">@media</span> <span class="p">(</span><span class="n">max-width</span><span class="o">:</span> <span class="m">74</span><span class="mi">.9375em</span><span class="p">)</span> <span class="p">{</span> <span class="nc">...</span> <span class="p">}</span>

<span class="c1">// Extra large devices (large desktops)
</span><span class="o">//</span> <span class="nt">No</span> <span class="nt">media</span> <span class="nt">query</span> <span class="nt">since</span> <span class="nt">the</span> <span class="nt">extra-large</span> <span class="nt">breakpoint</span> <span class="nt">has</span> <span class="nt">no</span> <span class="nt">upper</span> <span class="nt">bound</span> <span class="nt">on</span> <span class="nt">its</span> <span class="nt">width</span></code></pre></figure>

<p>Once again, these media queries are also available via Sass mixins:</p>

<figure class="highlight"><pre><code class="language-scss" data-lang="scss"><span class="k">@include</span> <span class="nd">media-breakpoint-down</span><span class="p">(</span><span class="n">xs</span><span class="p">)</span> <span class="p">{</span> <span class="nc">...</span> <span class="p">}</span>
<span class="k">@include</span> <span class="nd">media-breakpoint-down</span><span class="p">(</span><span class="n">sm</span><span class="p">)</span> <span class="p">{</span> <span class="nc">...</span> <span class="p">}</span>
<span class="k">@include</span> <span class="nd">media-breakpoint-down</span><span class="p">(</span><span class="n">md</span><span class="p">)</span> <span class="p">{</span> <span class="nc">...</span> <span class="p">}</span>
<span class="k">@include</span> <span class="nd">media-breakpoint-down</span><span class="p">(</span><span class="n">lg</span><span class="p">)</span> <span class="p">{</span> <span class="nc">...</span> <span class="p">}</span></code></pre></figure>

<p>There are also media queries and mixins for targeting a single segment of screen sizes using the minimum and maximum breakpoint widths.</p>

<figure class="highlight"><pre><code class="language-scss" data-lang="scss"><span class="c1">// Extra small devices (portrait phones, less than 36em/576px)
</span><span class="k">@media</span> <span class="p">(</span><span class="n">max-width</span><span class="o">:</span> <span class="m">35</span><span class="mi">.9375em</span><span class="p">)</span> <span class="p">{</span> <span class="nc">...</span> <span class="p">}</span>

<span class="c1">// Small devices (landscape phones, 36em/576px and up)
</span><span class="k">@media</span> <span class="p">(</span><span class="n">min-width</span><span class="o">:</span> <span class="m">36em</span><span class="p">)</span> <span class="nf">and</span> <span class="p">(</span><span class="n">max-width</span><span class="o">:</span> <span class="m">47</span><span class="mi">.9375em</span><span class="p">)</span> <span class="p">{</span> <span class="nc">...</span> <span class="p">}</span>

<span class="c1">// Medium devices (tablets, 48em/768px and up)
</span><span class="k">@media</span> <span class="p">(</span><span class="n">min-width</span><span class="o">:</span> <span class="m">48em</span><span class="p">)</span> <span class="nf">and</span> <span class="p">(</span><span class="n">max-width</span><span class="o">:</span> <span class="m">61</span><span class="mi">.9375em</span><span class="p">)</span> <span class="p">{</span> <span class="nc">...</span> <span class="p">}</span>

<span class="c1">// Large devices (desktops, 62em/992px and up)
</span><span class="k">@media</span> <span class="p">(</span><span class="n">min-width</span><span class="o">:</span> <span class="m">62em</span><span class="p">)</span> <span class="nf">and</span> <span class="p">(</span><span class="n">max-width</span><span class="o">:</span> <span class="m">74</span><span class="mi">.9375em</span><span class="p">)</span> <span class="p">{</span> <span class="nc">...</span> <span class="p">}</span>

<span class="c1">// Extra large devices (large desktops, 75em/1200px and up)
</span><span class="k">@media</span> <span class="p">(</span><span class="n">min-width</span><span class="o">:</span> <span class="m">75em</span><span class="p">)</span> <span class="p">{</span> <span class="nc">...</span> <span class="p">}</span></code></pre></figure>

<p>These media queries are also available via Sass mixins:</p>

<figure class="highlight"><pre><code class="language-scss" data-lang="scss"><span class="k">@include</span> <span class="nd">media-breakpoint-only</span><span class="p">(</span><span class="n">xs</span><span class="p">)</span> <span class="p">{</span> <span class="nc">...</span> <span class="p">}</span>
<span class="k">@include</span> <span class="nd">media-breakpoint-only</span><span class="p">(</span><span class="n">sm</span><span class="p">)</span> <span class="p">{</span> <span class="nc">...</span> <span class="p">}</span>
<span class="k">@include</span> <span class="nd">media-breakpoint-only</span><span class="p">(</span><span class="n">md</span><span class="p">)</span> <span class="p">{</span> <span class="nc">...</span> <span class="p">}</span>
<span class="k">@include</span> <span class="nd">media-breakpoint-only</span><span class="p">(</span><span class="n">lg</span><span class="p">)</span> <span class="p">{</span> <span class="nc">...</span> <span class="p">}</span>
<span class="k">@include</span> <span class="nd">media-breakpoint-only</span><span class="p">(</span><span class="n">xl</span><span class="p">)</span> <span class="p">{</span> <span class="nc">...</span> <span class="p">}</span></code></pre></figure>

<p>Similarly, media queries may span multiple breakpoint widths:</p>

<figure class="highlight"><pre><code class="language-scss" data-lang="scss"><span class="c1">// Example
// Medium devices (tablets, 48em/768px) up to Extra Large devices (desktops, 75em/1200px)
</span><span class="k">@media</span> <span class="p">(</span><span class="n">min-width</span><span class="o">:</span> <span class="m">48em</span><span class="p">)</span> <span class="nf">and</span> <span class="p">(</span><span class="n">max-width</span><span class="o">:</span> <span class="m">74</span><span class="mi">.9375em</span><span class="p">)</span> <span class="p">{</span> <span class="nc">...</span> <span class="p">}</span></code></pre></figure>

<p>The Sass mixin for targeting the same screen size range would be:</p>

<figure class="highlight"><pre><code class="language-scss" data-lang="scss"><span class="k">@include</span> <span class="nd">media-breakpoint-between</span><span class="p">(</span><span class="n">md</span><span class="o">,</span> <span class="n">xl</span><span class="p">)</span> <span class="p">{</span> <span class="nc">...</span> <span class="p">}</span></code></pre></figure>

<h2 id="breakpoint-nomenclature">Breakpoint Nomenclature</h2>

<p>Since Figuration is built as a mobile first framework, by default, we have created our class naming structure to <strong>not</strong> use the smallest breakpoint designation, except for a few certain instances.  However, this is configurable for custom builds by overriding <code class="highlighter-rouge">$enable-bp-smallest</code> option referenced in the <a href="/get-started/options/#global-options">Global Options</a> settings.</p>

<p>Classes that apply to all breakpoints, from <code class="highlighter-rouge">xs</code> to <code class="highlighter-rouge">xl</code>, have no breakpoint abbreviation in them. This is because those classes are applied from <code class="highlighter-rouge">min-width: 0</code> and up, and thus are not bound by a media query. The remaining breakpoints, however, do include a breakpoint abbreviation.</p>

<p>Building from the base component or utility name, most classes are named using the format <code class="highlighter-rouge">.base-{direction}-{dimension}</code> for <code class="highlighter-rouge">xs</code> and <code class="highlighter-rouge">.base-{breakpoint}-{direction}-{dimension}</code> for <code class="highlighter-rouge">sm</code>, <code class="highlighter-rouge">md</code>, <code class="highlighter-rouge">lg</code>, and <code class="highlighter-rouge">xl</code>.  In the case of some utilites that have abbreviated names, such as the <a href="/utilities/spacing">spacing utilities</a>, the format is <code class="highlighter-rouge">.abbr{direction}-{breakpoint}-{dimension}</code>.</p>

<p>The only special case is where there are <code class="highlighter-rouge">*-up</code> or <code class="highlighter-rouge">*-down</code> variants for certain components or classes, the breakpoint designation.  Only then is the minimum breakpoint designation used in the class name.</p>

<p>A quick example using some of Figuration’s <a href="/utilities/typography">Typography utility classes</a>.</p>

<div class="cf-example" data-example-id="">
<p class="text-end">Right aligned text on all viewport sizes. (<strong>No <code>xs</code> class designation!</strong>)</p>
<p class="text-sm-end">Right aligned text on viewports sized SM (small) or wider.</p>
<p class="text-md-end">Right aligned text on viewports sized MD (medium) or wider.</p>
<p class="text-lg-end">Right aligned text on viewports sized LG (large) or wider.</p>
<p class="text-xl-end">Right aligned text on viewports sized XL (extra-large) or wider.</p>
</div>
<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;p</span> <span class="na">class=</span><span class="s">"text-end"</span><span class="nt">&gt;</span>Right aligned text on all viewport sizes. (<span class="nt">&lt;strong&gt;</span>No <span class="nt">&lt;code&gt;</span>xs<span class="nt">&lt;/code&gt;</span> class designation!<span class="nt">&lt;/strong&gt;</span>)<span class="nt">&lt;/p&gt;</span>
<span class="nt">&lt;p</span> <span class="na">class=</span><span class="s">"text-sm-end"</span><span class="nt">&gt;</span>Right aligned text on viewports sized SM (small) or wider.<span class="nt">&lt;/p&gt;</span>
<span class="nt">&lt;p</span> <span class="na">class=</span><span class="s">"text-md-end"</span><span class="nt">&gt;</span>Right aligned text on viewports sized MD (medium) or wider.<span class="nt">&lt;/p&gt;</span>
<span class="nt">&lt;p</span> <span class="na">class=</span><span class="s">"text-lg-end"</span><span class="nt">&gt;</span>Right aligned text on viewports sized LG (large) or wider.<span class="nt">&lt;/p&gt;</span>
<span class="nt">&lt;p</span> <span class="na">class=</span><span class="s">"text-xl-end"</span><span class="nt">&gt;</span>Right aligned text on viewports sized XL (extra-large) or wider.<span class="nt">&lt;/p&gt;</span></code></pre></div>

<h2 id="z-index">Z-index</h2>

<p>Several Figuration components utilize <code class="highlighter-rouge">z-index</code>, the CSS property that helps control layout by providing a third axis to arrange content. We utilize a default z-index scale in Figuration that’s been designed to properly layer navigation, tooltips and popovers, modals, and more.</p>

<p>Customizing these values is most likely not needed, and we don’t recommend customizing the values.  However, if you change one, you will need to review and possibly update all of the other values.</p>

<figure class="highlight"><pre><code class="language-scss" data-lang="scss"><span class="nv">$zindex-dropdown-backdrop</span><span class="p">:</span>  <span class="m">990</span> <span class="o">!</span><span class="nb">default</span><span class="p">;</span>
<span class="nv">$zindex-dropdown</span><span class="p">:</span>          <span class="m">1000</span> <span class="o">!</span><span class="nb">default</span><span class="p">;</span>
<span class="nv">$zindex-fixed</span><span class="p">:</span>      <span class="m">1020</span> <span class="o">!</span><span class="nb">default</span><span class="p">;</span>
<span class="nv">$zindex-sticky</span><span class="p">:</span>     <span class="m">1020</span> <span class="o">!</span><span class="nb">default</span><span class="p">;</span>
<span class="nv">$zindex-popover</span><span class="p">:</span>           <span class="m">1025</span> <span class="o">!</span><span class="nb">default</span><span class="p">;</span>
<span class="nv">$zindex-tooltip</span><span class="p">:</span>           <span class="m">1030</span> <span class="o">!</span><span class="nb">default</span><span class="p">;</span>
<span class="nv">$zindex-modal-backdrop</span><span class="p">:</span>    <span class="m">1040</span> <span class="o">!</span><span class="nb">default</span><span class="p">;</span>
<span class="nv">$zindex-modal</span><span class="p">:</span>             <span class="m">1050</span> <span class="o">!</span><span class="nb">default</span><span class="p">;</span></code></pre></figure>

<p>Background elements—like the backdrops that allow click-dismissing—tend to reside on a lower <code class="highlighter-rouge">z-index</code>s, while navigation and popovers utilize higher <code class="highlighter-rouge">z-index</code>s to ensure they overlay surrounding content.  Modals get a higher z-index so they are placed above popover/tooltip items, in the case that one or more of those items is held open.</p>

            </main>
        </div>

        <div class="topLink">
            <a href="#content">Top of Page <span class="caret"></span></a>
        </div>
    </div>

    <footer class="cf-footer">
    <div class="container">
        <p class="mb-0">
            Current version: 3.0.0
        </p>
        <ul class="footer-links d-inline-block d-sm-block mx-auto mx-sm-0">
            <li><a href="/about/overview/">About</a></li>
            <li><a href="https://github.com/cast-org/figuration">GitHub Project</a></li>
            <li><a href="https://github.com/cast-org/figuration/issues">Issues</a></li>
            <li><a href="https://twitter.com/figuration_org">Twitter</a></li>
        </ul>
        <p>
            &copy; 2013-2017 <a href="http://www.cast.org">CAST, Inc.</a>
            <br />
            Portions: &copy; 2011-2017 the Bootstrap Authors and Twitter, Inc. Licensed under <a href="https://github.com/twbs/bootstrap/blob/master/LICENSE">the MIT license</a> or <a href="https://github.com/twbs/bootstrap/blob/master/docs/LICENSE">CC BY 3.0</a>.
        <p>
            Code licensed <a rel="license" href="https://github.com/cast-org/figuration/blob/master/LICENSE">MIT</a>,
            docs <a rel="license" href="https://github.com/cast-org/figuration/blob/master/docs/LICENSE">CC BY 4.0</a>.
        </p>

        <hr />

        <p class="font-weight-bold mb-0_25">Funding generously provided by:</p>
        <div class="media footer-partners">
            <div class="d-flex me-0_5">
                <img src="/assets/img/aem-logo.png" class="media-object" width="40" height="40" alt="AEM logo" />
            </div>
            <div class="media-body">
                <span class="h6 partner-title"><a href="http://aem.cast.org">National Center on Accessible Educational Materials at CAST, Inc.</a></span><br />
                <small>Disclaimer: This does not necessarily represent endorsement by or the policies of the National Center on Accessible Educational Materials, the US Department of Education, and the US Federal Government.</small>
            </div>
        </div>

    </div>
</footer>


    
    <script src="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.js"></script>
<script>
docsearch({
    apiKey: '3b9b6e000775400f4833a14c4daa6049',
    indexName: 'figuration',
    inputSelector: '#docsearch',
    transformData: function (hits) {
      return hits.map(function (hit) {
        hit.url = hit.url.replace('http://figuration.org', '');
        return hit;
      });
    },
    debug: true // Set debug to true if you want to inspect the dropdown
});
</script>

    
</body>
</html>
