<!DOCTYPE html>
<html lang="en-us">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

<meta name="description" content="CAST Figuration - A feature rich, responsive, mobile first, accessible, front-end framework based on Bootstrap.">

<title>
  
    Flexbox &#124; CAST Figuration
  
</title>

<!-- Favicons -->
<link rel="apple-touch-icon" href="/apple-touch-icon.png">
<link rel="icon" href="/favicon.ico">

<!-- Core CSS -->

  <link href="/dist/css/figuration.min.css" rel="stylesheet">



<!-- Algolia DocSearch CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css" />


<!-- Docs CSS -->

  <link href="/assets/css/docs.min.css" rel="stylesheet">


<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/assets/js/vendor/jquery.min.js"><\/script>')</script>

<!-- Core JS -->

  <script src="/dist/js/figuration.min.js"></script>


<!-- Docs JS -->

  <script src="/assets/js/docs.min.js"></script>


<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/assets/js/ie10-viewport-bug-workaround.js"></script>
<script src="/assets/js/ie-emulation-modes-warning.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-9130143-15', 'auto');
  ga('send', 'pageview');
</script>

</head>
<body>
    <a class="skipnav" href="#content">Skip to main content</a>

    <div class="bg-cyan-500 text-center font-weight-bold p-1">
<a href="https://figuration-org.github.io/figuration-preview/" class="text-light">Figuration v3 Preview Available!</a>
</div>
<header class="navbar navbar-full navbar-dark cf-header">
    <div class="container">
        <nav>
            <a class="navbar-brand" href="/">CAST Figuration</a>
            <div class="hide-lg-up float-right">
                <button class="navbar-toggler btn btn-toggler" type="button" data-cfw="collapse" data-cfw-collapse-toggle="#cf-topnav" data-cfw-collapse-hidden="false" aria-label="Toggle navigation">
                    <span class="icon-menu" aria-hidden="true">&#8801;</span>
                </button>
            </div>
            
            <div class="hide-xs-down float-right mt-0_25 mr-1 mr-lg-0">
                <form class="form-inline docsearch-wrapper">
                    <input type="search" class="docsearch form-control form-control-sm" id="docsearch" placeholder="Search docs..." aria-label="Search the documentation" />
                </form>
            </div>
            
            <div class="collapse navbar-toggleable-md" id="cf-topnav">
                <ul class="nav navbar-nav">
                    <li class="nav-item ">
                        <a href="/get-started/quick-start/" class="nav-link">Get Started</a>
                    </li>
                    <li class="nav-item active">
                        <a href="/layout/overview/" class="nav-link">Layout</a>
                    </li>
                    <li class="nav-item ">
                        <a href="/content/reboot/" class="nav-link">Content</a>
                    </li>
                    <li class="nav-item ">
                        <a href="/components/alerts/" class="nav-link">Components</a>
                    </li>
                    <li class="nav-item ">
                        <a href="/utilities/borders/" class="nav-link">Utilities</a>
                    </li>
                    <li class="nav-item ">
                        <a href="/widgets/overview/" class="nav-link">Widgets</a>
                    </li>
                    <li class="nav-item ">
                        <a href="/about/overview/" class="nav-link">About</a>
                    </li>
                    
                </ul>
            </div>
        </nav>
    </div> <!-- /.container -->
</header>

    <div class="jumbotron jumbotron-full jumbotron-docs">
        <div class="container">
            
    <div class="h1">Layout</div>
    <p class="lead">
        Options for structuring your pages, including global styles, required scaffolding, grid system, and more.
    </p>


        </div>
    </div>

    <main class="container">
        <div class="row">
            <div class="col-12 col-md-3 cf-sidebar">
                <nav class="cf-links">


  
  

  

  
  

  
    <div class="h4">Layout</div>
    <ul class="nav">
      
        

        
        

        <li class="nav-item">
          <a href="/layout/overview/" class="nav-link ">
            Overview
          </a>
        </li>
      
        

        
        

        <li class="nav-item">
          <a href="/layout/grid/" class="nav-link ">
            Grid
          </a>
        </li>
      
        

        
        

        <li class="nav-item">
          <a href="/layout/responsive-utilities/" class="nav-link ">
            Responsive Utilities
          </a>
        </li>
      
        

        
        

        <li class="nav-item">
          <a href="/layout/flexbox/" class="nav-link active">
            Flexbox
          </a>
        </li>
      
    </ul>
  

  
  

  

  
  

  

  
  

  

  
  

  

  
  

  

</nav>

            </div>
            <div class="col-12 col-md-9 cf-content">
                <h1 class="cf-title" id="content">
                    Flexbox
                    
                </h1>

                <p>Flexbox support is coming to Figuration.  The goal is to have both an opt-in system via classes, as well as a full option that forces the use of flexbox on supported components.</p>

<h2 class="no_toc" id="contents">Contents</h2>

<ul id="markdown-toc">
  <li><a href="#whats-included" id="markdown-toc-whats-included">What’s Included</a></li>
  <li><a href="#why-flexbox" id="markdown-toc-why-flexbox">Why Flexbox?</a></li>
  <li><a href="#opt-in-flexbox-mode" id="markdown-toc-opt-in-flexbox-mode">Opt-in Flexbox Mode</a></li>
  <li><a href="#full-flexbox-mode" id="markdown-toc-full-flexbox-mode">Full Flexbox Mode</a></li>
  <li><a href="#browser-support" id="markdown-toc-browser-support">Browser Support</a></li>
</ul>

<h2 id="whats-included">What’s Included</h2>

<p>Flexbox support is available for a number of Figuration’s components:</p>

<ul>
  <li><a href="/layout/grid/#flexbox">Grid Layout</a>, which switches from <code class="highlighter-rouge">float</code>s to <code class="highlighter-rouge">display: flex;</code>.</li>
  <li><a href="/components/button-group/">Button Group</a>, which switches from <code class="highlighter-rouge">float</code>s to <code class="highlighter-rouge">display: flex;</code>.</li>
  <li><a href="/components/cards/#decks">Card Deck</a>, which switches from <code class="highlighter-rouge">display: table;</code> to <code class="highlighter-rouge">display: flex;</code>.</li>
  <li><a href="/components/cards/#groups">Card Group</a>, which switches from <code class="highlighter-rouge">display: table;</code> to <code class="highlighter-rouge">display: flex;</code>.</li>
  <li><a href="/components/grid-lines/">Grid Lines</a>, which switches from <code class="highlighter-rouge">display: table;</code> to <code class="highlighter-rouge">display: flex;</code>.</li>
  <li><a href="/components/input-group/">Input Group</a>, which switches from <code class="highlighter-rouge">display: table;</code> to <code class="highlighter-rouge">display: flex;</code>.</li>
  <li><a href="/components/list-group/">List Group</a>, which switches from <code class="highlighter-rouge">block</code>s to <code class="highlighter-rouge">display: flex;</code>.</li>
  <li><a href="/components/media-object/">Media Object</a>, which switches from <code class="highlighter-rouge">display: table;</code> to <code class="highlighter-rouge">display: flex;</code>.</li>
  <li><a href="/components/navs/">Navs</a>, which switches from <code class="highlighter-rouge">float</code>s to <code class="highlighter-rouge">display: flex;</code>.</li>
  <li><a href="/components/navbar/#navbar-group">Navbar Group</a>, which switches from <code class="highlighter-rouge">display: table;</code> to <code class="highlighter-rouge">display: flex;</code>.</li>
  <li><a href="/utilities/flexbox/">Utility classes</a>, for alignment options for flexbox enabled components.</li>
</ul>

<p>Vendor prefixes are provided in our compiled CSS with <a href="https://github.com/postcss/autoprefixer">Autoprefixer</a> via Grunt. Some bugs in IE10-11’s Flexbox implementation are worked around via <a href="https://github.com/luisrudge/postcss-flexbugs-fixes">postcss-flexbugs-fixes</a>.</p>

<h2 id="why-flexbox">Why Flexbox?</h2>

<p>In a nutshell, flexbox provides simpler and more flexible layout options in CSS. More specifically, it provides:</p>

<ul>
  <li>Easy vertical alignment of content within a parent element.</li>
  <li>Easy reordering of content across devices and screen resolutions with the help of media queries.</li>
  <li>Easy CSS-only equal height columns for your grid-based layouts.</li>
</ul>

<p>All these things are possible outside flexbox, but typically require extra hacks and workarounds to do right.</p>

<h2 id="opt-in-flexbox-mode">Opt-in Flexbox Mode</h2>

<p>The opt-in mode is compiled into Figuration’s base CSS by default.  This can be controlled by changing the <code class="highlighter-rouge">$enable-flex-opt</code> Sass variable.</p>

<p>To use the opt-in mode, simply add another class to parent element. An example would be to use the grid layout in flexbox mode, you would add a <code class="highlighter-rouge">.row-flex</code> class to the <code class="highlighter-rouge">.row</code> element.  More information and caveats can be found in the documentation for each component, see the <a href="#whats-included">What’s Included section</a> above.</p>

<p>A quick list of the opt-in classes are:</p>

<ul>
  <li><code class="highlighter-rouge">.row-flex</code></li>
  <li><code class="highlighter-rouge">.btn-group-flex</code></li>
  <li><code class="highlighter-rouge">.btn-group-vertical-flex</code></li>
  <li><code class="highlighter-rouge">.card-deck-flex</code></li>
  <li><code class="highlighter-rouge">.card-group-flex</code></li>
  <li><code class="highlighter-rouge">.gridline-flex</code></li>
  <li><code class="highlighter-rouge">.input-group-flex</code></li>
  <li><code class="highlighter-rouge">.list-group-flex</code></li>
  <li><code class="highlighter-rouge">.media-flex</code></li>
  <li><code class="highlighter-rouge">.nav-flex</code></li>
  <li><code class="highlighter-rouge">.navbar-group-flex</code></li>
</ul>

<h2 id="full-flexbox-mode">Full Flexbox Mode</h2>

<p>If you’re familiar with modifying variables in Sass—or any other CSS preprocessor—you’ll be right at home to move into flexbox mode.  Compiling the Sass in full flexbox mode will not generate the opt-in flexbox classes, as they are no longer needed.</p>

<ol>
  <li>Open the <code class="highlighter-rouge">_settings.scss</code> file and find the <code class="highlighter-rouge">$enable-flex-full</code> variable.
    <ul>
      <li>You may also copy the setting into the <code class="highlighter-rouge">_custom.scss</code> file if you wish to use a custom configuration.</li>
    </ul>
  </li>
  <li>Change it from <code class="highlighter-rouge">false</code> to <code class="highlighter-rouge">true</code>.</li>
  <li>Recompile, and done!</li>
</ol>

<h2 id="browser-support">Browser Support</h2>

<p>Using/enabling flexbox means <strong>reduced browser and device support:</strong></p>

<ul>
  <li>Internet Explorer 9 and below do not support flexbox.</li>
  <li>Internet Explorer 10 has a few known quirks (see the “Known issues” tab in <a href="http://caniuse.com/#feat=flexbox">Can I use…</a>), requires using a prefix, and only supports the syntax from the old 2012 version of the spec.</li>
</ul>

<p>Please be extra conscious of your user base when enabling flexbox in your project. Visit <a href="http://caniuse.com/#feat=flexbox">Can I use…</a> for details on browser support of flexbox.</p>

<p>There are also a number of browser bugs and cross-browser issues with flexbox.  Some of which do not have possible workarounds, while there are other that do.  Check out the <a href="https://github.com/philipwalton/flexbugs">Flexbugs</a> repository for additional information.</p>

            </div>
        </div>

        <div class="topLink">
            <a href="#content">Top of Page <span class="caret"></span></a>
        </div>
    </main>

    <footer class="cf-footer">
    <div class="container">
        Current version: 2.0.0
        <ul class="footer-links">
            <li><a href="https://github.com/cast-org/figuration">GitHub Project</a></li>
            <li><a href="https://github.com/cast-org/figuration/issues">Issues</a></li>
            <li><a href="https://twitter.com/figuration_org">Twitter</a></li>
        </ul>
        <p>
            &copy; 2013-2017 <a href="http://www.cast.org">CAST, Inc.</a>
            <br />
            Portions: &copy; 2011-2016 the Bootstrap Authors and Twitter, Inc. Licensed under <a href="https://github.com/twbs/bootstrap/blob/master/LICENSE">the MIT license</a> or <a href="https://github.com/twbs/bootstrap/blob/master/docs/LICENSE">CC BY 3.0</a>.
        <p>
            Code licensed <a rel="license" href="https://github.com/cast-org/figuration/blob/master/LICENSE">MIT</a>,
            docs <a rel="license" href="https://github.com/cast-org/figuration/blob/master/docs/LICENSE">CC BY 4.0</a>.
        </p>

        <hr />

        <strong>Funding generously provided by:</strong>
        <div class="media footer-partners">
            <div class="media-left">
                <img src="/assets/img/aem-logo.png" class="media-object" width="40" height="40" alt="AEM logo" />
            </div>
            <div class="media-body">
                <span class="h6 partner-title"><a href="http://aem.cast.org">National Center on Accessible Educational Materials at CAST, Inc.</a></span><br />
                <small>Disclaimer: This does not necessarily represent endorsement by or the policies of the National Center on Accessible Educational Materials, the US Department of Education, and the US Federal Government.</small>
            </div>
        </div>

    </div>
</footer>


<script src="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.js"></script>
<script>
docsearch({
    apiKey: '3b9b6e000775400f4833a14c4daa6049',
    indexName: 'figuration',
    inputSelector: '#docsearch'
});
</script>


</body>
</html>
