// stylelint-disable selector-no-qualifying-type
.cf-sidebar {
    position: relative;
    z-index: 1;
    padding-top: .5rem;
    padding-bottom: 0;
    background-color: palette($uibase, 50);
    border-bottom: 1px solid $uibase-200;

    @include media-breakpoint-up(md) {
        padding-top: 0;
        padding-bottom: 1rem;
        //overflow: hidden;
        border-right: 1px solid $uibase-200;
        border-bottom: 0;

        @supports (position: sticky) {
            position: sticky;
            top: 3.375rem;
            max-height: calc(100vh - 3.375rem);
        }
    }

    @include media-breakpoint-up(lg) {
        max-width: 20.75%;
    }
}

.cf-sidebar-header {
    margin-bottom: .125rem;
    white-space: nowrap;
}

.cf-links {
    padding-top: .5rem;
    border-top: 1px solid $border-color;

    @include media-breakpoint-up(md) {
        // stylelint-disable-next-line declaration-no-important
        display: block !important;
        border-top: 0;

        @supports (position: sticky) {
            max-height: calc(100vh - 3.375rem);
            padding-right: 1rem;
            padding-bottom: 1rem;
            margin-right: -1rem;
            overflow-x: visible;
            overflow-y: auto;

            .cf-search ~ & {
                max-height: calc(100vh - 3.375rem - 3.125rem - 1px);
            }
        }
    }

    a {
        display: block;
        padding: 0;
        color: $uibase-700;
        text-decoration: none;

        .nav-link-inner {
            display: inline-block;
            padding: .125rem .5rem;
        }

        &.active {
            font-weight: $font-weight-bolder;
            color: $uibase-900;
        }

        @include hover-focus() {
            outline: 0;

            .nav-link-inner {
                color: $white;
                text-decoration: none;
                background-color: $info;
                @include border-radius($border-radius);
            }
        }

        &.disabled {
            color: $navbar-light-disabled-color;
            background-color: transparent;
            border-color: transparent;
        }
    }

    .has-children {
        .caret {
            position: relative;
            left: -.25em;

            &::after {
                @include caret-end($caret-border-width);
            }
        }
        .open .caret {
            &::after {
                @include caret-down($caret-border-width);
            }
        }
        .nav-link {
            margin-left: 1rem;
        }
    }
}
