// stylelint-disable selector-no-qualifying-type

.cf-header {
    background-color: #246;
}

@include media-breakpoint-up(md) {
    @supports (position: sticky) {
        .cf-header {
            position: sticky;
            top: 0;
            //z-index: $zindex-sticky;
            z-index: 1045;
        }

        .cf-content {
            > h1[id],
            > h2[id],
            > h3[id],
            > h4[id],
            > h5[id] {
                &::before {
                    position: relative;
                    z-index: -1;
                    display: block;
                    height: 4.5rem;
                    margin-top: -4.5rem;
                    visibility: hidden;
                    content: "";
                }
            }
        }
    }
}

.cf-header-logo {
    width: 2rem;
    height: 2rem;
}

.cf-header-menu {
    display: inline-block;
    margin-top: -.25rem;
    @include font-size(1.5rem);
    font-weight: $font-weight-bold;
    line-height: .75;
}
